## Awestruct
_tmp
_site
.awestruct
.sass-cache
Gemfile.lock

## OS related
*.DS_Store

## IDE
.settings
.project
.buildpath
.idea
*.iml
*~

## Ruby tools
.rvmrc
.bundle
_bin

## Infinispan sources and docs
infinispan_srcs
docs
_stg
_tmp.zip
infinispan-simple-tutorials

*.swp

