## Awestruct
_tmp
_site
.awestruct
.sass-cache

## OS related
*.DS_Store

## IDE
.settings
.project
.buildpath
.idea
*.iml

## Ruby tools
.rvmrc

## Infinispan sources and docs
infinispan_srcs
docs
_stg

*.swp

