---
layout: project
title: Books
---
%h2 Documentation for Older Versions of Infinispan

%hr
%p Welcome to the collection of books and documentation for older versions of Infinispan.

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th{:width => "15%", :style => "width: 15%;"} Version
      %th
      %th
      %th
      %th
      %th
      %th
  %tbody
    - site.ispn.old.each do |ver, cfg|
      - doc = cfg.docs
      - minor_version = cfg.minor_version
      %tr
        %td
          #{minor_version}
        %td
          - if doc.has_key?("javadocs")
            %a{:href=>doc.javadocs} Javadocs
        %td
          - if doc.has_key?("configdocs")
            %a{:href=>doc.configdocs} Configuration Schema
        %td
          - if doc.has_key?("jmxdocs")
            %a{:href=>doc.jmxdocs} JMX Reference
        %td
          - if doc.has_key?("user_guide")
            %a{:href=>doc.user_guide} User Guide
        %td
          - if doc.has_key?("server_guide")
            %a{:href=>doc.server_guide} Server Guide
        %td
          - if doc.has_key?("getting_started_guide")
            %a{:href=>doc.getting_started_guide} Getting Started
