---
layout: project
title: Communications
---

.jumbotron
  %h2 Communications
  %p How to communicate with the Infinispan team


.col-md-4
  %h2 StackOverflow
  %p
    If you have questions, are experiencing a bug or want advice on using Infinispan, you can use StackOverflow. We will do our best to answer you as soon as we can.
  %p
    %a.btn.btn-primary{:href => "https://stackoverflow.com/questions/tagged/?tagnames=infinispan&sort=newest", :role => "button"} Visit StackOverflow
  .well
    %p
      %i.icon-thumbs-up.icon-2x.pull-left
      %h4 Etiquette
      If you are asking for help, have you read through the
      %a{:href => "/documentation"} documentation
      first?  You may find your answer there.
    %p
      Also, if you are reporting a bug, have you checked our
      %a{:href => "http://issues.jboss.org/browse/ISPN"} bug tracker
      first?  It may be a known issue.

.col-md-4
  %h2 Chat
  %p
    The Infinispan community uses 
    %a{:href => "https://zulipchat.com/", :target => "_NEW"} Zulip
    for real-time communications. Join us using either a web-browser or a
    %a{:href=>"https://infinispan.zulipchat.com/apps/", :target=>"_new"} dedicated application
    on the
    %a{:href=>"https://infinispan.zulipchat.com/", :target=>"_new"} Infinispan chat.
    %p
      %img(src="/images/chat.png")
.col-md-4
  %h2 Developers Mailing List
  %p
    This is a mailing list geared towards developing Infinispan itself.  It often contains deep, technical discussions on how Infinispan works internally, how new features could be implemented, and is definitely not the place for end user questions such as how to configure, use or even troubleshoot Infinispan.  Please use the User Forums for such questions.
  %p
    If, however, you are helping contribute to Infinispan, we welcome your thoughts, ideas and overall participation on the developers' mailing list.
  %p
    %a.btn.btn-primary{:href => "https://lists.jboss.org/mailman/listinfo/infinispan-dev", :role => "button"} Join the Developers' Mailing List
  .well
    %i.icon-envelope.icon-2x.pull-left
    %h4 Archives
    %p
      Archives of the Infinispan developers' mailing list can be found on
      %a{:href=>"http://markmail.org/search/?q=list%3Aorg.jboss.lists.infinispan-dev", :target=>"_NEW"} MarkMail
      which also has an excellent search interface.

