---
layout: rightcol
rightcol_partial: rightcol-doc-versions.html.haml
title: Documentation
---
%h2 Infinispan community documentation
%p Welcome to the Infinispan documentation, straight from the source! Here you can find help and knowledge provided by the community of contributors.

%p To find available documentation for Infinispan, visit the index page for your version.

%i.icon-circle-arrow-right
%a{:href =>"/release-notes"} Review the Release Notes here.

%h3 Join us
%p Infinispan is actively developed and maintained by a community of generally cool people. We welcome you to chat with us, report issues, suggest changes, or ask questions.
%i.icon-comments-alt
%a(href="/community") Join the Infinispan community!

%h3 Contribute to Infinispan
%p Got an improvement to the source code or want to write some docs?
%i.icon-github
%a{:href => site.ispn.unstable.docs.contributing} Review the Contributer's Guide and submit a PR.

~ content
