---
layout: rightcol
rightcol_partial: rightcol-doc-versions.html.haml
title: Documentation
---
%h2 Infinispan community documentation
%p Welcome to the Infinispan documentation, straight from the source! Here you can find help and knowledge provided by the community of contributors.

%ul.nav.nav-pills
  %li.active
    %a{"data-toggle" => "pill", :href => "#start"} Getting Started
  %li
    %a{"data-toggle" => "pill", :href => "#config"} Configuring
  %li
    %a{"data-toggle" => "pill", :href => "#code"} Developing
  %li
    %a{"data-toggle" => "pill", :href => "#deploy"} Running
  %li
    %a{"data-toggle" => "pill", :href => "#monitor"} Monitoring
.tab-content
  #start.tab-pane.fade.in.active
    %ul.list-group
      %li.list-group-item
        %a{:href => site.ispn.titles.getting_started} Get Started with Infinispan
        %p Dive in to quickly learn the basics.
      %li.list-group-item
        %a{:href => site.ispn.titles.tech_overview} Technical Overview
        %p Find out about Infinispan architecture and capabilities.
      %li.list-group-item
        %a(href="/release-notes/") Release Notes
        %p Review version information.
  #config.tab-pane.fade
    %ul.list-group
      %li.list-group-item
        %a{:href => site.ispn.titles.configuring} Configuring Infinispan
        %p Tailor Infinispan to your needs, from straightforward caching to complex, geographically-distributed data grids.
      %li.list-group-item
        %a{:href => site.ispn.titles.managing} Managing Data in the Grid
        %p Configure Infinispan to manage data with eviction and expiration and persist data with cache stores.
      %li.list-group-item
        %a{:href => site.ispn.titles.extending} Extending Infinispan
        %p Use custom configurations, operations, and components with Infinispan.
  #code.tab-pane.fade
    %ul.list-group
      %li.list-group-item
        %a{:href => site.ispn.titles.embedding} Embedding Infinispan
        %p Run Infinispan as a library within your application.
      %li.list-group-item
        %a{:href => site.ispn.titles.developing} Programming with Infinispan
        %p Develop custom applications that use Infinispan APIs to read, write, encode, serialize, and manipulate data in the grid.
      %li.list-group-item
        %a{:href => site.ispn.titles.integrating} Integrating Infinispan
        %p Use Infinispan with other projects and technologies such as Spring Framework, Apache Lucene, and Hibernate Cache.
      %li.list-group-item
        %a{:href => site.ispn.titles.indexing_querying} Indexing and Querying
        %p Index and query objects in the grid using Infinispan's annotation and search capabilities.
      %li.list-group-item
        %a{:href => site.ispn.titles.hr_protocol} Hot Rod Protocol Reference
        %p Get details about different versions of the Hot Rod protocol.
  #deploy.tab-pane.fade
    %ul.list-group
      %li.list-group-item
        %a{:href => site.ispn.titles.server} Deploying Infinispan in Server Mode
        %p Set up Infinispan servers on bare-metal to provide remote client access.
      %li.list-group-item
        %a{:href => site.ispn.titles.clustering} Creating Infinispan Clusters
        %p Join Infinispan nodes to distribute and replicate data.
      %li.list-group-item
        %a{:href => site.ispn.titles.xsite} Setting Up Cross Site Replication
        %p Back up across multiple data centers quickly and reliably.
      %li.list-group-item
        %a{:href => site.ispn.titles.security} Security Guide
        %p Review security best practices and considerations.
  #monitor.tab-pane.fade
    %ul.list-group
      %li.list-group-item
        %a{:href => site.ispn.titles.monitoring} Monitoring and Administration
        %p Learn how to monitor Infinispan and perform administrative tasks.
      %li.list-group-item
        %a{:href => site.ispn.titles.tuning} Tuning Performance
        %p Optimize JVM settings, memory resources, and network configuration.

%h3 Join us
%p Infinispan is actively developed and maintained by a community of generally cool people. We welcome you to chat with us, report issues, suggest changes, or ask questions.
%i.icon-comments-alt
%a(href="/community") Join the Infinispan community!

%h3 Contribute to Infinispan
%p Got an improvement to the source code or want to write some docs?
%i.icon-github
%a{:href => site.ispn.titles.contributing} Review the Contributer's Guide and submit a PR.

~ content
