---
layout: project
title: Documentation
---

.row-fluid
  .hero-unit{:style => "padding: 20px 20px 20px 20px;"}
    %h1 Documentation
    %p The official Infinispan documentation, straight from the source!
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "15%", :style => "width: 15%;"} Version
        %th 
        %th 
        %th 
        %th 
        %th
        %th 
    %tbody
    - if site.ispn.has_key?("unstable")
      %tr
        %td
          #{site.ispn.unstable.minor_version}
          .label.label-warning.pull-right
            %i.icon-warning-sign
            Unstable
        %td
          %a{:href=>site.ispn.unstable.docs.home} Documentation Home
        %td
          %a{:href=>site.ispn.unstable.docs.user_guide} User Guide
        %td
          %a{:href=>site.ispn.unstable.docs.getting_started_guide} Getting Started Guide
        %td
          %a{:href=>site.ispn.unstable.docs.faqs} FAQs
        %td
          %a{:href=>site.ispn.unstable.docs.javadocs} Javadocs
        %td
          %a{:href=>site.ispn.unstable.docs.configdocs} Configuration Schema
    %tr
      %td 
        #{site.ispn.stable.minor_version}
        .label.label-success.pull-right
          %i.icon-check-sign
          Stable
      %td
        %a{:href=>site.ispn.stable.docs.home} Documentation Home
      %td
        %a{:href=>site.ispn.stable.docs.user_guide} User Guide
      %td
        %a{:href=>site.ispn.stable.docs.getting_started_guide} Getting Started Guide
      %td
        %a{:href=>site.ispn.stable.docs.faqs} FAQs
      %td
        %a{:href=>site.ispn.stable.docs.javadocs} Javadocs
      %td
        %a{:href=>site.ispn.stable.docs.configdocs} Configuration Schema
  %table
    %tr
      %td
        %a{:href=>"http://www.packtpub.com/infinispan-data-grid-platform/book"}
        %img{:src => "/images/book.jpg", :style => "float: right;"}
        %i.icon-book.icon-2x.pull-left
        %h2 Dead trees
        %p
          %a{:href=>"http://www.packtpub.com/infinispan-data-grid-platform/book"}
            %i
              %b Infinispan - the Data Grid Platform
          by Infinispan founder
          %a{:href => "https://community.jboss.org/people/manik", :target => "_NEW"} Manik Surtani
          and well-known tech writer
          %a{:href => "https://community.jboss.org/people/f_marchioni", :target => "_NEW"} Francesco Marchioni
          is now available from Packt Publishing, available in print as well as electronically.
  %i
    For versions prior to 5.3.x, please refer to the
    %b 5.3.x documentation.
    %p Javadocs for all versions are available online.

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "15%", :style => "width: 15%;"} Version
        %th
        %th
        %th
        %th
        %th
        %th
    %tbody
      - site.ispn.old.each do |ver, cfg|
        - doc = cfg.docs
        - minor_version = cfg.minor_version 
        %tr
          %td 
            #{minor_version}
          %td
            - if doc.has_key?("home")
              %a{:href=>doc.home} Documentation Home
          %td
            - if doc.has_key?("user_guide")
              %a{:href=>doc.user_guide} User Guide
          %td
            - if doc.has_key?("getting_started_guide")
              %a{:href=>doc.getting_started_guide} Getting Started Guide
          %td
            - if doc.has_key?("faqs")
              %a{:href=>doc.faqs} FAQs
          %td
            - if doc.has_key?("javadocs")
              %a{:href=>doc.javadocs} Javadocs
          %td
            - if doc.has_key?("configdocs")
              %a{:href=>doc.configdocs} Configuration Schema
            

%hr
%h2 Community Help
%p Infinispan is backed by an active community of developers, end users, content producers and generally cool people.  :)
%dl.dl-horizontal
  %dt
    %i.icon-bookmark
    User Forums
    %dd can help answer questions you have and be a point of discussion and reference for using Infinispan
  %dt
    %i.icon-comments-alt
    IRC
    %dd
      is our real-time chat location. Join us on the 
      %code #infinispan
      IRC channel on 
      %a{:href=>"http://freenode.net/", :target=>"_new"}Freenode.
      Join in to talk to us in real time!
      %a.btn{:href => "/community", :role => "button"} Talk to us
