---
layout: project
title: Download archive
---
.row
  .col-md-12
    %h4
      Download older versions of Infinispan
    %p
      This page contains links to the latest downloads available for each
      %code major.minor
      release of Infinispan.
    .alert.alert-info
      If possible, you should upgrade to a more recent release of Infinispan, as our support policy for older release is quite limited.
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Version
          %th Release date
          %th Release notes
          %th Downloads
          %th Maven/Gradle/Ivy
          %th Container Images
      %tbody
        - site.ispn.old.each do |ver, info|
          = partial( 'download-tbl-row.html.haml', {"version" => ver, "info" => info} )
