---
layout: project
title: Download
---

.row
  .col-md-12
    %h2
      Download Infinispan
    %p
      This page contains links to the latest downloads available for the current stable and development releases of Infinispan. 
      Older versions are available in the 
      %a{href:"/download-archive"} archive.
    .panel.panel-primary
      .panel-heading Note
      .panel-body
        Starting with Infinispan 10, we no longer offer a downloadable distribution of the embedded artifacts. 
        Use your favourite dependency management tool (Maven / Gradle / Ivy) using the provided instructions.
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Version
          %th Information
          %th Downloads
          %th Maven/Gradle/Ivy
          %th Container Images
      %tbody
        - if site.ispn.has_key?("unstable")
          = partial( 'download-tbl-row.html.haml', {"version" => site.ispn.unstable.version, "info" => site.ispn.unstable, "type" => "unstable"} )
        = partial( 'download-tbl-row.html.haml', {"version" => site.ispn.stable.version, "info" => site.ispn.stable, "type" => "stable" } )

.row
  .col-md-12
    %a.btn.btn-success.btn-block{href:"https://www.redhat.com/en/technologies/jboss-middleware/data-grid", target:"_NEW"}
      %span{style: "font-size:25px;line-height:normal;"} Download Red Hat Data Grid, a supported version of Infinispan
      %img(src="https://www.jboss.org/dms/content/common/downloadicon_64px.png")
      

