---
layout: project
title: Experiments
---


.jumbotron
  %h2 Experiments
  %p
    Any open source project has an experimental side as part of its DNA.
    Infinispan goes a step further and experiments with academic and research projects.
  %p
    Why?
    Distributed systems is a hard thing and tons of interesting research is going on.

.row
  .col-md-6
    %h2 Infinispan Ensemble
    %p
      Infinispan Ensemble exposes Infinispan APIs and federates a collection of data grid clusters.
      The set of data grids is seen by the client as a single data grid for which Infinispan Ensemble provides the following user-defined guarantees:
      %ul
        %li
          geographical guarantees: a certain set of data is guaranteed to be duplicated across two geographically separated clusters.
        %li
          dependability: a given set of data is guaranteed to be in at least 
          %i n
          clusters.
      A user can access the data through the set of Infinispan APIs including the key/value APIs and the M/R API.
    %p
      This project opens the door for low latency, local or near-local operations while still guaranteeing business defined dependability or legal guarantees (territoriality constraints for example).
    %p
      This project is a contribution of the
      %a{:href => 'http://unine.ch' }
        University of Neuchatel
      through its participation to the LEADS project.
      %p
        %i.icon-github
        You can find more information on the contribution's
        %a{:href => 'https://github.com/leads-project/leads-infinispan' }
          GitHub repository.

  .col-md-6
    %h2 Infinispan Atomic Factory
    %p
      Distributed systems aggregate large numbers of heterogeneous components that are subject to failures and asynchrony. To tame such a capricious nature, systems designers resort to non-blocking techniques such as state machine replication. This approach provides consistent non-blocking operations to a shared object replicated at a quorum of machines.
      Atomic Object Factory is an implementation of the state machine replication paradigm over Infinispan. Using the factory is as simple as employing the synchronized keyword in Java: it suffices to call it with a Serializable class, and it wraps for you the dependability, consistency and liveness guarantees of the instantiated object over multiple Infinispan servers. The factory is universal in the sense that it can instantiate an object of any (serializable) class atop an Infinispan cache, making transparently the object replicated and durable, while ensuring strong consistency despite concurrent access.
    %p
      This project opens the door to new use cases to Infinispan that is traditionally served by projects like Apache ZooKeeper.
    %p
      This project is a contribution of the
      %a{:href => 'http://unine.ch' }
        University of Neuchatel
      through its participation to the LEADS project.
      %p
        %i.icon-github
        You can find more information on the contribution's
        %a{:href => 'https://github.com/leads-project/leads-infinispan' }
          GitHub repository.
.row
  .col-md-6
    %h2 Using Apache Gora APIs with Infinispan
    %p
      %a{:href => 'http://gora.apache.org'}
        Apache Gora
      is an abstraction API to persist and execute map reduce operations on big data.
      %p
        Through its LEADS project contribution, the 
        %a{:href => 'http://unine.ch' }
          University of Neuchatel
        has contributed an Apache Gora backend that persists data in Infinispan.
        %br
        This is particularly useful when you want to use projects using Apache Gora to persist their data and execute map / reduce jobs.
        The main example is
        %a{:href => 'http://nutch.apache.org' }
          Apache Nutch
        , a very popular and efficient Web crawler.
        You can now store Nutch data into an Infinispan backed data grid and have the M/R jobs executed on each node.

      %h3 Where to go next?
      %p
        A nice way to see Infinispan Gora in action is to follow Unicrawl's tutorial.
        This tutorial runs a small cluster of Infinispan in which Apache Nutch's data is stored through Apache Gora and using the Avro serialization for Infinispan.
        %a{:href => 'https://github.com/leads-project/Unicrawl#unicrawl' }
          Check the tutorial.
      %p
        %i.icon-github
        You can find the code and more information on the contribution's
        %a{:href => 'https://github.com/leads-project/gora-infinispan' }
          GitHub repository.

  .col-md-6
    %h2 Serializing data via Apache Avro
    %p
      %a{:href => 'http://avro.apache.org'}
        Apache Avro
      is an efficient and compact serialization format.
      %p
        Through its LEADS project contribution, the 
        %a{:href => 'http://unine.ch' }
          University of Neuchatel
        has contributed an Avro backend to store, retrieve and query Avro defined types via the HotRod protocol.
        %br
        This is particularly useful if you want to store data in this portable format
        and if you want to share data with Avro consuming applications.

      %h3 Where to go next?
      %p
        A nice way to see the Apache Avro serialization in action is to follow Unicrawl's tutorial.
        This tutorial runs a small cluster of Infinispan in which Apache Nutch's data is stored through Apache Gora and using the Avro serialization for Infinispan.
        %a{:href => 'https://github.com/leads-project/Unicrawl#unicrawl' }
          Check the tutorial.
      %p
        %i.icon-github
        You can find the code and more information on the contribution's
        %a{:href => 'https://github.com/leads-project/infinispan-avro' }
          GitHub repository.
