---
layout: project
title: Infinispan Features
---
.row-fluid
  .hero-unit{:style => "padding: 20px 20px 20px 20px;"}
    %h1 Infinispan Features

  %h2
  .row-fluid#equalHeightsB
    .span6
      %i.enormous-icon.icon-truck.pull-left.icon-2x
      %h3 In-memory local and clustered cache
      %ul
        %li Local, Invalidation, Replicated and Distributed cache modes
        %li Specify how many copies of the data you want
        %li Choose between storing object references or compact binary representations
      %i.enormous-icon.fa-th-large.pull-left.icon-2x
      %h3 Clustering
      %ul
        %li UDP and TCP clustering
        %li Multiple discovery algorithms for elastic node provisioning
        %li Partition handling detects split brain scenarios and reduces availability to provide consistency in such situations
        %li Cross-site clustering for geographic multiple site / disaster recovery scenarios
        %li High-speed serialization built on JBoss Marshalling
        %li Group entries so that they are co-located on the same node
        %li Tune consistent hashing so that entries are stored on specific nodes
      %i.enormous-icon.fa-clock-o.pull-left.icon-2x
      %h3 Expiration
      %ul
        %li Store immortal and mortal entries in the same cache
        %li Entry mortality defined by lifespan or maximum idle time
      %i.enormous-icon.fa-stack-overflow.pull-left.icon-2x
      %h3 Eviction
      %ul
        %li Define the maximum number of entries to be kept in memory
        %li High performance LIRS and LRU eviction strategies
        %li Passivate evicted entries to a persistent store
      %i.enormous-icon.fa-comment-o.pull-left.icon-2x
      %h3 Listeners
      %ul
        %li Register listeners to detect cache events
        %li Support for local or clustered listeners
        %li Pre- and post-notifications
      %i.enormous-icon.fa-credit-card.pull-left.icon-2x
      %h3 Transactions
      %ul
        %li Concurrency control based on Optimistic and pessimistic locks and total order
        %li Support for XA and synchronization models
        %li Support for Recovery
        %li Integration with JTA/JTS
      %i.enormous-icon.fa-database.pull-left.icon-2x
      %h3 Persistence
      %ul
        %li Store data both in the cache and in an external persistent store
        %li File, JDBC, JPA, Infinispan Remote Server stores avaialable out-of-the-box
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Indexing and querying
      %ul
        %li Indexed and indexless queries
        %li Optionally stores indexes in the caches
        %li Synchronous and asynchronous indexing engine
        %li Integration with Apache Lucene via Hibernate Search
    .span6
      %i.enormous-icon.fa-cog.pull-left.icon-2x
      %h3 Code execution
      %ul
        %li High-performance multi-threaded Map/Reduce
        %li Distributed executor
      %i.enormous-icon.icon-plane.pull-left.icon-2x
      %h3 Hot Rod Remote Protocol
      %ul
        %li High-performance, language-independent binary protocol
        %li Topology-aware: Dynamically reacts to changes in the server nodes
        %li Consistent-hash-aware: goes directly to the primary owner
        %li Language-independent marshalling of data via ProtoBuf
        %li Clients for Java, C++, C#, Python
      %i.enormous-icon.fa-server.pull-left.icon-2x
      %h3 Remote Server
      %ul
        %li HotRod, REST, Memcached and WebSocket
        %li Compatibility mode ensures data portability between protocols
        %li Deployable filters, converters and cache stores
        %li Server-side scripting (JSR-223) execution 
        %li Based on WildFly server code for performance, manageability and flexibility
      %i.enormous-icon.fa-lock.pull-left.icon-2x
      %h3 Security
      %ul
        %li Cache and CacheManager authorization with support for custom auditing, optionally integrated with the JDK SecurityManager.
        %li Remote client authentication based on SASL and integrated with the Security Realms in the server. 
        %li Clustering authentication and authorization integrated with the Security Realms in the server.
      %i.enormous-icon.fa-wrench.pull-left.icon-2x
      %h3 Configuration / Development
      %ul
        %li Fluent programmatic configuration API
        %li Declarative XML configuration
        %li Single-jar for ease of integration
        %li Atomic object factory supports other types of collections on top of Infinispan
      %i.enormous-icon.fa-heartbeat.pull-left.icon-2x
      %h3 Management and monitoring
      %ul
        %li Local and clustered statistics
        %li Manage both embedded and server via JMX, RHQ and CLI
      %i.enormous-icon.icon-cogs.pull-left.icon-2x
      %h3 Integrations
      %ul
        %li JCache (JSR-107)
        %li Hibernate second-level Cache
        %li WildFly modules
        %li Spring Cache 3.x and 4.x
        %li CDI
        %li OSGi
      


