---
layout: project
title: Get Involved
---

.row-fluid
  .hero-unit
    %h1 Getting Involved
    %p How to contribute

  .row-fluid
    .span6
      %h2 Yup, we're open.
      As an open-source project, the Infinispan community has many entry points. We welcome your participation however it suits your level of interest.
      %br
      %br
      Infinispan is a 100% open source project.  This means that not only is the code open source, free to use and free to modify, the development process too is open.  Core Infinispan engineers are always available on public IRC channels, hold weekly team meetings in the public, publish design documents and roadmaps to public wikis.  And this is where you can get involved.

    .span6
      %h2 Where are we?
      The 
      %a{:href=>"https://community.jboss.org/en/infinispan"}Infinispan space
      on the 
      %a{:href=>"https://community.jboss.org/"}JBoss Community portal
      and the 
      %code #infinispan
      channel on the 
      %a{:href=>"http://freenode.net/"}Freenode IRC network
      are the main channels of communication between community members. Read this page to learn about these and other community resources.
      %br
      Keep in mind that contributing code is not the only way to get involved. You can provide feedback on documentation and tutorials, test the releases, share your visions or just participate in the forum discussions. The various entry points are summarized below. See you there!

  .row-fluid
    .span6
      %h2 Everything's online
      %p
        Our code is online, so is our continuous integration and bugtracker, team meetings are held in public chat rooms, developer discussion mailing lists are public and so are our design wikis.  It's easy to get involved.  Just meet one of the core devs on IRC and say hello.  Or read 
        %a{:href => "https://docs.jboss.org/author/display/ISPN/Contributing+to+Infinispan", :target => "_NEW"}this document.
      %p
        %i.icon-github
        %a{:href => "https://github.com/infinispan", :target => "_NEW"}Code on GitHub
        %br
        %i.icon-bolt 
        %a{:href => "jira.jboss.org/browse/ISPN", :target => "_NEW"}Public issue tracker
        %br
        %i.icon-repeat
        %a{:href => "http://ci.infinispan.org", :target => "_NEW"}Public continuous integration
        %br
        %i.icon-road
        %a{:href => "https://community.jboss.org/wiki/InfinispanRoadmap", :target => "_NEW"}Public project roadmap
        %br
        %i.icon-comments
        %a{:href => "irc://irc.freenode.net/infinispan"}Team meetings and live conversations on IRC
        %br
        %i.icon-envelope 
        %a{:href => "https://lists.jboss.org/mailman/listinfo/infinispan-dev", :target=>"_NEW"}Developer discussions mailing list        
        (
        %a{:href=>"http://markmail.org/search/?q=list%3Aorg.jboss.lists.infinispan-dev", :target=>"_NEW"}archive
        )
        %br
        %i.icon-magic
        %a{:href => "https://community.jboss.org/en/infinispan/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bdocument%5D", :target => "_NEW"} Public design wiki
    
    .span6
      %h2 Project statistics
      %script{:type => "text/javascript", :src => "http://www.ohloh.net/p/329255/widgets/project_factoids_stats.js"}

  %hr

  %h2 Project Stewardship
  / Blurb about Red Hat
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere pellentesque arcu, eu volutpat neque adipiscing quis. Aliquam tempor gravida sapien id egestas. Vestibulum sed rhoncus nulla. Ut magna massa, cursus at mattis in, hendrerit nec ipsum. Aliquam quis lectus velit. Nam lacinia ut diam sed mollis. Aliquam posuere ac dolor ultricies hendrerit. Nunc varius ac magna ut tristique. Proin id erat sed risus sollicitudin laoreet. Donec sagittis lacinia lorem, sed aliquam quam tempus id.

  %h2 Ownership
  / Blurb about Red Hat
  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl. Phasellus vehicula magna sed nulla interdum, a pellentesque eros pulvinar. Nulla imperdiet enim sed aliquet lacinia. Nullam nec dolor hendrerit, vehicula libero vel, laoreet erat. Ut sed ipsum faucibus, dignissim neque nec, cursus quam. Fusce sagittis placerat vestibulum. Vestibulum quis tincidunt nulla.

  %h2 Requirement Definition
  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl.

  %h2 Release Cycle
  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl.

  %h2 Contribution
  %p Pellentesque mattis molestie hendrerit. Praesent ullamcorper euismod dolor eget mattis. Aenean gravida eros et augue suscipit, id vehicula metus ullamcorper. Nullam sit amet mollis elit, a scelerisque nisl.


