---
layout: project
title: Get Started
---

.row-fluid
  .hero-unit
    %h1 Get Started
    %p Get up and running with Infinispan quickly. Let us walk you through it!

.row-fluid
  .span5.quickstarts
    %h2 Quickstarts
    %table.table.table-bordered
      %tbody
      %tr
        %td
          %i.icon-certificate.pull-left
          %b CarMart
          %br
          %i a basic Infinispan example
        %td          
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/carmart/"} Tutorial
      %tr
        %td
          %i.icon-certificate.pull-left
          %b CarMart-TX
          %br
          %i a basic Infinspan example with JTA transactions
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/carmart-tx/"} Tutorial
      %tr
        %td
          %i.icon-certificate.pull-left
          %b HelloWorld-JDG
          %br 
          %i another basic Infinispan example
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/helloworld-jdg/"} Tutorial
      %tr
        %td
          %i.icon-certificate.pull-left
          %b HotRod-Endpoint
          %br
          %i using Infinispan remotely via the Hot Rod protocol
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/hotrod-endpoint/"} Tutorial
      %tr
        %td
          %i.icon-certificate.pull-left
          %b Memcached-Endpoint
          %br
          %i using Infinispan remotely via the Memcached protocol
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/memcached-endpoint/"} Tutorial
      %tr
        %td
          %i.icon-certificate.pull-left
          %b REST-Endpoint
          %br
          %i using Infinispan remotely over ReST
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/rest-endpoint/"} Tutorial
  .span7
    %table
      %tr
        %td
          %a{:href=>"http://www.packtpub.com/infinispan-data-grid-platform/book"}
          %img{:src => "images/book.jpg", :style => "float: right;"}
          %i.icon-book.icon-2x.pull-left
          %h2 Dead trees
          %p
            %a{:href=>"http://www.packtpub.com/infinispan-data-grid-platform/book"}
            %i Infinispan - the Data Grid Platform
            by Infinispan founder
            %a{:href => "https://community.jboss.org/people/manik", :target => "_NEW"} Manik Surtani
            and 
            %a{:href => "https://community.jboss.org/people/f_marchioni", :target => "_NEW"} Francesco Marchioni
            is now available from Packt Publishing, available in print as well as electronically
      %tr
        %td
          .hero-unit
            %i.icon-info.icon-4x.pull-left
            Did you know that some of the Quickstarts are written for the
            %a{:href => "http://www.redhat.com/products/jbossenterprisemiddleware/data-grid/", :target => "_NEW"} JBoss Data Grid,
            (JDG) which is 
            %a{:href => "http://www.redhat.com", :target => "_NEW"} Red Hat's
            officially supported version of Infinispan.  The tutorials are just as valid for Infinispan though, so are still worth a look.

  %h2 Documentation
  %p Official Infinispan documentation is available online:

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Version
        %th 
        %th 
        %th 
        %th 
        %th 
    %tbody
    %tr
      %td 
        #{site.ispn.unstable.minor_version}
        .label.label-warning.pull-right
          %i.icon-warning-sign
          Unstable
      %td
        %a{:href=>site.ispn.unstable.docs.home} Documentation Home
      %td
        %a{:href=>site.ispn.unstable.docs.user_guide} User Guide
      %td
        %a{:href=>site.ispn.unstable.docs.getting_started_guide} Getting Started Guide
      %td
        %a{:href=>site.ispn.unstable.docs.faqs} FAQs
      %td
        %a{:href=>site.ispn.unstable.docs.javadocs} Javadocs
    %tr
      %td 
        #{site.ispn.stable.minor_version}
        .label.label-success.pull-right
          %i.icon-check-sign
          Stable
      %td
        %a{:href=>site.ispn.stable.docs.home} Documentation Home
      %td
        %a{:href=>site.ispn.stable.docs.user_guide} User Guide
      %td
        %a{:href=>site.ispn.stable.docs.getting_started_guide} Getting Started Guide
      %td
        %a{:href=>site.ispn.stable.docs.faqs} FAQs
      %td
        %a{:href=>site.ispn.stable.docs.javadocs} Javadocs
    - # Now loop through old versions
    - for old in site.ispn.old do
      - doc = old[1].docs
      - minor_version = old[1].minor_version 
      - if not doc.home.empty?
        %tr
          %td 
            #{minor_version}
            .label.label-success.pull-right
              %i.icon-check-sign
              Stable
          %td
            %a{:href=>doc.home} Documentation Home
          %td
            %a{:href=>doc.user_guide} User Guide
          %td
            %a{:href=>doc.getting_started_guide} Getting Started Guide
          %td
            %a{:href=>doc.faqs} FAQs
          %td
            %a{:href=>doc.javadocs} Javadocs
%hr
%h2 Community Help
%p Infinispan is backed by an active community of developers, end users, content producers and generally cool people.  :)
%dl.dl-horizontal
  %dt
    %i.icon-bookmark
    User Forums
    %dd can help answer questions you have and be a point of discussion and reference for using Infinispan
  %dt
    %i.icon-comments-alt
    IRC
    %dd
      is our real-time chat location. Join us on the 
      %code #infinispan
      IRC channel on 
      %a{:href=>"http://freenode.net/", :target=>"_new"}Freenode.
      Join in to talk to us in real time!
      %a.btn{:href => "/forums.html", :role => "button"} Talk to us
