---
layout: project
title: Get Started
---

.row-fluid
  .hero-unit
    %h1 Get Started
    %p Get up and running with Infinispan quickly. Let us walk you through it!

.row-fluid
  .span5.quickstarts
    %h2 Quickstarts
    %table.table.table-bordered
      %tbody
      %tr
        %td
          %b CarMart
          %br
          %i a basic Infinispan example
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/carmart/"} Tutorial
      %tr
        %td
          %b CarMart-TX
          %br
          %i a basic Infinspan example with JTA transactions
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/carmart-tx/"} Tutorial
      %tr
        %td
          %b HelloWorld-JDG
          %br 
          %i another basic Infinispan example
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/helloworld-jdg/"} Tutorial
      %tr
        %td
          %b HotRod-Endpoint
          %br
          %i using Infinispan remotely via the Hot Rod protocol
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/hotrod-endpoint/"} Tutorial
      %tr
        %td
          %b Memcached-Endpoint
          %br
          %i using Infinispan remotely via the Memcached protocol
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/memcached-endpoint/"} Tutorial
      %tr
        %td
          %b REST-Endpoint
          %br
          %i using Infinispan remotely over ReST
        %td
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/rest-endpoint/"} Tutorial

  .span7
    %h2 Community Help
    %p Infinispan is backed by an active community of developers, end users, content producers and generally cool people.  :)

    %dl.dl-horizontal
      %dt
        %i.icon-bookmark
        User Forums
      %dd can help answer questions you have and be a point of discussion and reference for using Infinispan
      %dt
        %i.icon-comments-alt
        IRC
      %dd
        is our real-time chat location. Join us on the 
        %code #infinispan
        IRC channel on 
        %a{:href=>"http://freenode.net/", :target=>"_new"}Freenode.
        Join in to talk to us in real time!
        %a.btn{"data-toggle" => "modal", :href => "#myModal", :role => "button"} IRC Instructions
        #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#myModalLabel IRC Instructions
          .modal-body
            %p
              Learn more about Freenode 
              %a{:href=>"http://freenode.net/", :target=>"_new"}here
              and if you need a list of IRC clients, visit 
              %a{:href=>"http://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients", :target=>"_new"}Wikipedia.
              There are many high-quality, free and open source clients for almost any platform - including mobile devices!
            %p
              Once you have connected to a Freenode server, join 
              %code #infinispan
              and you will be able to speak with a number of Infinispan developers, users and contributors.
          .modal-footer
            %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    %h2 Dead trees
    %p
      %a{:href=>"http://www.packtpub.com/infinispan-data-grid-platform/book"}
        %img{:src => "images/book.jpg", :style => "float: right;"}
      %a{:href=>"http://www.packtpub.com/infinispan-data-grid-platform/book"}
        %i Infinispan - the Data Grid Platform
      by Infinispan founder
      %a{:href => "https://community.jboss.org/people/manik", :target => "_NEW"} Manik Surtani
      and 
      %a{:href => "https://community.jboss.org/people/f_marchioni", :target => "_NEW"} Francesco Marchioni
      is now available from Packt Publishing, available in print as well as electronically.
      

%hr
  %h2 Documentation
  %p Official Infinispan documentation is available online:

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Version
        %th 
        %th 
        %th 
        %th 
        %th 
    %tbody
    %tr
      %td 6.0.x
      %td
        %a{:href=>"https://docs.jboss.org/author/display/ISPN/Home"} Documentation Home
      %td
        %a{:href=>"https://docs.jboss.org/author/display/ISPN/User+Guide"} User Guide
      %td
        %a{:href=>"https://docs.jboss.org/author/display/ISPN/Getting+Started+Guide"} Getting Started Guide
      %td
        %a{:href=>"https://docs.jboss.org/author/display/ISPN/Frequently+Asked+Questions"} FAQs
      %td
        %a{:href=>"https://docs.jboss.org/infinispan/6.0/apidocs/"} Javadocs
      %tr
        %td 5.3.x
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN53/Home"} Documentation Home
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN53/User+Guide"} User Guide
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN53/Getting+Started+Guide"} Getting Started Guide
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN53/Frequently+Asked+Questions"} FAQs
        %td
          %a{:href=>"https://docs.jboss.org/infinispan/5.3/apidocs/"} Javadocs
      %tr
        %td 5.2.x
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN52/Home"} Documentation Home
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN52/User+Guide"} User Guide
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN52/Getting+Started+Guide"} Getting Started Guide
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN52/Frequently+Asked+Questions"} FAQs
        %td
          %a{:href=>"https://docs.jboss.org/infinispan/5.2/apidocs/"} Javadocs
      %tr
        %td 5.1.x
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN51/Home"} Documentation Home
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN51/User+Guide"} User Guide
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN51/Getting+Started+Guide"} Getting Started Guide
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN51/Frequently+Asked+Questions"} FAQs
        %td
          %a{:href=>"https://docs.jboss.org/infinispan/5.1/apidocs/"} Javadocs
      %tr
        %td 5.0.x
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN50/Home"} Documentation Home
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN50/User+Guide"} User Guide
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN50/Getting+Started+Guide"} Getting Started Guide
        %td
          %a{:href=>"https://docs.jboss.org/author/display/ISPN50/Frequently+Asked+Questions"} FAQs
        %td
          %a{:href=>"https://docs.jboss.org/infinispan/5.0/apidocs/"} Javadocs
