---
layout: project
title: Download - Cache Stores
---

.row-fluid
  .span9

    %ul.breadcrumb
      %li
        %a{:href => "/download.html"} Downloads
        %span.divider /
      %li.active Hot Rod Clients

    %h1 Hot Rod Clients
    .row-fluid
      %table.table.table-striped
        %tbody
          %tr
            %td
              %h3 Java Client
              %p The "reference" Hot Rod client, written in Java.  This ships with Infinispan.
            %td
              %a.btn.btn-success{:href=>"http://downloads.jboss.org/infinispan/5.3.0.Final/infinispan-5.3.0.Final-all.zip"} 5.3.0.Final Zip
              .pull-right
                .label.label-success Stable
              %a.btn.btn-warning{:href=>"http://downloads.jboss.org/infinispan/6.0.0.Alpha3/infinispan-6.0.0.Alpha3-all.zip"} 6.0.0.Alpha3 Zip
              .pull-right
                .label.label-warning Unstable
              %br
                = partial( 'maven-coords-link.html.haml', {"artifactId" => "infinispan-client-hotrod"} )

          %tr
            %td
              %h3 Ruby Client
              %p A native Ruby client for Infinispan.  Detailed instructions including installation as a Ruby Gem are on the project's GitHub site.
            %td
              %a.btn.btn-success{:href=>"https://github.com/infinispan/ruby-client", :target => "_NEW"} Visit on GitHub
          %tr
            %td
              %h3 Python Client
              %p A native Python client for Infinispan.  Detailed instructions including installation are on the project's GitHub site.
            %td
              %a.btn.btn-success{:href=>"https://github.com/infinispan/python-client", :target => "_NEW"} Visit on GitHub
          %tr
            %td
              %h3 .NET Client
              %p A native .NET client for Infinispan.  Detailed instructions including installation are on the project's GitHub site.
            %td
              %a.btn.btn-success{:href=>"https://github.com/infinispan/dotnet-client", :target => "_NEW"} Visit on GitHub
          %tr
            %td
              %h3 C++ Client
              %p A native C++ client for Infinispan.  Detailed instructions including installation are on the project's GitHub site.
            %td
              %a.btn.btn-success{:href=>"https://github.com/infinispan/cpp-client", :target => "_NEW"} Visit on GitHub

  .span3
    %h2 Hot Rod
    %p
      Hot Rod is a wire protocol that Infinispan clients use to talk to a remote grid.  It is a binary, platform-independent protocol that was developed in the open as a part of Infinispan.
    %p
      The Hot Rod
      %a{:href => "https://docs.jboss.org/author/display/ISPN/Hot+Rod+Protocol"} specification
      is available online, and several clients exist for this protocol.    
    %h3 Contributing Clients
    %p Want to contribute more clients for Hot Rod? We’d love you to do so!
    %a{:href => "https://docs.jboss.org/author/display/ISPN/Contributing+to+Infinispan"} Learn more about getting involved.
