---
layout: project
title: Infinispan Homepage
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  / Main hero unit for a primary marketing message or call to action
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    / Carousel items
    .carousel-inner
      .active.item
        / Infinispan 7.0
        %a{:href => "/infinispan-7.0"}
          %img(src="images/carousel-infinispan7.png")
      .item
        / Now fully supported, by Red Hat, as JDG.
        %a{:href => "http://www.redhat.com/promo/infspn2jdg/", :target=>"_NEW"}
          %img(src="http://origin-static.jboss.org/images/infinispan/carousel_img5.png")
      .item
        / Book available
        %a{:href => "/documentation"}
          %img(src="http://origin-static.jboss.org/images/infinispan/carousel_img3.png")
      .item
        / New tutorials and getting started guides available
        %a{:href => "/documentation"}
          %img(src="http://origin-static.jboss.org/images/infinispan/carousel_img4.png")
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


/ section containing blog posts
.row-fluid.posts
  = partial( 'latest-news.html.haml', {"real_page" => page} )
  = partial( 'forum-posts.html.haml', {"real_page" => page} )
  = partial( 'tweets.html.haml' )
