---
layout: project
title: Infinispan 7.0
---

.row-fluid
  .hero-unit
    %h1 Infinispan 7.0 Release Notes

  %h2
  .row-fluid#equalHeightsB
    .span6
      %i.enormous-icon.icon-exclamation-sign.pull-left.icon-2x
      %h3 Partition Handling
      %p Detects split brain scenarios and reduces availability to provide consistency in such situations
      %i.enormous-icon.icon-lock.pull-left.icon-2x
      %h3 Security
      %ul
        %li Cache and CacheManager authorization with support for custom auditing. This feature can optionally integrate with the JDK SecurityManager.
        %li HotRod authentication based on SASL and integrated with the Security Realms in the server. 
        %li Clustering authentication and authorization integrated with the Security Realms in the server.
      %i.enormous-icon.icon-globe.pull-left.icon-2x
      %h3 Cross-Site Clustering
      %p State-transfer across sites for seamless synchronization of data when a remote site is brought online
      %i.enormous-icon.icon-comment.pull-left.icon-2x
      %h3 Clustered listeners
      %p Distributed caches can now notify a single listener in the cluster of all write events
      %i.enormous-icon.icon-filter.pull-left.icon-2x
      %h3 Distributed Entry Iterator
      %ul
        %li Allows for memory sensitive way to iterate entire contents of the cluster
        %li Provides way for filtering of entries retrieved and materialized views
      %i.enormous-icon.icon-truck.pull-left.icon-2x
      %h3 Map bulk operations enhancements (entrySet, keySet, values, size)
      %ul
        %li Operations now properly take into account entire cluster contents
        %li Returned collections are now backing in that updates to the collection are reflected in the cache and vice versa
      %i.enormous-icon.icon-tasks.pull-left.icon-2x
      %h3 Map/Reduce performance improvements
      %p Now takes advantage of multicore concurrency in all phases for exceptional speedup when compared to Infinispan 6
      %i.enormous-icon.icon-cogs.pull-left.icon-2x
      %h3 Integrations
      %ul
        %li JCache (JSR-107) support upgraded to 1.0.0
        %li Support for CDI events
        %li OSGi support
        %li Support for both Spring 3.x and 4.x
      %i.enormous-icon.icon-hdd.pull-left.icon-2x
      %h3 New experimental Soft Index File Store 
      %p A file store which indexes entries using B+ tree that is cached in-memory using Java's soft references  
    .span6
      %i.enormous-icon.icon-wrench.pull-left.icon-2x
      %h3 Uber JARs
      %p To add Infinispan to your application you now need to use only one JAR
      %i.enormous-icon.icon-barcode.pull-left.icon-2x
      %h3 Brand new XML configuration
      %ul
        %li XML configuration has been revamped to match server-side configuration format found in Infinispan Server, Wildfly or JBoss Application Server 7.
        %li Support for the XML format used by Infinispan 6.0 and older has been dropped
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Query improvements
      %ul
        %li Indexless queries
        %li Integration with Apache Lucene version 4.10.x
        %li Improved reliability of index storage
        %li Significant performance improvements for asynchronous indexing backends
        %li Experimental support for “MoreLikeThis” queries
        %li Automatic election of “master” indexing node (experimental)
      %i.enormous-icon.icon-angle-right.pull-left.icon-2x
      %h3 Remote events over HotRod
      %ul
        %li Server-side cache events can be now propagated to Hot Rod clients that register listeners, enabling near-cache architectures.
        %li Events can be filtered server-side and they can be customized to fit the user.
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Remote Query improvements
      %ul
        %li Simplified schema management using the cache API
        %li Schemas are automatically compiled by the server
        %li Field-level indexing granularity
        %li Protobuf schemas are supported without need to precompile them
      %i.enormous-icon.icon-building.pull-left.icon-2x
      %h3 Infinispan Server improvements
      %ul 
        %li Hot Rod remote event filters and converters, container within JAR files, can be deployed using standard mechanisms to Infinispan Servers.
        %li The server CLI is now built on top of WildFly’s CLI enabling access to the full Domain Management Model
      %i.enormous-icon.icon-plane.pull-left.icon-2x
      %h3 Hot Rod 2.0 protocol improvements
      %ul
        %li RemoteCache.size() now implemented with a dedicated size() operation in the protocol, which takes both persistent store, and cluster wide cache contents into account.
        %li Better topology updates sent to clients, containing less information and providing more precise key location mechanism.
           
      %i.enormous-icon.icon-book.pull-left.icon-2x
      %h3 Where do I get it ?
      %p
        %a.btn.btn-primary{:href => "/download", :role => "button"}
          %i.icon-book.pull-left
          Download Infinispan 7.0

