---
layout: project
title: Quickstarts
---

.row
  .jumbotron{:style => "padding: 20px 20px 20px 20px;"}
    %h1 Quickstarts
    %p Ready-made applications using Infinispan. Get up and running as quickly as possible!

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "20%", :style => "width: 20%;"} Name
        %th Description
    %tbody
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/carmart/"}
            %b CarMart
        %td
          a basic Infinispan example   
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/carmart-tx/"}
            %b CarMart-TX
        %td
          a basic Infinspan example with JTA transactions
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/helloworld-jdg/"}
            %b HelloWorld-JDG
        %td
          another basic Infinispan example
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/hotrod-endpoint/"}
            %b HotRod-Endpoint
        %td
          using Infinispan remotely via the Hot Rod protocol
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/memcached-endpoint/"}
            %b Memcached-Endpoint
        %td
          using Infinispan remotely via the Memcached protocol
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/rest-endpoint/"}
            %b REST-Endpoint
        %td
          using Infinispan remotely over ReST
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"https://github.com/jboss-developer/jboss-jdg-quickstarts/tree/master/remote-query"}
            %b Remote query
        %td
          using Infinispan queries remotely over Hot Rod
  %table
    %tr
      %td
        .jumbotron{:style => "padding: 20px 20px 20px 20px;"}
          %i.icon-info.icon-4x.pull-left
          Did you know that some of the Quickstarts are written for the
          %a{:href => "http://www.redhat.com/products/jbossenterprisemiddleware/data-grid/", :target => "_NEW"} JBoss Data Grid,
          (JDG) which is 
          %a{:href => "http://www.redhat.com", :target => "_NEW"} Red Hat's
          officially supported version of Infinispan.  The tutorials are just as valid for Infinispan though, so are still worth a look.
