---
layout: project
title: References
---
.row
  .jumbotron
    %h2 References
    %p How other community projects are using Infinispan

.row
  %a(name="wildfly")
  %h3 WildFly
  %p
    %a(href="http://www.wildfly.org") http://www.wildfly.org
  %p 
    WildFly is a JavaEE application server which uses Infinispan as the base for its clustering needs: web sessions, stateful session beans, etc
    
.row
  %a(name="hibernate")
  %h3 Hibernate ORM
  %p
    %a(href="http://www.hibernate.org") http://www.hibernate.org
  %p
    Hibernate ORM has a second-level cache provider built on top of Infinispan

.row
  %a(name="teiid")
  %h3 Teeid
  %p
    %a(href="http://teiid.org") http://teiid.org
  %p
    Teiid is a data virtualization system that allows applications to use data from multiple, heterogenous data stores. In particular, it supports using Infinispan as a data-source.

.row
  %a(name="modeshape")
  %h3 ModeShape
  %p
    %a(href="http://modeshape.jboss.org") http://modeshape.jboss.org
  %p
    ModeShape is a distributed, hierarchical, transactional, and consistent data store which adheres to the JCR standard. It comes with an Infinispan connector which allows Infinispan to be used as a repository.

.row
  %a(name="camel")
  %h3 Apache Camel
  %p
    %a(href="http://camel.apache.org") http://camel.apache.org
  %p
    Camel is a data integration framework which allows you to define routing and mediation rules in a variety of domain-specific languages. It comes with an Infinispan component, so that
    you can store/retrieve/query data from both embedded and remote caches.
    
.row
  %a(name="marmotta")
  %h3 Apache Marmotta
  %p
    %a(href="http://marmotta.apache.org") http://marmotta.apache.org
  %p
    Marmotta is an open implementation of a Linked Data Platform. It uses Infinispan to provide caching for Linked Data resources.

.row
  %a(name="apiman")
  %h3 apiman
  %p
    %a(href="http://apiman.io") http://apiman.io
  %p
    Apiman is an API management platform which uses Infinispan as a caching layer to increase performance.
    
.row
  %a(name="capedwarf")
  %h3 CapeDwarf
  %p
    %a(href="http://capedwarf.org") http://capedwarf.org
  %p
    CapeDwarf is an open-source alternative to Google App Engine, allowing you to run applications written for the Google App Engine on the WildFly Application Server without modification. CapeDwarf uses Infinispan to implement the GAE
    Datastore API.
    
.row
  %a(name="immutant")
  %h3 Immutant
  %p
    %a(href="http://immutant.org") http://immutant.org
  %p
    Immutant is an integrated suite of Clojure libraries. It exposes a caching service built using Infinispan.

