---
layout: project
title: Release Notes
---
.row
  %a{:name => "8.1"}
  .jumbotron
    %h2 Infinispan 8.1 Release Notes

  .row#equalHeightsB
    .col-md-6
      %i.enormous-icon.fa-th-large.pull-left.icon-2x
      %h3 Core
      %ul
        %li Global state persistence
        %li Continued internals refactoring
        %li Per-cache rebalance control
      %i.enormous-icon.icon-wrench.pull-left.icon-2x
      %h3 API
      %ul
        %li Cache injection in forEach consumer
      %i.enormous-icon.fa-heartbeat.pull-left.icon-2x
      %h3 Management and monitoring
      %ul
        %li Huge overhaul of the web-based management console for server
      %i.enormous-icon.icon-plane.pull-left.icon-2x
      %h3 Hot Rod protocol improvements
      %ul
        %li Site failover support
        %li Clustered statistics
        %li Compatibility mode awareness
    .col-md-6
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Indexing and Query
      %ul
        %li Continuous Queries are now indexed
        %li Projections in Continuous Queries
        %li Lots of improvements in performance and correctness
      %i.enormous-icon.icon-building.pull-left.icon-2x
      %h3 Infinispan Server
      %ul
        %li Server base upgraded to WildFly 10
        %li Caches can be hidden from the clients to perform maintenance
      %i.enormous-icon.icon-lock.pull-left.icon-2x
      %h3 Security
      %ul
        %li Improved caching of ACLs with flush ops
      %i.enormous-icon.icon-cloud-download.pull-left.icon-2x
      %h3 Where do I get it ?
      %p{:style => "padding-left: 40px"}
        %a.btn.btn-primary{:href => "/download", :role => "button"}
          %i.icon-cloud-download.pull-left
          Download Infinispan 8.1
  %hr
.row
  %a{:name => "8.0"}
  .jumbotron
    %h2 Infinispan 8.0 Release Notes

  .row#equalHeightsB
    .col-md-6
      %i.enormous-icon.fa-th-large.pull-left.icon-2x
      %h3 Core
      %ul
        %li Based on Java 8
        %li Reduced resource consumption
        %li Reduced locking
        %li Separate thread pool for async operations
      %i.enormous-icon.icon-wrench.pull-left.icon-2x
      %h3 API
      %ul
        %li New lambda-based functional cache API
        %li Distributed streams based on java.util.stream
        %li Configuration templates
      %i.enormous-icon.fa-stack-overflow.pull-left.icon-2x
      %h3 Eviction
      %ul
        %li Memory size-based eviction
        %li Runtime resizing of the maximum number of entries
      %i.enormous-icon.icon-comment.pull-left.icon-2x
      %h3 Listeners
      %ul
        %li Notifications for entry expiration
        %li Listeners can be registered using DSL queries
    .col-md-6
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Indexing and Query
      %ul
        %li Continuous Query listeners
        %li Grouping and Aggregation with DSL-based queries
        %li Mixed queries, supporting indexed and non-indexed fields
        %li The indexing and query engine has been upgraded to Lucene 5.2
      %i.enormous-icon.icon-cogs.pull-left.icon-2x
      %h3 Integrations
      %ul
        %li Apache Spark connector
        %li Apache Hadoop connector
      %i.enormous-icon.fa-heartbeat.pull-left.icon-2x
      %h3 Management and monitoring
      %ul
        %li New web-based management console for server
      %i.enormous-icon.icon-plane.pull-left.icon-2x
      %h3 Hot Rod protocol improvements
      %ul
        %li Remote entry iterator
        %li Expose server segment mapping
      %i.enormous-icon.icon-cloud-download.pull-left.icon-2x
      %h3 Where do I get it ?
      %p{:style => "padding-left: 40px"}
        %a.btn.btn-primary{:href => "/download", :role => "button"}
          %i.icon-cloud-download.pull-left
          Download Infinispan 8.0
  %hr
.row
  %a{:name => "7.2"}
  .jumbotron
    %h2 Infinispan 7.2 Release Notes

  .row#equalHeightsB
    .col-md-6
      %i.enormous-icon.icon-truck.pull-left.icon-2x
      %h3 Bulk operations
      %ul
        %li The performance of bulk operations (getAll, putAll) in both embedded and remote mode has been improved by an order of magnitude
        %li The clear operation is now non-transactional and lock-free.
      %i.enormous-icon.fa-stack-overflow.pull-left.icon-2x
      %h3 Eviction
      %ul
        %li New design based on the ConcurrentHashMap from JDK 8
        %li The maximum number of entries is now respected exactly, and not rounded up to the nearest power of 2
        %li A greatly improved LIRS algorithm which is much more accurate in deciding which entries to evict
      %i.enormous-icon.icon-comment.pull-left.icon-2x
      %h3 Listeners
      %ul
        %li Listeners can be registered using DSL queries
      %i.enormous-icon.icon-barcode.pull-left.icon-2x
      %h3 Configuration
      %ul
        %li Configuration inheritance now only applies modified attributes, making programmatic templating more predictable
    .col-md-6
      %i.enormous-icon.fa-code.pull-left.icon-2x
      %h3 Scripting (JSR-223) in server
      %ul
        %li Allows creation of server-side scripts which can be invoked from HotRod
      %i.enormous-icon.icon-cogs.pull-left.icon-2x
      %h3 Integrations
      %ul
        %li JCache (JSR-107) support over Hot Rod
      %i.enormous-icon.fa-database.pull-left.icon-2x
      %h3 Cache Stores
      %ul
        %li It is now possible to deploy cache stores to the server
        %li We now have a cache store Maven archetype
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Indexing
      %ul
        %li More performance improvements

      %i.enormous-icon.icon-cloud-download.pull-left.icon-2x
      %h3 Where do I get it ?
      %p{:style => "padding-left: 40px"}
        %a.btn.btn-primary{:href => "/download", :role => "button"}
          %i.icon-cloud-download.pull-left
          Download Infinispan 7.2
  %hr
.row
  %a{:name => "7.1"}
  .jumbotron
    %h2 Infinispan 7.1 Release Notes

  .row#equalHeightsB
    .col-md-6
      %i.enormous-icon.icon-truck.pull-left.icon-2x
      %h3 Near Cache support
      %ul
        %li HotRod clients can utilize near caching to improve read performance
      %i.enormous-icon.fa-heartbeat.pull-left.icon-2x
      %h3 Partition Handling
      %ul
        %li Cluster will enter degraded mode instead of unavailable allowing for more keys to stay available
        %li Huge stability improvements
      %i.enormous-icon.icon-comment.pull-left.icon-2x
      %h3 Clustered listeners
      %ul
        %li Enhanced performance when multiple cluster listeners are installed as well as asynchronous cluster listeners
      %i.enormous-icon.icon-building.pull-left.icon-2x
      %h3 Enhanced Statistics
      %ul
        %li Statistics for clustered caches
        %li Statistics for a single node
    .col-md-6
      %i.enormous-icon.icon-wrench.pull-left.icon-2x
      %h3 Uber Jars
      %ul
        %li The CLI is now also packaged as an UberJar
        %li Many fixes to classloading and hiding of private inner packages
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Indexing
      %ul
        %li Mass Indexer operation no longer blocks
        %li Huge performance/stability improvements in indexing 
      %i.enormous-icon.icon-angle-right.pull-left.icon-2x
      %h3 Remote events over HotRod
      %ul
        %li Remote event filter/converter callbacks can use raw data
      %i.enormous-icon.icon-filter.pull-left.icon-2x
      %h3 Entry Iterator
      %ul
        %li Local entry iteration when no loader should operate subsantially faster

      %i.enormous-icon.icon-cloud-download.pull-left.icon-2x
      %h3 Where do I get it ?
      %p{:style => "padding-left: 40px"}
        %a.btn.btn-primary{:href => "/download", :role => "button"}
          %i.icon-cloud-download.pull-left
          Download Infinispan 7.1
  %hr
.row
  %a{:name => "7.0"}
  .jumbotron
    %h2 Infinispan 7.0 Release Notes

  .row#equalHeightsB
    .col-md-6
      %i.enormous-icon.fa-heartbeat.pull-left.icon-2x
      %h3 Partition Handling
      %ul
        %li Detects split brain scenarios and reduces availability to provide consistency in such situations
      %i.enormous-icon.icon-lock.pull-left.icon-2x
      %h3 Security
      %ul
        %li Cache and CacheManager authorization with support for custom auditing. This feature can optionally integrate with the JDK SecurityManager.
        %li HotRod authentication based on SASL and integrated with the Security Realms in the server. 
        %li Clustering authentication and authorization integrated with the Security Realms in the server.
      %i.enormous-icon.icon-globe.pull-left.icon-2x
      %h3 Cross-Site Clustering
      %p State-transfer across sites for seamless synchronization of data when a remote site is brought online
      %i.enormous-icon.icon-comment.pull-left.icon-2x
      %h3 Clustered listeners
      %p Distributed caches can now notify a single listener in the cluster of all write events
      %i.enormous-icon.icon-filter.pull-left.icon-2x
      %h3 Distributed Entry Iterator
      %ul
        %li Allows for memory sensitive way to iterate entire contents of the cluster
        %li Provides way for filtering of entries retrieved and materialized views
      %i.enormous-icon.icon-truck.pull-left.icon-2x
      %h3 Map bulk operations enhancements (entrySet, keySet, values, size)
      %ul
        %li Operations now properly take into account entire cluster contents
        %li Returned collections are now backing in that updates to the collection are reflected in the cache and vice versa
      %i.enormous-icon.icon-tasks.pull-left.icon-2x
      %h3 Map/Reduce performance improvements
      %ul
        %li Now takes advantage of multicore concurrency in all phases for exceptional speedup when compared to Infinispan 6
      %i.enormous-icon.icon-cogs.pull-left.icon-2x
      %h3 Integrations
      %ul
        %li JCache (JSR-107) support upgraded to 1.0.0
        %li Support for CDI events
        %li OSGi support
        %li Support for both Spring 3.x and 4.x
      %i.enormous-icon.icon-hdd.pull-left.icon-2x
      %h3 New experimental Soft Index File Store 
      %ul
        %li A file store which indexes entries using B+ tree that is cached in-memory using Java's soft references  
    .col-md-6
      %i.enormous-icon.icon-wrench.pull-left.icon-2x
      %h3 Uber JARs
      %ul
        %li To add Infinispan to your application you now need to use only one JAR
      %i.enormous-icon.icon-barcode.pull-left.icon-2x
      %h3 Brand new XML configuration
      %ul
        %li XML configuration has been revamped to match server-side configuration format found in Infinispan Server, Wildfly or JBoss Application Server 7.
        %li Support for the XML format used by Infinispan 6.0 and older has been dropped
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Query improvements
      %ul
        %li Indexless queries
        %li Integration with Apache Lucene version 4.10.x
        %li Improved reliability of index storage
        %li Significant performance improvements for asynchronous indexing backends
        %li Experimental support for “MoreLikeThis” queries
        %li Automatic election of “master” indexing node (experimental)
      %i.enormous-icon.icon-angle-right.pull-left.icon-2x
      %h3 Remote events over HotRod
      %ul
        %li Server-side cache events can be now propagated to Hot Rod clients that register listeners, enabling near-cache architectures.
        %li Events can be filtered server-side and they can be customized to fit the user.
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Remote Query improvements
      %ul
        %li Simplified schema management using the cache API
        %li Schemas are automatically compiled by the server
        %li Field-level indexing granularity
        %li Protobuf schemas are supported without need to precompile them
      %i.enormous-icon.icon-building.pull-left.icon-2x
      %h3 Infinispan Server improvements
      %ul 
        %li Hot Rod remote event filters and converters, container within JAR files, can be deployed using standard mechanisms to Infinispan Servers.
        %li The server CLI is now built on top of WildFly’s CLI enabling access to the full Domain Management Model
      %i.enormous-icon.icon-plane.pull-left.icon-2x
      %h3 Hot Rod 2.0 protocol improvements
      %ul
        %li RemoteCache.size() now implemented with a dedicated size() operation in the protocol, which takes both persistent store, and cluster wide cache contents into account.
        %li Better topology updates sent to clients, containing less information and providing more precise key location mechanism.
           
      %i.enormous-icon.icon-cloud-download.pull-left.icon-2x
      %h3 Where do I get it ?
      %p{:style => "padding-left: 40px"}
        %a.btn.btn-primary{:href => "/download", :role => "button"}
          %i.icon-cloud-download.pull-left
          Download Infinispan 7.0

