---
layout: project
title: Road Map
---


.jumbotron
  %h1 Road Map
  %p
    What we plan to add in the next release. Infinispan is on a time-boxed release schedule, with a new minor release every three months.
    The list below shows features targeted for the next stream of releases (9.x). Bear in mind that features might be postponed to a future release in case they are not of satisfactory quality at the end of a cycle.

.row
  .col-md-12
    %p.text-center
      %img{:src => "/images/roadmap.svg"}
    
.row
  .col-md-12
    %h3.alert.alert-warning.text-center Warning: The list below is subject to change without notice at any time.
  .col-md-6
    %i.enormous-icon.fa-wrench.pull-left.icon-2x
    %h3 API
    %ul
      %li New Modular API
      %li Publish Subscribe / Topics
    %i.enormous-icon.fa-bullseye.pull-left.icon-2x
    %h3 Core
    %ul
      %li In-place rolling upgrades
      %li Continued performance and resource improvements
    %i.enormous-icon.icon-question-sign.pull-left.icon-2x
    %h3 Query
    %ul
      %li ProtoBuf 3 support for remote queries
    %i.enormous-icon.fa-database.pull-left.icon-2x
    %h3 Persistence
    %ul
      %li Striped cache stores for faster iteration
      %li Async persistence layer
  .col-md-6
    %i.enormous-icon.fa-lock.pull-left.icon-2x
    %h3 Security
    %ul
      %li REST authorization
      %li SCRAM authentication mechanism
    %i.enormous-icon.fa-server.pull-left.icon-2x
    %h3 Server / Remote
    %ul
      %li Hot Rod transactions
      %li Smaller server footprint
    %i.enormous-icon.fa-heartbeat.pull-left.icon-2x
    %h3 Management console
    %ul
      %li Data visualization
      %li Data manipulation


