---
layout: project
title: Road Map
---


.jumbotron
  %h1 Road Map
  %p
    What we plan to add in the next release. Infinispan is on a time-boxed release schedule, with a new minor release every three months.
    The list below shows features targeted for the next stream of releases (9.x). Bear in mind that features might be postponed to a future release in case they are not of satisfactory quality at the end of a cycle.

.row
  .col-md-12
    %h2 Infinispan 9.x (under development)
    %p
      %img{:src => "/images/roadmap.svg"}
    
.row
  .col-md-6
    %i.enormous-icon.fa-wrench.pull-left.icon-2x
    %h3 API
    %ul
      %li Distributed counters
      %li Publish Subscribe / Topics
    %i.enormous-icon.fa-bullseye.pull-left.icon-2x
    %h3 Core
    %ul
      %li Continue working on refactor the core RPC, threading and interceptor stack around a new reactive design which will minimize resource consumption and reduce locking
      %li Performance improvements
      %li Graceful shutdown and restart, preserving state and runtime configuration between restarts
      %li Off-heap support
      %li New internal marshaller
      %li Partition conflict resolution and consistency checker
      %li Pre-node shutdown checks to ensure that the remaining cluster will have enough resources to continue
      %li Compatibility with both Java 8 and Java 9
    %i.enormous-icon.icon-question-sign.pull-left.icon-2x
    %h3 Query
    %ul
      %li Continuous query materialized view, aggregations, indexed support for initial state
      %li Segment affinity for indexes
      %li ProtoBuf 3 support for remote queries
  .col-md-6
    %i.enormous-icon.fa-lock.pull-left.icon-2x
    %h3 Security
    %ul
      %li SNI support
      %li EXTERNAL SASL support for client-certificate authorization
    %i.enormous-icon.fa-server.pull-left.icon-2x
    %h3 Server / Remote
    %ul
      %li Full-text query over HotRod and REST
      %li Scripting for more languages
      %li Hot Rod transactions
      %li Access log for operation
    %i.enormous-icon.fa-heartbeat.pull-left.icon-2x
    %h3 Management console
    %ul
      %li Endpoint management
      %li Support embedded deployments with JMX
      %li Support standalone servers


