---
layout: project
title: Road Map
---

.row-fluid
  .hero-unit
    %h1 Road Map
    %p
      What we plan to add in the following releases.

  .row-fluid
    .span6
      %h2 Infinispan 7.0
      %p
        Autumn 2014 (under development)
      %h3 Server
      %ul
        %li
          %a{:href=>"https://issues.jboss.org/browse/HRCPP-122", :target => "_NEW"} Hot Rod client for .NET
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-374", :target => "_NEW"}  Remote Events over Hot Rod (Java only)
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-3908", :target => "_NEW"}  Authentication and authorization over Hot Rod
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-3930", :target => "_NEW"}  Configuration revamp
      %h3 Core
      %ul
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-2284", :target => "_NEW"}  In-process parallel iteration of keys for Map/Reduce
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-2342", :target => "_NEW"}  Cross-site state transfer
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-263", :target => "_NEW"}  Handling of cluster partitions
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-3355", :target => "_NEW"}  Clustered listeners
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-3909", :target => "_NEW"}  Authentication and authorization in embedded mode
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-4333", :target => "_NEW"}  Uber jars
      %h3 Query
      %ul
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-3917", :target => "_NEW"}  Querying without indexing (full scan)
        %li Migration to Apache Lucene 4
        %li Solid performance improvements
        %li Improved handling of dynamic types

    .span6
      %h2 Infinispan 8.0
      %p
        Autumn 2015. A main theme for this release is ergonomics: auto tuning, simplify configuration and API, installation, monitoring and management. And feature and performance enhancements as described below.
      %h3 Server
      %ul
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-1094", :target => "_NEW"}  Map/Reduce and distributed execution over Hot Rod
        %li Revamp of the monitoring and management console
        %li Remote events over the C++ and C# clients
      %h3 Core
      %ul
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-3351", :target => "_NEW"}  Controlled cluster shutdown with data restore from persistent storage
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-3927", :target => "_NEW"}  Simplify transactions
        %li
          %a{:href=>"https://issues.jboss.org/browse/ISPN-2941", :target => "_NEW"}  Run Hadoop Map/Reduce tasks over Infinispan
        %li Automatic partition healing with versioned(vector) clocks
        %li Improved memory efficiency
        %li Improved the internal threading model
      %h3 Query
      %ul
        %li Querying support for the Cpp/C# clients


