---
layout: project
title: Road Map
---

.row
  .jumbotron
    %h1 Road Map
    %p
      What we plan to add in the next release. Infinispan is on a time-boxed release schedule, with a new minor release every three months and a new major release every nine months. The
      list below shows features targeted for the next release (8.0). Bear in mind that features might be postponed to a future release in case they are not of satisfactory quality at the end of a cycle.

  .row
    .col-md-12
      %h2 Infinispan 8.x (under development)
      %p
        %img{:src => "/images/roadmap.svg"}
      
  .row
    .col-md-6
      %i.enormous-icon.fa-wrench.pull-left.icon-2x
      %h3 API
      %ul
        %li Introduce a new Infinispan manager object which will allow sharing of resources between multiple cache managers
      %i.enormous-icon.fa-bullseye.pull-left.icon-2x
      %h3 Core
      %ul
        %li Continue working on refactor the core RPC, threading and interceptor stack around a new reactive design which will minimize resource consumption and reduce locking
        %li Graceful shutdown and restart, preserving state and runtime configuration between restarts
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 Query
      %ul
        %li Materialized views for continuous query
        %li Segment affinity for indexes
    .col-md-6
      %i.enormous-icon.fa-server.pull-left.icon-2x
      %h3 Server / Remote
      %ul
        %li Rebase on WildFly Core
        %li Scripting for REST clients
        %li Scripting for more languages
        %li Hot Rod transactions
      %i.enormous-icon.fa-heartbeat.pull-left.icon-2x
      %h3 Management console
      %ul
        %li Configuration templates
        %li Runtime tuning
        %li Job management
        %li Event history
        %li Data management

