---
layout: project
title: Tutorials
---

.row
  .jumbotron{:style => "padding: 20px 20px 20px 20px;"}
    %h1 Tutorials
    %p Infinispan is easy. Let us walk you through it!

.row
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "15%", :style => "width: 15%;"} Name
        %th Description
    %tbody
      %tr
        %td
          %i.fa.fa-cloud.pull-left
          %a{:href=>"/tutorials/embedded/"}
            %b The Weather App
        %td
          a tutorial on how to embed Infinispan in your application

