---
layout: project
title: Tutorials
---

.row
  .jumbotron
    %h1 Tutorials and examples
    %p Infinispan is easy. Let us walk you through it!

.row
  %h2 Worked tutorials
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "15%", :style => "width: 15%;"} Name
        %th Description
    %tbody
      %tr
        %td
          %a{:href=>"/tutorials/embedded/"}
            %b The Weather App
        %td
          A complete tutorial on how to embed Infinispan in your application, progressing from a simple local-only cache to a fully-distributed compute grid

.row
  %h2 Simple examples
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "15%", :style => "width: 15%;"} Name
        %th Description
    %tbody
      %tr
        %td
          %a{:href=>"/tutorials/simple/map/"}
            %b Map
        %td
          Using a cache with the map-based API
      %tr
        %td
          %a{:href=>"/tutorials/simple/jcache/"}
            %b JCache
        %td
          Using a cache with the JCache API
      %tr
        %td
          %a{:href=>"/tutorials/simple/map/"}
            %b Functional
        %td
          Using a cache with the functional lambda-based API
          
