---
layout: project
title: Tutorials
---

.row
  .jumbotron
    %h2 Tutorials and examples
    %p Infinispan is easy. Let us walk you through it!

.row
  %h3 Tutorials
  %p
    Tutorials are a way to get into Infinispan using a step-by-step approach.
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "15%", :style => "width: 15%;"} Name
        %th Description
    %tbody
      %tr
        %td
          %a{:href=>"/tutorials/embedded/"}
            %b The Weather App
        %td
          A complete tutorial on how to embed Infinispan in your application, progressing from a simple local-only cache to a fully-distributed compute grid

.row
  %h3 Examples
  %p
    Very simple, straight-to-the-point, code examples of specific Infinispan features and integrations. All of these are part of the
    %a{:href => "https://github.com/infinispan/infinispan-simple-tutorials/"} Infinispan Simple Tutorials
    GitHub project.
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "15%", :style => "width: 15%;"} Name
        %th Description
    %tbody
      %tr
        %td
          %a{:href=>"/tutorials/simple/map/"}
            %b Map
        %td
          Using a cache with the map-based API
      %tr
        %td
          %a{:href=>"/tutorials/simple/tx/"}
            %b Transactions
        %td
          Using a cache with transactions
      %tr
        %td
          %a{:href=>"/tutorials/simple/jcache/"}
            %b JCache
        %td
          Using a cache with the JCache API
      %tr
        %td
          %a{:href=>"/tutorials/simple/functional/"}
            %b Functional
        %td
          Using a cache with the functional lambda-based API
      %tr
        %td
          %a{:href=>"/tutorials/simple/remote/"}
            %b Remote
        %td
          Access a remote cache using the HotRod protocol
      %tr
        %td
          %a{:href=>"/tutorials/simple/scripting/"}
            %b Remote Scripting
        %td
          Execute scripts on an Infinispan Server from a HotRod client
      %tr
        %td
          %a{:href=>"/tutorials/simple/scripting/"}
            %b Distributed Execution
        %td
          Run code concurrently on all nodes in the cluster
          
.row
  %h3 Quickstarts
  %p
    Quickstarts are self-contained, fully-fledged applications based on Infinispan which are ready-to-run. They showcase Infinispan in the context of more complex applications such as JavaEE deployments.
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:width => "20%", :style => "width: 20%;"} Name
        %th Description
    %tbody
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/carmart/"}
            %b CarMart
        %td
          a basic Infinispan example   
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/carmart-tx/"}
            %b CarMart-TX
        %td
          a basic Infinspan example with JTA transactions
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/helloworld-jdg/"}
            %b HelloWorld-JDG
        %td
          another basic Infinispan example
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/hotrod-endpoint/"}
            %b HotRod-Endpoint
        %td
          using Infinispan remotely via the Hot Rod protocol
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/memcached-endpoint/"}
            %b Memcached-Endpoint
        %td
          using Infinispan remotely via the Memcached protocol
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/jdg-quickstarts/rest-endpoint/"}
            %b REST-Endpoint
        %td
          using Infinispan remotely over REST
      %tr
        %td
          %i.icon-certificate.pull-left
          %a{:href=>"https://github.com/jboss-developer/jboss-jdg-quickstarts/tree/master/remote-query"}
            %b Remote query
        %td
          using Infinispan queries remotely over Hot Rod
  %table
    %tr
      %td
        .jumbotron
          %i.icon-info.icon-2x.pull-left
          The Quickstarts are written for 
          %a{:href => "http://www.redhat.com/products/jbossenterprisemiddleware/data-grid/", :target => "_NEW"} JBoss Data Grid,
          (JDG) which is 
          %a{:href => "http://www.redhat.com", :target => "_NEW"} Red Hat's
          officially supported version of Infinispan.  The tutorials are just as valid for Infinispan though, so are still worth a look.
          
