---
layout: project
title: Videos
---


.jumbotron
  %h1 Videos
  %p
    Learn about Infinispan by watching various recorded demos, presentations and screencasts which we hope you'd find useful.

.row
  .col-md-12
    %h3 A walkthrough of the Infinispan 8.1 Admin console
    %iframe{:id => "v1", :width => "640", :height => "360", :src => "https://www.youtube.com/embed/m_j3dz4k4xA", :frameborder => "0" }
    %h3 Geographic failover with Infinispan (presentation)
    %iframe{:id => "v1", :width => "640", :height => "360", :src => "https://player.vimeo.com/video/24825312", :frameborder => "0" }
 
