---
layout: tutorial
title: Cluster Executor Tutorial
---
%script(src="/javascripts/infinispan.js")
%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Cluster Executor

%h2 Cluster Executor
%p
  Performing a common task on all nodes in the cluster
.alert.alert-info
  This tutorial works best when multiple instances are executed at the same time on the same machine/network so that the nodes form a cluster.
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "clusterexec/src/main/java/org/infinispan/tutorial/simple/clusterexec/InfinispanClusterExec.java"} )

