---
layout: tutorial
title: Clustered Counter Tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Clustered Counter

%h2 Clustered Counter
%p
  Creating and using a clustered counter.
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "counter/src/main/java/org/infinispan/tutorial/simple/counter/InfinispanCounter.java"} )

