---
layout: tutorial
title: C# Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active C#

.row
  %h2 C#
  %p
    Access a remote cache on an Infinispan Server using the HotRod protocol in C#
  .alert.alert-info
    This tutorial requires installing the 
    %a(href="/hotrod-clients") HotRod C# libraries
    , Visual Studio and
    %a(href="http://cmake.org") CMake
  .alert.alert-info
    This tutorial requires a locally-running Infinispan Server started with the
    %code standalone.sh
    (Linux, OS X, Unix) or
    %code standalone.bat
    (Windows) script.
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "c%23/Simple.cs"} )

