---
layout: tutorial
title: C# Tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active C#

.span
  :asciidoc
    include::/infinispan-simple-tutorials/master/csharp/documentation/asciidoc/csharp.asciidoc[]

= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "c%23/Simple.cs"} )
