---
layout: tutorial
title: Distributed Cache Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Distributed Cache

.row
  %h2 Distributed Cache
  %p
    Distributing data evenly across the cluster
  .alert.alert-info
    This tutorial should be executed multiple times concurrently on the same machine/network so that the nodes form a cluster.
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "distributed/src/main/java/org/infinispan/tutorial/simple/distributed/InfinispanDistributed.java"} )

