---
layout: tutorial
title: Infinispan Distributed Execution Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Distributed Execution

.row
  %h2 Distributed Execution
  %p
    Performing a common task on all nodes in the cluster
  .alert.alert-info
    This tutorial works best when multiple instances are executed at the same time on the same machine/network so that the nodes form a cluster.
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "distexec/src/main/java/org/infinispan/tutorial/simple/distexec/InfinispanDistExec.java"} )

