---
layout: tutorial
title: Functional API Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Functional API

.row
  %h2 Functional API
  %p
    Using a cache with the functional API
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "functional/src/main/java/org/infinispan/tutorial/simple/functional/InfinispanFunctional.java"} )

