---
layout: tutorial
title: Hibernate Cache Spring
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Hibernate Cache Spring

%h2 Hibernate Cache Single-Node Spring
%p
  Demonstrates how to use Infinispan as Hibernate Cache provider within single-node Spring applications.

= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "hibernate-cache/spring-local/src/main/java/org/infinispan/tutorial/simple/hibernate/cache/spring/local/InfinispanHibernateCacheSpringLocal.java"} )
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "hibernate-cache/spring-local/src/main/resources/application.properties"} )
