---
layout: tutorial
title: Hibernate Cache WildFly
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Hibernate Cache WildFly

%h2 Hibernate Cache Single-Node WildFly
%p
  Demonstrates how to use Infinispan as Hibernate Cache provider within single-node WildFly applications.
.alert.alert-info
  %p
    To run this tutorial, start Wildfly and then execute:
    %br
    %code mvn clean package wildfly:deploy
  %p
    Then, you can go through the tutorial steps executing:
    %br
    %code for i in {1..15}; do curl http://localhost:8080/wildfly-local/infinispan/hibernate-cache/$i; done

= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "hibernate-cache/wildfly-local/src/main/java/org/infinispan/tutorial/simple/hibernate/cache/wildfly/local/InfinispanHibernateCacheWildflyLocal.java"} )
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "hibernate-cache/wildfly-local/src/main/java/org/infinispan/tutorial/simple/hibernate/cache/wildfly/local/controller/PersistenceManager.java"} )
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "hibernate-cache/wildfly-local/src/main/resources/META-INF/persistence.xml"} )
