---
layout: tutorial
title: Hibernate Cache WildFly
---

<script type="text/javascript" src="{{ '/assets/javascript/ghembedder.min.js' | relative_url }}"></script>

<p>Demonstrates how to use Infinispan as Hibernate Cache provider within single-node WildFly applications.</p>
<div class="alert alert-info">
  <p>
    To run this tutorial, start Wildfly and then execute:
    <br/>
    <code>mvn clean package wildfly:deploy</code>
  </p>
  <p>
    Then, you can go through the tutorial steps executing:
    <br/>
    <code>for i in {1..15}; do curl http://localhost:8080/wildfly-local/infinispan/hibernate-cache/$i; done</code>
  </p>
</div>

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="hibernate-cache/wildfly-local/src/main/java/org/infinispan/tutorial/simple/hibernate/cache/wildfly/local/InfinispanHibernateCacheWildflyLocal.java" %}

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="hibernate-cache/wildfly-local/src/main/java/org/infinispan/tutorial/simple/hibernate/cache/wildfly/local/controller/PersistenceManager.java" %}

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="hibernate-cache/wildfly-local/src/main/resources/META-INF/persistence.xml" %}
