---
layout: tutorial
title: Hibernate Cache Standalone
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Hibernate Cache Standalone

%h2 Hibernate Cache Single-Node Standalone
%p
  Demonstrates how to use Infinispan as Hibernate Cache provider for standalone Java SE applications or inside containers that don’t offer Infinispan integration.

= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "hibernate-cache/local/src/main/java/org/infinispan/tutorial/simple/hibernate/cache/local/InfinispanHibernateCacheLocal.java"} )
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "hibernate-cache/local/src/main/resources/META-INF/persistence.xml"} )
