---
layout: tutorial
title: Hibernate Cache Standalone
---

<script type="text/javascript" src="{{ '/assets/javascript/ghembedder.min.js' | relative_url }}"></script>

<p>Demonstrates how to use Infinispan as Hibernate Cache provider for standalone Java SE applications or inside containers that don’t offer Infinispan integration.</p>

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="hibernate-cache/local/src/main/java/org/infinispan/tutorial/simple/hibernate/cache/local/InfinispanHibernateCacheLocal.java" %}

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="hibernate-cache/local/src/main/resources/META-INF/persistence.xml" %}
