---
layout: tutorial
title: JCache Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active JCache

.row
  %h2 JCache
  %p
    Using a cache with the JCache API
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "jcache/src/main/java/org/infinispan/tutorial/simple/jcache/InfinispanJCache.java"} )

