---
layout: tutorial
title: Infinispan Listen Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Listen

.row
  %h2 Listen
  %p
    Listening to changes to the cache
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "listen/src/main/java/org/infinispan/tutorial/simple/listen/InfinispanListen.java"} )

