---
layout: tutorial
title: Listen Tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Listen

%h2 Listen
%p
  Listening to changes to the cache
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "listen/src/main/java/org/infinispan/tutorial/simple/listen/InfinispanListen.java"} )

