---
layout: tutorial
title: Infinispan Map Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Map

.row
  %h2 Map
  %p
    Using a cache with the map-based API
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "map/src/main/java/org/infinispan/tutorial/simple/map/InfinispanMap.java"} )

