---
layout: tutorial
title: OpenShift/Kubernetes tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active OpenShift/Kubernetes

.row
  %h2 OpenShift/Kubernetes
  %p
  .alert.alert-info
    This tutorial needs to be executed in either OpenShift or Kubernetes. For more information refer to
    %a(href="https://github.com/infinispan/infinispan-simple-tutorials/blob/master/kubernetes/README.adoc") READ.ME file.
  .alert.alert-info
    When
    %code oc
    or
    %code kubectl
    clients are initialized, invoke
    %code mvn clean install fabric8:run
    to run this tutorial.
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "kubernetes/pom.xml"} )
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "kubernetes/src/main/java/org/infinispan/tutorial/simple/kubernetes/InfinispanKubernetes.java"} )

