---
layout: tutorial
title: OpenShift/Kubernetes
---

<script type="text/javascript" src="{{ '/assets/javascript/ghembedder.min.js' | relative_url }}"></script>

<div class="alert alert-info">
  This tutorial needs to be executed in either OpenShift or Kubernetes. For more information refer to <a href="https://github.com/infinispan/infinispan-simple-tutorials/blob/master/kubernetes/README.adoc"> READ.ME file.</a>
</div>
<div class="alert alert-info">
  When <code>oc</code> or <code>kubectl</code> clients are initialized, invoke <code>mvn clean install fabric8:run</code> to run this tutorial.
</div>

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="kubernetes/pom.xml" %}

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="kubernetes/src/main/java/org/infinispan/tutorial/simple/kubernetes/InfinispanKubernetes.java" %}
