---
layout: tutorial
title: Operator tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Operator

%h2 Operator
%p
.alert.alert-info
  This tutorial needs to be executed on OpenShift. For more information refer to
  %a(href="https://github.com/infinispan/infinispan-simple-tutorials/blob/master/kubernetes/README.adoc") READ.ME file.
