---
layout: tutorial
title: Operator tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Operator

.span
  :asciidoc
    include::/infinispan-simple-tutorials/master/operator/documentation/asciidoc/operator.asciidoc[]

= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "operator/"} )
