---
layout: tutorial
title: Operator tutorial
---

<script type="text/javascript" src="{{ '/assets/javascript/ghembedder.min.js' | relative_url }}"></script>

<div class="alert alert-info">
  This tutorial needs to be executed on OpenShift. For more information refer to <a href="https://github.com/infinispan/infinispan-simple-tutorials/blob/master/kubernetes/README.adoc"> READ.ME file.</a>
</div>
