---
layout: tutorial
title: Query Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Query

.row
  %h2 Query
  %p
    Querying a cache
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "query/src/main/java/org/infinispan/tutorial/simple/query/InfinispanQuery.java"} )
  %br
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "query/src/main/java/org/infinispan/tutorial/simple/query/Person.java"} )

