---
layout: tutorial
title: Query
---

<script type="text/javascript" src="{{ '/assets/javascript/ghembedder.min.js' | relative_url }}"></script>

<p>Querying a cache</p>

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="query/src/main/java/org/infinispan/tutorial/simple/query/InfinispanQuery.java" %}

{% include embed-github-file.html repo="infinispan/infinispan-simple-tutorials" path="query/src/main/java/org/infinispan/tutorial/simple/query/Person.java" %}
