---
layout: tutorial
title: Remote Listen Tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Remote Listen

%h2 Remote Listen
%p
  Listening to changes to a remote cache
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "remote-listen/src/main/java/org/infinispan/tutorial/simple/remote/listen/InfinispanRemoteListen.java"} )

