---
layout: tutorial
title: Remote Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Remote

.row
  %h2 Remote
  %p
    Working with a remote cache on an Infinispan Server using the HotRod protocol
  .alert.alert-info
    This tutorial requires a locally-running Infinispan Server started with the
    %code standalone.sh
    (Linux, OS X, Unix) or
    %code standalone.bat
    (Windows) script.
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "remote/src/main/java/org/infinispan/tutorial/simple/remote/InfinispanRemote.java"} )

