---
layout: tutorial
title: Infinispan Replicated Cache Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Replicated Cache

.row
  %h2 Replicated Cache
  %p
    Replicating data across the whole cluster
  .alert.alert-info
    This tutorial should be executed multiple times concurrently on the same machine/network so that the nodes form a cluster.
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "replicated/src/main/java/org/infinispan/tutorial/simple/replicated/InfinispanReplicated.java"} )

