---
layout: tutorial
title: Infinispan Remote Scripting Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Remote Scripting

.row
  %h2 Remote Scripting
  %p
    Invoking scripts on an Infinispan Server from a Hot Rod client
  .alert.alert-info
    This tutorial requires a locally-running Infinispan Server started with the
    %code standalone.sh
    (Linux, OS X, Unix) or
    %code standalone.bat
    (Windows) script.
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "scripting/src/main/java/org/infinispan/tutorial/simple/scripting/InfinispanScripting.java"} )

