---
layout: tutorial
title: Infinispan Spark Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Spark

.row
  %h2 Spark
  %p
    Integrating with Apache Spark
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "spark/src/main/java/org/infinispan/tutorial/simple/spark/SimpleSparkJob.java"} )

