---
layout: tutorial
title: Spring Integration Tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Spring Integration

%h2 Spring Integration
%p
  Bootstrapping Infinispan using Spring
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "spring/src/main/java/org/infinispan/tutorial/simple/spring/embedded/SpringAnnotationConfiguration.java"} )

