---
layout: tutorial
title: Infinispan Streams Tutorial
---
%script(src="/javascripts/infinispan.js")
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
    %li.active Streams

.row
  %h2 Streams
  %p
    Using the Java Streams API on a cache
  = partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "map/src/main/java/org/infinispan/tutorial/simple/streams/InfinispanStreams.java"} )

