---
layout: tutorial
title: Streams Tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Streams

.span
  :asciidoc
    include::/infinispan-simple-tutorials/master/streams/documentation/asciidoc/streams.asciidoc[]

= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "streams/src/main/java/org/infinispan/tutorial/simple/streams/InfinispanStreams.java"} )
