---
layout: tutorial
title: Transactions Tutorial
---
%script(src="/javascripts/infinispan.js")

%ul.breadcrumb
  %li
    %a{:href => "/tutorials"} Tutorials
  %li.active Transactions

%h2 Transactions
%p
  Using a cache with transactions
= partial( 'embed-github-file.html.haml', {"repo" => "infinispan/infinispan-simple-tutorials", "path" => "tx/src/main/java/org/infinispan/tutorial/simple/tx/InfinispanTx.java"} )

