This cache store implementation persists data to cloud storage services, such as 
%a{:href => "http://aws.amazon.com/s3/"}Amazon's S3
service or
%a{:href => "http://www.rackspace.com/cloud/files/"}Rackspace's CloudFiles
service.  Internally makes use of
%a{:href => "http://jclouds.incubator.apache.org/"} JClouds
for communication with cloud storage services.
