<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 10.0 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">LOREM</h6>
    <ul>
      <li>Compile-time internal dependency injection removes runtime reflection</li>
      <li>Non-blocking embedded and remote listeners</li>
      <li>Expiration on primary-node only to reduce load</li>
      <li> <a href="https://quarkus.io"> Quarkus </a> </li>
      <li>Off-heap iterator improvements</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>Complete rearchitecture</li>
      <li>Reduced disk footprint (50MB vs 170MB)</li>
      <li>Reduced boot memory footprint (18MB vs 40MB)</li>
      <li>Single-port design for Hot Rod, HTTP/1.1 and HTTP/2</li>
      <li>Elytron-backed security</li>
      <li>New Hot Rod authentication mechs (SCRAM, OAUTHBEARER)</li>
      <li>New HTTP authentication mechs (DIGEST, CLIENT_CERT, TOKEN)</li>
      <li>Non-blocking Hot Rod and REST authentication</li>
      <li>New CLI</li>
      <li>REST-based admin API</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Quarkus</h6>
    <ul>
      <li>Embedded Quarkus extension</li>
      <li>Remote Quarkus extension</li>
      <li>Native server</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">REST</h6>
    <ul>
      <li>New V2 REST API</li>
      <li>Support for counters</li>
      <li>Much better performance</li>
      <li>Full authorization support</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Marshalling</h6>
    <ul>
      <li>Complete separation of internal and user marshaller</li>
      <li>Embedded marshaller is now based on Protocol Buffers</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Configuration</h6>
    <ul>
      <li>Inline JGroups configuration with XSite</li>
      <li>Out-of-the-box JGroups stacks for many cloud environments</li>
      <li>XInclude support</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management, monitoring and logging</h6>
    <ul>
      <li>MicroProfile metrics</li>
      <li>OpenMetrics endpoint</li>
      <li>Coarse-grained logging categories</li>
      <li>JSON logging</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Persistence</h6>
    <ul>
      <li>All core cache-stores are now non-blocking</li>
      <li>Increased passivation throughput</li>
      <li>Segmented stores by default for faster performance and decreased memory usage</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Container Image</h6>
    <ul>
      <li> Based on <a href="https://www.redhat.com/en/blog/introducing-red-hat-universal-base-image"> UBI Minimal </a> and Java 11 </li>
      <li>Simple YAML configuration</li>
      <li>Authentication, Encryption, Logging and XSite support</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cross-Site Clustering</h6>
    <ul>
      <li>Concurrent requests handled simultaneously instead of sequentially</li>
      <li>Detect site disconnections in async mode</li>
      <li>Metrics for asynchronous requests</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 10.0</a>
  </div>
</div>