<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 12.0 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Integration with Knative Eventing</li>
      <li>Allow caches to scale up without state transfer</li>
      <li>Replace Blocking Executor with an EnhancedQueueExecutor</li>
      <li>BlockingManager add reentrant blocking scheduler</li>
      <li>Improved license generation</li>
      <li>Improved MediaType parsing</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>Allow custom paths for conf/data/log directories</li>
      <li>Ability to separate server root subdirectories</li>
      <li>Handlers for both HTTP 1.1 and HTTP 2.0</li>
      <li>Improve Infinispan Server Extension in Spring Boot</li>
      <li>Cluster backup and restore capabilities</li>
      <li>Use alternative to JMX to compute protocols server global connection count</li>
      <li>System init files to run as a system service</li>
      <li>Treat PEM files in the client in the same way as truststores</li>
      <li>Use correct expressions to set infinispan.cluster.name and infinispan.cluster.stack properties</li>
      <li>Add credential store support</li>
      <li>Allow system properties from file</li>
      <li>Set JGroups port offset</li>
      <li>Improve log message when client auth config is incomplete</li>
      <li>Add caching to the server security realm</li>
      <li>Near caches with bloom filter</li>
      <li>OpenTracing for distributed tracing</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Operator</h6>
    <ul>
      <li>Cluster backup and restore capabilities</li>
      <li>Manual cross-site configuration</li>
      <li>Node anti-affinity configuration</li>
      <li>Ability to specify the PVC StorageClassName</li>
      <li>Kubernetes CLI</li>
      <li>Support for multiple and global namespace installation</li>
      <li>Quarkus native Infinispan image support</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">CLI</h6>
    <ul>
      <li>Improve CLI server report to work with macOS</li>
      <li>Alternative CLI configuration</li>
      <li>Persistent CLI configuration</li>
      <li>CLI command help improvements</li>
      <li>Tooling to generate server performance tests</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Console</h6>
    <ul>
      <li>Add an About page</li>
      <li>Make the welcome visible without login in every case</li>
      <li>Filter counters</li>
      <li>Delete counters</li>
      <li>Describe ProtoBuf error message</li>
      <li>Handle FAILED Health status</li>
      <li>Display a sample of data on the cache entries tab</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">REST</h6>
    <ul>
      <li>Report realm readiness through REST login configuration resource</li>
      <li>Allow backup restore progress to be submitted and polled</li>
      <li>Support streaming operations for entries</li>
      <li>Remove jackson databind</li>
      <li>Remove deprecated GET methods</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Quarkus</h6>
    <ul>
      <li>Infinispan Native CLI</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Container Image</h6>
    <ul>
      <li>Added support for configuring zero-capacity</li>
      <li>Override JGroups properties at runtime</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Configuration</h6>
    <ul>
      <li>Support cache fragments when creating caches and templates via remote APIs</li>
      <li>Handle maximum idle expiration across sites</li>
      <li>Enforce `<indexed-entities>` for protobuf payloads in indexed caches</li>
      <li>Add JGroups stack.combine INSERT_BEFORE</li>
      <li>Configurable properties for JGroupsChannelLookup</li>
      <li>Add zero-capacity-node support for Replicated caches</li>
      <li>Convert expiration to no longer use transactions</li>
      <li>Dump effective JGroups Stack on startup</li>
      <li>CacheIgnoreManager should use global config cache</li>
      <li>org.infinispan.CONFIG should ignore zero-capacity-node=true</li>
      <li>Allow templates to be defined clusterwide and persisted</li>
      <li>Improve error message when XML element is removed</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management, monitoring and logging</h6>
    <ul>
      <li>Allow anonymous connections to the metrics endpoint</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and Querying</h6>
    <ul>
      <li>Upgrade to Hibernate Search 6 and Lucene 8</li>
      <li>Non-blocking indexing</li>
      <li>Remove deprecated indexed query classes</li>
      <li>Avoid loading from unreferenced caches during queries</li>
      <li>Support for query and indexing statistics</li>
      <li>Introduce strong typed indexing configuration</li>
      <li>Add blockhound support</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cross-Site Clustering</h6>
    <ul>
      <li>`Transport::getSitesView()` should be ordered</li>
      <li>SPI for Cross-Site Replication conflict resolution</li>
      <li>Update `tcp::MPING::bind_addr` to SITE_LOCAL</li>
      <li>XSite Response should allow a value</li>
      <li>Enable conflict resolution for IRAC state transfer</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Marshalling</h6>
    <ul>
      <li>User types fully isolated from the Infinispan internal context</li>
      <li>Automatic SerializationContextInitializer registration</li>
      <li>Add UUID to core SerializationContexts</li>
      <li>ProtoStream adapters for third-party classes</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Persistence</h6>
    <ul>
      <li>RemoteStore uses new NonBlockingStore SPI</li>
      <li>Change RemoteStore to handle media types and verify segments</li>
      <li>Add JDBC Meta Table</li>
      <li>Add RocksDB Meta Column Family</li>
      <li>Remove Rest store</li>
      <li>Allow custom wait strategies for database connections</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Test suite</h6>
    <ul>
      <li>Add default Infinispan JGroups stacks</li>
      <li>Remove alternative http clients</li>
      <li>Add test driver dependencies to the bom</li>
      <li>Add the `server-integration` module into `integrationtests` module</li>
      <li>Allow different servers for server integration test suite</li>
      <li>Create an InfinispanXSiteServerRule and increase test coverage</li>
      <li>Add eap profile for third-party-server project</li>
      <li>Allow custom unzip expression for tomcat in third-party-server</li>
      <li>E2E Smoke tests with Cypress</li>
      <li>Add Memcached client test for third-party-server</li>
      <li>Shrinkwrap dependencies for Server JUnit modules</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Tutorials</h6>
    <ul>
      <li>Infinispan Remote Weather App Tutorial</li>
      <li>Infinispan Server Extension tutorial (remote-junit5)</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Website</h6>
    <ul>
      <li>Improve Welcome Page design and use new Logo</li>
      <li>Change favicon to the new logo</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 12.0</a>
  </div>
</div>
