<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 13.0 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>JDK 17 support (but still compatible with JDK 8 and JDK 11)</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>Configuration overlays</li>
      <li>Thread pool consolidation for lower resource consumption</li>
      <li>Automatically enable TLS for the cluster transport simply by specifying a security realm with a keystore/truststore server identity</li>
      <li>Distributed Security Realm*: a server security realm which can aggregate multiple sub-realms, trying each one in turn.</li>
      <li>PEM key/trust stores*: Support for PEM files for both keys and certificates without the need to convert them to Java keystores first</li>
      <li>Full support for TLSv1.3 via native OpenSSL.</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cloud</h6>
    <ul>
      <li>Operator-assisted cluster migration upgrade</li>
      <li>Helm charts</li>

    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">CLI</h6>
    <ul>
      <li>Simplified shell connection to Kubernetes pods</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Console</h6>
    <ul>
      <li>Type-aware entry editing</li>
      <li>Rebalancing controls</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">REST</h6>
    <ul>
      <li>Rebalancing control</li>
      <li>Availability control</li>
      <li>Configuration mutability</li>
      <li>Configuration conversion</li>
      <li>Cache entry listeners with Server-Sent events</li>
      <li>Cache configuration listeners with Server-Sent events</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Live cluster migration</h6>
    <ul>
      <li>Manually changing configurations of the cache(s) is no longer necessary</li>
      <li>New methods in the REST API to control the migration</li>
      <li>Support dynamically-created caches</li>
      <li>Simplified configuration</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Configuration</h6>
    <ul>
      <li>XML/YAML/JSON configuration</li>
      <li>Alter cache configuration at runtime</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management, monitoring and logging</h6>
    <ul>
      <li>Cache size reporting is now optional to improve performance</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and Querying</h6>
    <ul>
      <li>Delete by query</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cross-Site Clustering</h6>
    <ul>
      <li>Improve cross-site replication observability</li>
      <li>The cross-site view (sorted list of site names currently online) and relay-nodes (members who are responsible for relaying messages between sites) are now exposed via CLI/REST/JMX.</li>
      <li>Detailed metrics exposed per site and per cache (response times, number of messages)</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Persistence</h6>
    <ul>
      <li>Default file store is now the Soft-Index file store</li>
      <li>SQL store for easy mapping of tables/queries</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Testing</h6>
    <ul>
      <li>Testcontainers for user development</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Tutorials</h6>
    <ul>
      <li>...</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 13.0</a>
  </div>
</div>
