<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 14.0 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Infinispan requires at least JDK 11. You can also use JDK 17 LTS or JDK 19</li>
      <li>Jakarta EE based jars for most of the Infinispan modules</li>
      <li>Cluster Listener using `includeCurrentState` has better memory and performance</li>
      <li>Smaller memory requirements for State Transfer</li>
      <li>State Transfer metrics exposed through JMX, including the number of segments during the transfer</li>
      <li>Cache size method optimization</li>
      <li>Reduced some cases of blocking threads being over utilized</li>
      <li>Dynamic Role-based access control (RBAC)</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>RESP endpoint: a Redis-compatible endpoint connector</li>
      <li>FIPS with PKCS#11 keystores</li>
      <li>Support for custom security providers, such as BouncyCastle</li>
      <li>Support for masked and external credentials</li>
      <li>TLS engine configuration allows cipher suites selection for both TLSv1.3 and TLSv1.2</li>
      <li>JMX integration with our security realms</li>
      <li>Deprecation of endpoint worker threads configuration</li>
      <li>Experimental IO_Uring support</li>
      <li>REST endpoints expose distribution information for caches and clusters</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cloud</h6>
    <ul>
      <li>Multi Operand support: A single Operator installation can manage multiple Infinispan Server versions</li>
      <li>FIPS support</li>
      <li>Custom user configuration refactored</li>
      <li>Admin service is now headless</li>
      <li>Bundle provided for both amd64 and arm64 architectures</li>
      <li>Image based on <a href="https://catalog.redhat.com/software/containers/ubi9/ubi-micro/615bdf943f6014fa45ae1b58"> ubi9/ubi-micro</a> </li>
    </ul>
  </div>
  
    <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Container Image</h6>
    <ul>
      <li>Image based on <a href="https://catalog.redhat.com/software/containers/ubi8/openjdk-17/618bdbf34ae3739687568813">ubi8/openjdk-17-runtime</a> </li>
      <li>Images provided for both amd64 and arm64 architectures</li>
      <li>`SERVER_LIBS` environment variable that allows dependencies to be downloaded prior to server startup</li>
      <li>The `config-generator` has been removed. Its functionality can be replaced by using configuration overlays</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">CLI</h6>
    <ul>
      <li>List cache entries command, including metadata (table, JSON or CSV format)</li>
      <li>Configuration converter</li>
      <li>Schema command to upload, delete, modify protobuf schema</li>
      <li>Index command to manage indexes</li>
      <li>Client certificate authentication</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Console</h6>
    <ul>
      <li>Cache creation wizard</li>
    </ul>
  </div>
  
    <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Configuration</h6>
    <ul>
      <li>Multimap supports duplicates</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and querying</h6>
    <ul>
      <li>Infinispan native annotations replaced legacy Hibernate Query annotations</li>
      <li>Index start up mode (purge, reindex, none, and auto)</li>
      <li>Dynamic index schema update</li>
      <li>Support Protobuf’s `oneof`</li>
      <li>Improved hybrid query system</li>
      <li>Support for normalizers with the Hot Rod client</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cross-Site Clustering</h6>
    <ul>
      <li>The asynchronous cross-site replication updates are batched in the sender</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Persistence</h6>
    <ul>
      <li>Improvements to `SoftIndexFileStore` segmentation performance</li>
      <li>`JDBCStringBasedStore` is dynamically configured when checking the JDBC connection</li>
      <li>Removal of `JPAStore`</li>
    </ul>
  </div>
  
    <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Hot Rod client</h6>
    <ul>
      <li>A new Hot Rod client with a completely redesigned API</li>
      <li>Hot Rod 4.0 protocol </li>
      <li>Sync (blocking), Async (non-blocking) and Mutiny sub-APIs</li>
    </ul>
  </div>
  
    <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Integrations</h6>
    <ul>
      <li>Hibernate caching implementation supporting Hibernate 6</li>
      <li> Hibernate 5 caching is no longer supported due to Jakarta EE migration</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Monitoring and observability</h6>
    <ul>
      <li>Integration with OpenTelemetry tracing</li>
      <li>Client/server request tracing correlations on both Hot Rod and REST APIs</li>
      <li>Integration with Micrometer to produce Prometheus and OpenMetrics metrics</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Tutorials</h6>
    <ul>
      <li>...</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 14.0</a>
  </div>
</div>
