<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 15.0 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Infinispan requires at least JDK 17. You can also use JDK 21 LTS or JDK 22</li>
      <li>Jakarta EE-only (Java EE suport has been removed)</li>
      <li>Optimized intra-cluster communications: previous values that were identified being returned when they are not needed</li>
      <li>Remove operations on a non tx cache will no longer generate intra-cluster traffic if no value is present.</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Server</h6>
    <ul>
      <li>RESP endpoint: the Redis-compatible endpoint connector supports most of the core Redis commands</li>
      <li>Memcached: support the binary protocol as well as authentication</li>
      <li>All protocols are now available through the single-port with automatic detection</li>
      <li>Aggregate realms, which allows you to combine different realm types for authentication and authorization.</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cloud</h6>
    <ul>
      <li>Operator: configurable probe values, JMX, many improvements for cross-site and security</li>
      <li>Helm charts: custom environment variables, tolerations, node affinity and node selectors, TLS</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Marshalling</h6>
    <ul>
      <li>Protocol Buffers 3, including `map`</li>
      <li>Support Java `record`s</li>
      <li>Simplified annotations and implicit field numbering</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Console</h6>
    <ul>
      <li>List connected clients</li>
      <li>Manage roles, users and access control for Principal Role Mappers </li>
      <li>Dark mode</li>
    </ul>
  </div>
  
    <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Configuration</h6>
    <ul>
      <li>Configurable handling of nodes which have been shutdown uncleanly</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and querying</h6>
    <ul>
      <li>Simpler query API</li>
      <li>Vector indexes</li>
      <li>Tunable hit count accuracy</li>
      <li>High-performance indexed count aggregation queries are now supported</li>
      <li>More projection kinds: score, version, star/identity</li>
      <li>Support for BigDecimal/BigInteger in Ickle queries</li>
      <li>Configuratble index sharding</li>
      <li>Optional manual indexing. Useful for bulk loading</li>
      <li>Non-blocking indexing</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Persistence</h6>
    <ul>
      <li>Soft-Index File Store: huge improvements in performance and reliability</li>
      <li>More efficient passivation</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Monitoring and observability</h6>
    <ul>
      <li>Global and per-cache tracing configuration</li>
      <li>Tracing categories for cluster, cross-site, persistence and security</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Tutorials</h6>
    <ul>
      <li>Tutorials have been updated to include examples of the new features.</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 15.0</a>
  </div>
</div>
