<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 15.1 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Cache aliases</li>
      <li>Certificate reloading</li>
      <li>Foreign memory off-heap support (JDK 22+)</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Hot Rod client</h6>
    <ul>
      <li>Pipelined Hot Rod client</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Console</h6>
    <ul>
      <li>Cache aliases</li>
      <li>Index metamodel</li>
      <li>Tracing configuration</li>
    </ul>
  </div>
  
    <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Configuration</h6>
    <ul>
      <li>Time quantities</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and querying</h6>
    <ul>
      <li>Spatial queries</li>
      <li>Nested entity joins</li>
      <li>Non-blocking query API</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 15.1</a>
  </div>
</div>
