<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 15.2 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Server</h6>
    <ul>
      <li>RESP endpoint: EVAL scripting and JSON commands</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 15.2</a>
  </div>
</div>
