<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 15.2 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">RESP endpoint</h6>
    <ul>
      <li>JSON commands (Redis JSON API)</li>
      <li>Lua scripting (cluster-wide, without key ownership concerns)</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Server</h6>
    <ul>
      <li>Max request size limit on all endpoints (default 10MB)</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Metrics</h6>
    <ul>
      <li>Option to disable base (JVM) metrics export for embedded mode</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Console</h6>
    <ul>
      <li>New look & feel (PatternFly 6)</li>
      <li>Manage roles, users and access control for Principal Role Mappers</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Documentation</h6>
    <ul>
      <li>Complete list of OpenMetrics and JMX metrics</li>
      <li>Complete list of log messages</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Deprecations and removals</h6>
    <ul>
      <li>Native server no longer built</li>
    </ul>
  </div>
</div>
