<div class="component-slim grid-wrapper">
    <div class="width-12-12">
        <h4>Infinispan 16.0 Release Notes</h4>
    </div>

    <div class="item-wrapper">
        <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
        <ul>
            <li>In-place rolling upgrades</li>
            <li>Virtual threads support</li>
            <li>Schema management API</li>
        </ul>
    </div>

    <div class="item-wrapper">
        <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Server</h6>
        <ul>
            <li>AOT</li>
            <li>On-demand caches</li>
        </ul>
    </div>

    <div class="item-wrapper">
        <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Console</h6>
        <ul>
            <li>Live configuration mutation</li>
        </ul>
    </div>

    <div class="item-wrapper">
        <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and querying</h6>
        <ul>
            <li>Indexed aggregations</li>
        </ul>
    </div>

    <div class="item-wrapper">
        <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
        <br/><br/>
        <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 16.0</a>
    </div>
</div>
