<div class="component-slim grid-wrapper">
    <div class="width-12-12">
        <h4>Infinispan 16.1 Release Notes</h4>
    </div>

    <div class="item-wrapper">
        <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
        <ul>
            <li>Container-based eviction</li>
            <li>Lucene 10 support (alongside Lucene 9)</li>
        </ul>
    </div>

    <div class="item-wrapper">
        <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Server</h6>
        <ul>
            <li>OpenAPI / Swagger (v3 REST API)</li>
            <li>Java 25 required for server</li>
            <li>Lucene 10.3 with SIMD support</li>
            <li>Pre-start batch scripts</li>
            <li>AOT cache in the container image</li>
            <li>Disabled weak/vulnerable authentication mechanisms by default</li>
        </ul>
    </div>

    <div class="item-wrapper">
        <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">CLI</h6>
        <ul>
            <li>Batch error handling (fail-fast, fail-at-end, ignore)</li>
        </ul>
    </div>
</div>
