<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 7.0 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Partition Handling</h6>
    <ul>
      <li>Detects split brain scenarios and reduces availability to provide consistency in such situations</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Uber JARs</h6>
    <ul>
      <li>To add Infinispan to your application you now need to use only one JAR</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Security</h6>
    <ul>
      <li>Cache and CacheManager authorization with support for custom auditing. This feature can optionally integrate with the JDK SecurityManager.</li>
      <li>HotRod authentication based on SASL and integrated with the Security Realms in the server.</li>
      <li>Clustering authentication and authorization integrated with the Security Realms in the server.</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Brand new XML configuration</h6>
    <ul>
      <li>XML configuration has been revamped to match server-side configuration format found in Infinispan Server, Wildfly or JBoss Application Server 7.</li>
      <li>Support for the XML format used by Infinispan 6.0 and older has been dropped</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cross-Site Clustering</h6>
    <p>State-transfer across sites for seamless synchronization of data when a remote site is brought online</p>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Query improvements</h6>
    <ul>
      <li>Indexless queries</li>
      <li>Integration with Apache Lucene version 4.10.x</li>
      <li>Improved reliability of index storage</li>
      <li>Significant performance improvements for asynchronous indexing backends</li>
      <li>Experimental support for “MoreLikeThis” queries</li>
      <li>Automatic election of “master” indexing node (experimental)</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Clustered listeners</h6>
    <p>Distributed caches can now notify a single listener in the cluster of all write events</p>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Remote events over HotRod</h6>
    <ul>
      <li>Server-side cache events can be now propagated to Hot Rod clients that register listeners, enabling near-cache architectures.</li>
      <li>Events can be filtered server-side and they can be customized to fit the user.</li>
    </ul>
  </div>
  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Distributed Entry Iterator</h6>
    <ul>
      <li>Allows for memory sensitive way to iterate entire contents of the cluster</li>
      <li>Provides way for filtering of entries retrieved and materialized views</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Remote Query improvements</h6>
    <ul>
      <li>Simplified schema management using the cache API</li>
      <li>Schemas are automatically compiled by the server</li>
      <li>Field-level indexing granularity</li>
      <li>Protobuf schemas are supported without need to precompile them</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Map bulk operations enhancements (entrySet, keySet, values, size)</h6>
    <ul>
      <li>Operations now properly take into account entire cluster contents</li>
      <li>Returned collections are now backing in that updates to the collection are reflected in the cache and vice versa</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server improvements</h6>
    <ul>
      <li>Hot Rod remote event filters and converters, container within JAR files, can be deployed using standard mechanisms to Infinispan Servers.</li>
      <li>The server CLI is now built on top of WildFly’s CLI enabling access to the full Domain Management Model</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Map/Reduce performance improvements</h6>
    <ul>
      <li>Now takes advantage of multicore concurrency in all phases for exceptional speedup when compared to Infinispan 6</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Hot Rod 2.0 protocol improvements</h6>
    <ul>
      <li>RemoteCache.size() now implemented with a dedicated size() operation in the protocol, which takes both persistent store, and cluster wide cache contents into account.</li>
      <li>Better topology updates sent to clients, containing less information and providing more precise key location mechanism.</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Integrations</h6>
    <ul>
      <li>JCache (JSR-107) support upgraded to 1.0.0</li>
      <li>Support for CDI events</li>
      <li>OSGi support</li>
      <li>Support for both Spring 3.x and 4.x</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">New experimental Soft Index File Store</h6>
    <ul>
      <li>A file store which indexes entries using B+ tree that is cached in-memory using Java's soft references</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 7.0 </a>
  </div>
</div>