<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 7.1 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Near Cache support</h6>
    <ul>
      <li>HotRod clients can utilize near caching to improve read performance</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Uber Jars</h6>
    <ul>
      <li>The CLI is now also packaged as an UberJar</li>
      <li>Many fixes to classloading and hiding of private inner packages</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Partition Handling</h6>
    <ul>
      <li>Cluster will enter degraded mode instead of unavailable allowing for more keys to stay available</li>
      <li>Huge stability improvements</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing</h6>
    <ul>
      <li>Mass Indexer operation no longer blocks</li>
      <li>Huge performance/stability improvements in indexing</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Clustered listeners</h6>
    <ul>
      <li>Enhanced performance when multiple cluster listeners are installed as well as asynchronous cluster listeners</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Remote events over HotRod</h6>
    <ul>
      <li>Remote event filter/converter callbacks can use raw data</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Enhanced Statistics</h6>
    <ul>
      <li>Statistics for clustered caches</li>
      <li>Statistics for a single node</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Entry Iterator</h6>
    <ul>
      <li>Local entry iteration when no loader should operate subsantially faster</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 7.1 </a>
  </div>
</div>