<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 7.2 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Bulk operations</h6>
    <ul>
      <li>The performance of bulk operations (getAll, putAll) in both embedded and remote mode has been improved by an order of magnitude</li>
      <li>The clear operation is now non-transactional and lock-free.</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Scripting (JSR-223) in server</h6>
    <ul>
      <li>Allows creation of server-side scripts which can be invoked from HotRod</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Eviction</h6>
    <ul>
      <li>New design based on the ConcurrentHashMap from JDK 8</li>
      <li>The maximum number of entries is now respected exactly, and not rounded up to the nearest power of 2</li>
      <li>A greatly improved LIRS algorithm which is much more accurate in deciding which entries to evict</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Integrations</h6>
    <ul>
      <li>JCache (JSR-107) support over Hot Rod</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Listeners</h6>
    <ul>
      <li>Listeners can be registered using DSL queries</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cache Stores</h6>
    <ul>
      <li>It is now possible to deploy cache stores to the server</li>
      <li>We now have a cache store Maven archetype</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Configuration</h6>
    <ul>
      <li>Configuration inheritance now only applies modified attributes, making programmatic templating more predictable</li>
    </ul>
  </div>
  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing</h6>
    <ul>
      <li>More performance improvements</li>
    </ul>
  </div>


  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 7.2 </a>
  </div>
</div>