<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 8.0 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Based on Java 8</li>
      <li>Reduced resource consumption</li>
      <li>Reduced locking</li>
      <li>Separate thread pool for async operations</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and Query</h6>
    <ul>
      <li>Continuous Query listeners</li>
      <li>Grouping and Aggregation with DSL-based queries</li>
      <li>Mixed queries, supporting indexed and non-indexed fields</li>
      <li>The indexing and query engine has been upgraded to Lucene 5.2</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">API</h6>
    <ul>
      <li>New lambda-based functional cache API</li>
      <li>Distributed streams based on java.util.stream</li>
      <li>Configuration templates</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Integrations</h6>
    <ul>
      <li>Apache Spark connector</li>
      <li>Apache Hadoop connector</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Eviction</h6>
    <ul>
      <li>Memory size-based eviction</li>
      <li>Runtime resizing of the maximum number of entries</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management and monitoring</h6>
    <ul>
      <li>Remote entry iterator</li>
      <li>Expose server segment mapping</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Listeners</h6>
    <ul>
      <li>Notifications for entry expiration</li>
      <li>Listeners can be registered using DSL queries</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Hot Rod protocol improvements</h6>
    <ul>
      <li>Remote entry iterator</li>
      <li>Expose server segment mapping</li>
    </ul>
  </div>
  
  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 8.0 </a>
  </div>
</div>