<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 8.1 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Global state persistence</li>
      <li>Continued internals refactoring</li>
      <li>Per-cache rebalance control</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and Query</h6>
    <ul>
      <li>Continuous Queries are now indexed</li>
      <li>Projections in Continuous Queries</li>
      <li>Lots of improvements in performance and correctness</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">API</h6>
    <ul>
      <li>Cache injection in forEach consumer</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>Server base upgraded to WildFly 10</li>
      <li>Caches can be hidden from the clients to perform maintenance</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management and monitoring</h6>
    <ul>
      <li>Huge overhaul of the web-based management console for server</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Server tasks</h6>
    <ul>
      <li>Includes server-side scripting</li>
      <li>Per-task role ACL, strict named-parameter checking</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Hot Rod protocol improvements</h6>
    <ul>
      <li>Site failover support</li>
      <li>Clustered statistics</li>
      <li>Compatibility mode awareness</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Security</h6>
    <ul>
      <li>Improved caching of ACLs with flush ops</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 8.1 </a>
  </div>
</div>