<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 8.2 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Staggered remote gets</li>
      <li>Continued internals refactoring</li>
      <li>Synchronous consistent hashing is now the default</li>
      <li>Initial cluster size configuration</li>
      <li>Performance and memory allocation-rate improvements</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and Query</h6>
    <ul>
      <li>Explicit indexed entity configuration</li>
      <li>Hibernate Search 5.6 Alpha and Lucene 5.5</li>
      <li>Unified continuous query API between embedded and remote</li>
      <li>Experimental index affinity</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">API</h6>
    <ul>
      <li>New lambda-aware clustered executor to replace distributed executor</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>Server base upgraded to WildFly 10</li>
      <li>Queryable event logger</li>
      <li>More complete management ops for schemas and scripts</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management and monitoring</h6>
    <ul>
      <li>Persistent login session which survives refresh</li>
      <li>Deployment / undeployment of user code</li>
      <li>Management of ProtoBuf schemas for indexing</li>
      <li>Management of scripts for task execution</li>
      <li>Event viewing</li>
      <li>Much improved cache and template configuration</li>
      <li>Container configuration</li>
      <li>Cross-site replication management</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Server tasks</h6>
    <ul>
      <li>Deployable tasks</li>
      <li>Alternate data-types for input/output for cross-language compatibility</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 8.2 </a>
  </div>
</div>