<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 9.0 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Graceful shutdown and restart with persistent cache state</li>
      <li>Off-heap storage</li>
      <li>Performance improvements</li>
      <li>New internal marshaller</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and Query</h6>
    <ul>
      <li>Ickle, a new query language derived from JPQL with full-text predicates</li>
      <li>Replace the HQL translator with an internal one</li>
      <li>Always cache the query AST</li>
      <li>ElasticSearch indexing backend</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">API</h6>
    <ul>
      <li>Replace the home-brew notifying futures with CompletableFutures everywhere</li>
      <li>Stream usability improvements</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>Server base upgraded to WildFly 11</li>
      <li>SNI for Hot Rod and REST</li>
      <li>Multi-tenancy</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Eviction</h6>
    <ul>
      <li> New bounded container based on <a href="https://github.com/ben-manes/caffeine"> Caffeine </a> </li>
      <li>More reliable eviction</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Integrations</h6>
    <ul>
      <li>Spring Session support</li>
      <li> <a href="https://github.com/EsotericSoftware/kryo"> Kryo </a> and <a href="http://www.protostuff.io/"> Protostuff </a> marshallers for Hot Rod </li>
      <li>Kubernetes PING support</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management and monitoring</h6>
    <ul>
      <li>Web console works with both domain and standalone mode</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cache Stores</h6>
    <ul>
      <li>RocksDB cache store which replaces the LevelDB one</li>
      <li>Upserts and transactions for JDBC stores</li>
      <li>HikariCP connection pooling</li>
      <li>Dropped Mixed and Binary JDBC stores</li>
    </ul>
  </div>


  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 9.0</a>
  </div>
</div>