<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 9.1 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Conflict resolution and merge policies</li>
      <li>Performance improvements</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Cache Stores</h6>
    <ul>
      <li>Batching support</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">API</h6>
    <ul>
      <li>Clustered counters</li>
      <li>Exclusive stream operations</li>
      <li>Distributed compute(), computeIfAbsent(), computeIfPresent()</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>HTTP/2 support for the REST endpoint</li>
      <li>Much improved REST endpoint performance</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management and monitoring</h6>
    <ul>
      <li>Endpoint management through the console</li>
      <li>Usability improvements</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Integrations</h6>
    <ul>
      <li>Improved Kubernetes PING support</li>
    </ul>
  </div>


  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 9.1</a>
  </div>
</div>