<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    <h4>Infinispan 9.2 Release Notes</h4>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Core</h6>
    <ul>
      <li>Further improvements to conflict resolution and merge policies</li>
      <li>Reactive streams for increased throughput</li>
      <li>Biased reads for scattered caches</li>
      <li>More accurate off-heap memory calculations</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Data Interoperability</h6>
    <ul>
      <li>Transparently convert between JSON and Protobuf</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">API</h6>
    <ul>
      <li>Multimap caches for embedded and Hot Rod</li>
      <li>Clustered Counters for Hot Rod</li>
      <li>Clustered Locks</li>
      <li>Wildcard configurations</li>
      <li>Cluster-wide cache admin via embedded and remote</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Indexing and Query</h6>
    <ul>
      <li>Broadcast queries</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Management, monitoring and logging</h6>
    <ul>
      <li>Console support for counters</li>
      <li>Improved remote protocol access logging</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Infinispan Server</h6>
    <ul>
      <li>Rebased on WildFly 11</li>
      <li>Hot Rod server uses async ops for reduced thread usage</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Integrations</h6>
    <ul>
      <li>JCache 1.1</li>
      <li>Hibernate 5.1/5.2 second-level cache providers</li>
      <li>Azure cloud discovery</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Hot Rod / REST</h6>
    <ul>
      <li>Clustered Counters over Hot Rod</li>
      <li>MultiMap over Hot Rod</li>
      <li>Queries over REST</li>
      <li>Hot Rod Client rewritten to use Netty</li>
    </ul>
  </div>

  <div class="item-wrapper">
    <i class="fas fa-cloud-download-alt text-orange"></i> <h6 class="margin-tb-0">Where do I get it ?</h6>
    <br/><br/>
    <a href="{{site.baseurl}}/download" class="button-cta btn-sm">Download Infinispan 9.2</a>
  </div>
</div>