<div class="width-12-12 callout orange margin-tb-xs">
    <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
            <img src="{{author.image}}" class="author-img">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
            <h5>{{author.name}}</h5>
            <p>{{author.bio}}</p>
            <div class="width-3-12 width-6-12-m bio-block">
                <a href="{{author.github}}"><img src="/assets/images/community/icon-github.png"></a>
                {% if author.twitter %}
                <a href="{{author.twitter}}"><img src="/assets/images/community/icon-twitter.png"></a>
                {% endif %}
                {% if author.linkedin %}
                <a href="{{author.linkedin}}"><img src="/assets/images/community/icon-linkedin.png"></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>