<div class="component community-values-band full-width-bg dark-bg light-blue">
  <div class="grid-wrapper">
    <div class="width-4-12 width-12-12-m">
      <h4>Disclosure</h4>
      <p>We’d like to make clear how this project works and who holds what responsibilities. We want everyone involved to understand how decisions are made and where they can contribute. If you feel this page does not reflect the current state of project ownership and responsibilities, please contact the project lead on the developers’ mailing list.</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>Stewardship</h4>
      <p>This project is developed and released by Red Hat with assistance from the Java developer community. The project lead is appointed by Red Hat, and has the power to accept and reject contributions to the project and set the roadmap.</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>Release Cycle</h4>
      <p>Infinispan releases major (new features and API changes), minor (new features but no breaking API changes) and micro releases (patches). Once a version of Infinispan is included in a GA Red Hat Data Grid release, Infinispan moves on to its next major version. However, Infinispan’s regular cadence will ensure that work on the open source version will remain fresh and cutting edge. If you are looking for a long term stream of patches, we recommend using Red Hat Data Grid.</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>Requirement Definition</h4>
      <p>The requirements and roadmap for Infinispan are driven by the community. Typically, when a major release is being planned, the project lead will take input from everyone in the community, including the broader Red Hat community, and evaluate what can be done in the necessary time. This will define what features will be addressed in a given release. The project lead will then publish the roadmap on the Infinispan public roadmap. The best way for you to suggest requirements for a future release of Infinispan is to enter a feature request in JIRA. The Infinispan team uses the JIRA voting system to evaluate the popularity of an issue - lobby others in the community to vote for your feature request!</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>Contribution</h4>
      <p>Infinispan welcomes, thrives on and greatly values community contribution, and makes the bar to contributing as low as possible. You are advised to read up on the Contributing to Infinispan page in our documentation before contributing. It contains hints and tips on how to write code that will maximize chances for acceptance into the project, as well as many handy tips to help you work with the Infinispan code base.</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>Red Hat Data Grid</h4>
      <p>Infinispan is the base for the Red Hat Data Grid, so many requirements for Infinispan are often driven by RHDG. You can give it a try on <a href="https://developers.redhat.com/products/datagrid/overview" target="_blank">Red Hat Developers</a>.</p>
    </div>
  </div>
</div>
