<div class="component community-contributions-band text-centered">
  <div class="grid-wrapper">
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-project.png">
      <h4>An Open Project</h4>
      <p>Infinispan is a 100% open source project, under the <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache Public License 2.0</a>. Not only is the code open source, free to use and free to modify, the development process is also open. </p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-github.png">
      <h4>Code and Issue Tracker</h4>
      <p>The source code is hosted on <a href="{{ github_fork_url }}" target="_blank">GitHub</a>. If you need to report a bug or request a new feature, look for a similar one on our <a href="https://jira.jboss.org/browse/ISPN" target="_blank">JIRA issues tracker</a>. If you don’t find any, <a href="https://jira.jboss.org/browse/ISPN" target="_blank">create a new issue</a>.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-stackoverflow.png">
      <h4>StackOverflow</h4>
      <p>If you have questions, are experiencing a bug or want advice on using Infinispan, you can use <a href="https://stackoverflow.com/questions/tagged/?tagnames=infinispan&sort=newest" target="_blank">StackOverflow</a>. We will do our best to answer you as soon as we can.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-ettiquete.png">
      <h4>Ettiquette</h4>
      <p>If you are asking for help, have you read through the <a href="{{site.baseurl}}/documentation" target="_blank">documentation</a> first? You may find your answer there.<br/><br/>Also, if you are reporting a bug, have you checked our <a href="https://jira.jboss.org/browse/ISPN" target="_blank">bug tracker</a> first? It may be a known issue.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-mail.png">
      <h4>Developers Mailing List</h4>
      <p>This is geared towards developing Infinispan itself. It often contains deep, technical discussions on how Infinispan works internally. If you are helping contribute to Infinispan, we welcome your thoughts, ideas and overall participation on the <a href="https://lists.jboss.org/mailman/listinfo/infinispan-dev" target="_blank">developers’ mailing list</a>.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-archive.png">
      <h4>Archive</h4>
      <p>Archives of the Infinispan developers’ mailing list can be found on <a href="http://markmail.org/search/?q=list%3Aorg.jboss.lists.infinispan-dev" target="_blank">MarkMail</a> which also has an excellent search interface. You can also find older content on the archived <a href="http://markmail.org/search/?q=list%3Aorg.jboss.lists.infinispan-dev" target="_blank">Infinispan wiki</a>.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-twitter.png">
      <h4>Follow Infinispan on Twitter</h4>
      <p>Most of our updates go out on <a href="https://twitter.com/{{ twitter_username }}" target="_blank">Twitter</a>. Sometimes our project team speaks at industry events, and sometimes they post cool ways people use Infinispan. Wash, rinse, and retweet.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-contactus.png">
      <h4>Chat with us</h4>
      <p>The Infinispan community uses <a href="https://zulipchat.com/" target="_blank">Zulip</a> for real-time communications. Join us using either a web-browser or a <a href="https://infinispan.zulipchat.com/apps/" target="_blank">dedicated application</a> on the <a href="https://infinispan.zulipchat.com/" target="_blank">Infinispan chat</a>.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-roadmap.png">
      <h4>Public Project Roadmap</h4>
      <p>Read about the community plans for the future. Here is our <a href="{{site.baseurl}}/roadmap" target="_blank">current roadmap</a>. This is driven by the community, come and tell us what your needs are.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-integration.png">
      <h4>Continuous Integration</h4>
      <p>Check out the <a href="LINK_NEEDED" target="_blank">Jenkins Dashboard</a> to keep track of our the Infinispan build process.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-word.png">
      <h4>Spread the word</h4>
      <p>The simplest and easiest way to help the Infinispan community is to act as a project ambassador, follow us on Twitter, and show up to community events.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-publications.png">
      <h4>Publications</h4>
      <p>There are heaps of helpful articles and blog posts out there presenting interesting use-cases and examples of Infinispan in action.</p>
    </div>
  </div>
</div>
