<div class="component documentation-contactus-band full-width-bg dark-bg padding-tb-lg">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m">
      <h4 class="margin-tb-sm">Got an improvement to the source code or want to write some docs?</h4>
      <i class="fab fa-github text-orange"></i> <a href="https://infinispan.org/docs/dev/titles/contributing/contributing.html" target="_blank">Review the Guide and submit a PR</a>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h4 class="margin-tb-sm">Chat with us, report issues, suggest changes, or ask questions.</h4>
      <i class="fas fa-comments text-orange"></i> <a href="{{site.baseurl}}/community" target="_blank">Join the Community</a>
    </div>
  </div>
</div>