<div class="component documentation-guides-band full-width-bg dark-bg light-blue">
    <div class="grid-wrapper">
        <div class="width-12-12">
            <h3>Documentation Index</h3>
        </div>
        {% include ispn-versions.html %}
        {% assign dev_docs = "/docs/dev" %}
        {% assign stable_docs = "/docs/stable" %}
        {% if dev %}
        <div class="width-4-12 width-12-12-m">
            <h4><i class="fas fa-wrench"></i> Development ({{ dev_minor }})</h4>
            <ul class="chevron">
                <li>
                    <a href="{{ dev_docs }}/index.html">{{ dev_minor }} documentation</a>
                </li>
                <li>
                    <a href="/docs/infinispan-operator/main/operator.html">Infinispan Operator</a>
                </li>
                <li>
                    <a href="{{ dev_docs }}/apidocs/">Java API</a>
                </li>
                <li>
                    <a href="{{ dev_docs }}/configuration-schema/index.html">Schema reference</a>
                </li>
                <li>
                    <a href="{{ dev_docs }}/titles/metrics/metrics.html">Metrics reference</a>
                </li>
                <li>
                    <a href="{{ dev_docs }}/logging/logs.html">Logging reference</a>
                </li>
                <li>
                    <a href="{{ dev_docs }}/titles/container_image/container_image.html">Container Image</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="width-4-12 width-12-12-m">
            <h4><i class="fas fa-check-circle"></i> Stable ({{ stable_minor }})</h4>
            <ul class="chevron">
                <li>
                    <a href="{{ stable_docs }}/index.html">{{ stable_minor }} documentation</a>
                </li>
                <li>
                    <a href="/docs/infinispan-operator/main/operator.html">Infinispan Operator</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/hotrod-clients">Hot Rod clients</a>
                </li>
                <li>
                    <a href="{{ stable_docs }}/apidocs/">Java API</a>
                </li>
                <li>
                    <a href="{{ stable_docs }}/configuration-schema/index.html">Schema reference</a>
                </li>
                <li>
                    <a href="{{ stable_docs }}/titles/metrics/metrics.html">Metrics reference</a>
                </li>
                <li>
                    <a href="{{ stable_docs }}/logging/logs.html">Logging reference</a>
                </li>
                <li>
                    <a href="{{ stable_docs }}/titles/container_image/container_image.html">Container Image</a>
                </li>
            </ul>
        </div>
        <div class="width-4-12 width-12-12-m">
            <h4>Previous releases</h4>
            <i class="fas fa-book"></i> <a href="{{site.baseurl}}/documentation-archive">Documentation archive</a>
        </div>
    </div>
</div>
