<div class="component documentation-links-band">
  {% assign stable_docs = "/docs/stable" %}
  <div class="grid-wrapper">
    <div class="width-2-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-keyboard"></i> Get Started</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.baseurl}}/get-started/" target="_blank">4 easy steps</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/getting_started/getting_started.html#quick_start" target="_blank">Getting started</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/tutorials/" target="_blank">Code tutorials</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-code"></i> Developers</h4>
      <h6>Clients</h6>
      <ul class="chevron orange">
        <li>
          <a href="{{ stable_docs }}/titles/embedding/embedding.html" target="_blank">Embedded</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/hotrod_java/hotrod_java.html" target="_blank">Hot Rod</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/rest/rest.html" target="_blank">REST</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/resp/resp-endpoint.html" target="_blank">Redis (RESP)</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/memcached/memcached.html" target="_blank">Memcached</a>
        </li>
      </ul>
      <h6>Integrations</h6>
      <ul class="chevron orange">
        <li>
          <a href="{{ stable_docs }}/titles/spring_boot/starter.html" target="_blank">Spring Boot</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/spring/spring.html" target="_blank">Spring</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/hibernate/hibernate.html" target="_blank">Hibernate</a>
        </li>
        <li>
          <a href="https://quarkus.io/guides/infinispan-client" target="_blank">Quarkus</a>
        </li>
      </ul>
      <h6>References</h6>
      <ul class="chevron orange">
        <li>
          <a href="{{ stable_docs }}/titles/configuring/configuring.html" target="_blank">Configuration</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/encoding/encoding.html" target="_blank">Encoding</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/query/query.html" target="_blank">Querying</a>
        </li>
      </ul>
    </div>
    <div class="width-2-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-server"></i> Operations</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{ stable_docs }}/titles/server/server.html" target="_blank">Server</a>
        </li>
        <li>
          <a href="/docs/infinispan-operator/main/operator.html" target="_blank">Operator</a>
        </li>
        <li>
          <a href="/docs/helm-chart/main/helm-chart.html" target="_blank">Helm Chart</a>
        </li>
        <li>
          <a href="https://github.com/ansible-middleware/infinispan" target="_blank">Ansible Collection</a><a title="Community-maintained" href="#">*</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/cli/cli.html" target="_blank">CLI</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/tuning/tuning.html" target="_blank">Planning and Tuning</a>
        </li>
        <li>
          <a href="{{ stable_docs }}/titles/xsite/xsite.html" target="_blank">Cross-site replication</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-wand-magic-sparkles"></i> AI & Vector Search</h4>
      <h6>Documentation</h6>
      <ul class="chevron orange">
        <li>
          <a href="{{ stable_docs }}/titles/query/query.html" target="_blank">Vector Search & Querying</a>
        </li>
        <li>
          <a href="https://infinispan.org/docs/stable/titles/mcp_server/mcp_server.html" target="_blank">MCP Server</a>
        </li>
      </ul>
      <h6>Framework Integrations</h6>
      <ul class="chevron orange">
        <li>
          <a href="https://docs.spring.io/spring-ai/reference/api/vectordbs/infinispan.html" target="_blank">Spring AI</a>
        </li>
        <li>
          <a href="https://docs.langchain4j.dev/integrations/embedding-stores/infinispan" target="_blank">LangChain4j</a>
        </li>
        <li>
          <a href="https://docs.quarkiverse.io/quarkus-langchain4j/dev/infinispan-store.html" target="_blank">Quarkus LangChain4j</a>
        </li>
        <li>
          <a href="https://python.langchain.com/docs/integrations/vectorstores/infinispanvs" target="_blank">LangChain Python</a>
        </li>
      </ul>
    </div>
    <div class="width-2-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-user-friends"></i> Community</h4>
      <ul class="chevron orange">
        <li>
          <a href="https://vertx.io/docs/vertx-infinispan/java/" target="_blank">Vert.x Cluster Manager</a>
        </li>
        <li>
          <a href="https://how-to.vertx.io/web-session-infinispan-howto/" target="_blank">Vert.x Web Sessions</a>
        </li>
        <li>
          <a href="https://www.keycloak.org/server/caching" target="_blank">Keycloak</a>
        </li>
        <li>
          <a href="https://camel.apache.org/components/latest/infinispan-component.html" target="_blank">Apache Camel</a>
        </li>
        <li>
          <a href="https://www.wildfly.org/" target="_blank">Wildfly</a>
        </li>
      </ul>
    </div>
  </div>
</div>
