<div class="component documentation-links-band">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-keyboard"></i> Get Started</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.baseurl}}/get-started/" target="_blank">4 easy steps</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.quickstart}}" target="_blank">Getting started with Infinispan</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/tutorials/" target="_blank">Code tutorials</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-code"></i> Developers</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.data.ispn.stable.docs.config}}" target="_blank">Configuring caches</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.encoding}}" target="_blank">Encoding and marshalling data</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.query}}" target="_blank">Querying caches</a><hr>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.embedded}}" target="_blank">Embedded</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.hotrod}}" target="_blank">Hot Rod client</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.rest}}" target="_blank">REST API</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.resp}}" target="_blank">Redis clients</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.memcached}}" target="_blank">Memcached clients</a>
        </li>
        <li>
          <a href="https://quarkus.io/guides/infinispan-client" target="_blank">Quarkus</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.starter}}" target="_blank">Spring-Boot</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-server"></i> Operations</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.data.ispn.stable.docs.server}}" target="_blank">Server</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.operator}}" target="_blank">Operator</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.helmchart}}" target="_blank">Helm Chart</a>
        </li>
        <li>
          <a href="https://github.com/ansible-middleware/infinispan" target="_blank">Ansible Collection</a><a title="Community-maintained" href="#">*</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.cli}}" target="_blank">Command-Line Interface</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.tuning}}" target="_blank">Planning and Tuning</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.xsite}}" target="_blank">Cross-site replication</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <h4><i class="fas fa-user-friends"></i> Community</h4>
      <ul class="chevron orange">
        <li>
          <a href="https://docs.quarkiverse.io/quarkus-langchain4j/dev/infinispan-store.html" target="_blank">Quarkus Langchain Extension</a>
        </li>
        <li>
          <a href="https://python.langchain.com/docs/integrations/vectorstores/infinispanvs" target="_blank">Langchain</a>
        </li>
        <li>
          <a href="https://docs.langchain4j.dev/integrations/embedding-stores/infinispan" target="_blank">Langchain4j</a>
        </li>
        <li>
          <a href="https://vertx.io/docs/vertx-infinispan/java/" target="_blank">Vert.x Cluster Manager</a>
        </li>
        <li>
          <a href="https://how-to.vertx.io/web-session-infinispan-howto/" target="_blank">Vert.x Web Sessions</a>
        </li>
        <li>
          <a href="https://www.keycloak.org/server/caching" target="_blank">Keycloak</a>
        </li>
        <li>
          <a href="https://camel.apache.org/components/latest/infinispan-component.html" target="_blank">Apache Camel</a>
        </li>
        <li>
          <a href="https://www.wildfly.org/" target="_blank">Wildfly</a>
        </li>
      </ul>
    </div>
  </div>
</div>
