<div class="component documentation-links-band">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-get-started.png">
      <h4>Get Started</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.baseurl}}/get-started/" target="_blank">Run Infinispan in 4 Easy Steps</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.quickstart}}" target="_blank">Get Up and Running with Infinispan</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.projects}}" target="_blank">Creating Infinispan Projects</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-admin.png">
      <h4>Admin</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.data.ispn.stable.docs.server}}" target="_blank">Infinispan Server Guide</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.cli}}" target="_blank">Command Line Interface</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.upgrade}}" target="_blank">Upgrading Infinispan</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.security}}" target="_blank">Securing Infinispan</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.tuning}}" target="_blank">Performance Tuning</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-developers.png">
      <h4>Developers</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.data.ispn.stable.docs.embedded}}" target="_blank">Embedding Infinispan</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.dev}}" target="_blank">Developer's Guide</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.encoding}}" target="_blank">Cache Encoding and Marshalling</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.config}}" target="_blank">Configuring Infinispan</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.xsite}}" target="_blank">Cross-Site Replication</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.rest}}" target="_blank">REST API</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.hotrod}}" target="_blank">Hot Rod Java Client Guide</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.integrations}}" target="_blank">Integrations</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.starter}}" target="_blank">Spring Boot Starter</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-cloud.png">
      <h4>Cloud</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.data.ispn.stable.docs.operator}}" target="_blank">Infinispan Operator Guide</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.serverimage}}" target="_blank">Infinispan Server Image</a>
        </li>
      </ul>
    </div>
  </div>
</div>
