<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h4>Extra Cache Stores</h4>
      <p>The following cache stores are developed and maintained independently of the Infinispan release cycle, so they might not be aligned with the latest version of the Cache Store SPI.</p>
    </div>
    {% for entry in site.data.ispn.cachestores.extra %}
      <div class="item-wrapper">
        <div class="item">
          <i class="fas fa-server text-orange"></i>
          <h6 class="margin-tb-0">{{ entry[1].title }}</h6>
          {% assign text = entry[1].text %}
          <p class="margin-tb-sm">{% include {{ text }} %}</p>
          <i class="fas fa-book text-orange"></i> <a href="{{ entry[1].docs }}"> Documentation</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
