<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h4>Infinispan Cache Stores</h4>
      <p>Infinispan offers several cache store implementations that are available with each release. Check out the documentation and find out how to add cache stores to your deployment.</p>
    </div>
    {% for entry in site.data.ispn.cachestores.core %}
      <div class="item-wrapper">
        <div class="item">
          <i class="fas fa-server text-orange"></i>
          <h6 class="margin-tb-0">{{ entry[1].title }}</h6>
          {% assign text = entry[1].text %}
          <p class="margin-tb-sm">{% include {{ text }} %}</p>
          <i class="fas fa-book text-orange"></i> <a href="{{ entry[1].docs }}"> Documentation</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
