<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h4>Available Cache Stores</h4>
      <p>The following cache stores are part of the core Infinispan distribution and therefore are developed and released in-sync with Infinispan itself. Most of these cache stores are included in the <code>infinispan-embedded</code> JAR. Those which require additional dependencies are available in separate artifacts.</p>
    </div>
    {% for entry in site.data.ispn.cachestores.core %}
      <div class="item-wrapper">
        <div class="item">
          <i class="fas fa-server text-orange"></i>
          <h6 class="margin-tb-0">{{ entry[1].title }}</h6>
          {% assign text = entry[1].text %}
          <p class="margin-tb-sm">{% include {{ text }} %}</p>
          <i class="fas fa-book text-orange"></i> <a href="{{ entry[1].docs }}"> Documentation</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
