<div class="component-slim">
  <div class="grid-wrapper">
    {% for entry in site.data.ispn.hotrod %}
      <div class="item-wrapper">
        <div class="item">
          <i class="fas fa-server text-orange"></i>
          <h6 class="margin-tb-0">{{ entry[1].title }}</h6>
          {% assign text = entry[1].text %}
          <p class="margin-tb-sm">{% include {{ text }} %}</p>

          {% if entry[1].docs_with_version %}
            <i class="fas fa-book text-orange"></i> <a href="{{ entry[1].docs_with_version }}"> Documentation</a>
            <br/>
          {% endif %}

          {% if entry[1].maven_artifact_id %}
            <i class="fas fa-cloud-download-alt text-orange"></i> <a href="{{ entry[1].maven_artifact_id }}"> Maven/Gradle/Ivy</a>
            <br/>
          {% endif %}

          {% if entry[1].github %}
            <i class="fab fa-github text-orange"></i></i> <a href="{{ entry[1].github }}"> GitHub</a>
            <br/>
          {% endif %}

          {% if entry[1].external_package %}
            <i class="fab fa-github text-orange"></i></i> <a href="{{ entry[1].external_package }}"> {{ entry[1].external_package_type }}</a>
            <br/>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
