{% assign repo = include.repo %}
{% assign path = include.path %}
{% assign url = "https://github.com/" + include.repo + "/blob/master/" + include.path %}
{% assign id =  include.path | split: "/" | last | prepend: "code-" %}

<div data-ghlinenos="false" data-ghpath="{{path}}" data-ghuserrepo="{{repo}}" id="{{id}}"></div>
<script>
  ghembedder.load(document.getElementById("{{id}}"), function() { hljs.highlightBlock(document.getElementById("{{id}}").getElementsByTagName("code")[0]); });
</script>
