<div class="component features-content-band">
  <div class="grid-wrapper">
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Flexible Deployment Models</h3>
          <p>
            <ul>
              <li>Run as a library inside your applications.</li>
              <li>Deploy as a server with high-performance remote access.</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-deployment.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-cloud.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Designed for the Cloud</h3>
          <p>
            <ul>
              <li>Lightweight, cloud-native design for microservice architectures.</li>
              <li>Kubernetes Operator that provides operational intelligence.</li>
              <li>Container image that you can run anywhere: OpenShift, AWS EC2, Azure, GCP.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Configurable data storage</h3>
          <p>
            <ul>
              <li>Configure cache modes to distribute and replicate data as needed.</li>
              <li>Encode key/value entries with different storage formats.</li>
              <li>Store data in the JVM heap or native “off-heap” memory.</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-data-storage.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-cluster.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Clusterable and Elastic</h3>
          <p>
            <ul>
              <li>Automatically form clusters with configurable discovery mechanisms.</li>
              <li>Tune consistent hashing to control the nodes where data is located.</li>
              <li>Create global clusters that span multiple data centers.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Secure</h3>
          <p>
            <ul>
              <li>Control access to data based on user roles and permissions.</li>
              <li>Define server security realms that protect you from intrusion and attack.</li>
              <li>Encrypt inter-cluster traffic and remote endpoints.</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-secure.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-monitor.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Administration and Monitoring</h3>
          <p>
            <ul>
              <li>Infinispan Console gives you intuitive administration and monitoring capabilities.</li>
              <li>Infinispan CLI provides simple, yet powerful, tooling for administration tasks</li>
              <li>Get statistics and MicroProfile compatible metrics for observability over time.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Developer Tooling</h3>
          <p>
            <ul>
              <li>Quarkus extensions.</li>
              <li>APIs for programmatic usage and extensibility.</li>
              <li>Integration with Hibernate ORM, Spring Boot, JCache, and Wildfly.</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-tooling.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-plane.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>HotRod Remote Protocol</h3>
          <p>
            <ul>
              <li>Language-independent, binary protocol for high-performance remote access to data.</li>
              <li>Client intelligence dynamically responds to cluster topology changes and requests data from primary owners.</li>
              <li>Implementations available in Java, C++, C#, and Python.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Expiration and Eviction</h3>
          <p>
            <ul>
              <li>Clean the data container and control memory usage.</li>
              <li>Create mortal entries with time limits for remaining in memory.</li>
              <li>Limit size of the data container based on the number of entries or amount of memory.</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-expiration.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-cache.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Persistent Cache Stores</h3>
          <p>
            <ul>
              <li>Store data both in memory and durable persistent locations.</li>
              <li>Cache stores available for File, RocksDB, JDBC, and more out of the box.</li>
              <li>Use write-through caching to eliminate expensive data requests for applications.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>ACID Transactions</h3>
          <p>
            <ul>
              <li>Ensure data integrity with distributed transactions.</li>
              <li>Configure transactions with optimistic or pessimistic locking, synchronization, and different isolation levels.</li>
              <li>XA transactions with full recovery available.</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-transactions.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-search.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Search</h3>
          <p>
            <ul>
              <li>Ickle query language allows relational and full-text search with straightforward syntax.</li>
              <li>Create indexes of your data to improve search performance.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Event Listeners</h3>
          <p>
            <ul>
              <li>Deploy local or clustered listeners to detect events.</li>
              <li>Get notifications when changes occur to the data store or Infinispan clusters.</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-listeners.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-execution.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Code execution</h3>
          <p>
            <ul>
              <li>Run code across clusters to process data efficiently.</li>
              <li>Create server-side scripts and tasks.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
