<div class="guides-filter" id="guides-filter">
   <div class="guides-search">
      <i class="fas fa-search guides-search-icon"></i>
      <input type="text" id="guides-search-input" placeholder="Find a tutorial"
             aria-label="Find a tutorial">
   </div>
   <div class="guides-language-tabs" id="guides-language-tabs">
      <button class="language-tab active" data-language="all">All</button>
      <button class="language-tab" data-language="java">Java</button>
      <button class="language-tab" data-language="go">Go</button>
      <button class="language-tab" data-language="python">Python</button>
      <button class="language-tab" data-language="c#">C#</button>
      <button class="language-tab" data-language="c++">C++</button>
      <button class="language-tab" data-language="node.js">Node.js</button>
   </div>
</div>
