<div class="component full-width-bg" style="background-color: #F0F0F0; padding-top: 3rem; padding-bottom: 3rem;">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m">
      <h3>Feedback and Help</h3>
      <p>For usage questions, we recommend to:</p>
      <ul>
        <li>Use the <a href="https://github.com/infinispan/infinispan/discussions" target="_blank">Discussions</a> section on our GitHub project.</li>
        <li>Ask on <a href="https://stackoverflow.com/questions/tagged/infinispan" target="_blank">Stack Overflow with the <code>infinispan</code> tag</a>.</li>
      </ul>
      <p>For questions related to the development of Infinispan:</p>
      <ul>
        <li>Chat using <a href="https://infinispan.zulipchat.com/" target="_blank">Zulip</a> (<a href="https://infinispan.zulipchat.com/#narrow/stream/dev" target="_blank">#dev</a> stream)</li>
      </ul>
      <a href="https://infinispan.zulipchat.com/" target="_blank"><img src="{{site.baseurl}}/assets/images/footer/zulip-org-logo.png" alt="Zulip" style="height: 40px; margin-top: 0.5rem;"></a>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Join the Infinispan Community</h3>
      <p>Check out our <a href="https://github.com/infinispan/infinispan" target="_blank">GitHub</a> for details on reporting issues and the process for submitting pull requests.</p>
      <p>Every contribution is valuable. It can be a bug report, an example application, a feature request, a fix in the documentation or just feedback.</p>
      <p>Your help is more than welcome! Don't hesitate to join the crowd.</p>
    </div>
  </div>
</div>
