<div class="component homepage-usedby-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2 class="text-orange text-centered">Featured Use Cases</h2>
    </div>
    <div class="width-3-12 width-12-12-m">
      <a href="https://quarkus.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-quarkus.png">
      </a>
    </div>
    <div class="width-3-12 width-12-12-m">
      <a href="https://www.wildfly.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-wildfly.png">
      </a>
    </div>
    <div class="width-3-12 width-12-12-m">
      <a href="https://vertx.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-vertx.png">
      </a>
    </div>
    <div class="width-3-12 width-12-12-m">
      <a href="https://www.keycloak.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-keycloak.png">
      </a>
    </div>
    <div class="width-3-12 width-12-12-m">
      <a href="http://hibernate.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-hibernate.png">
      </a>
    </div>
    <div class="width-3-12 width-12-12-m">
      <a href="https://kogito.kie.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-kogito.png">
      </a>
    </div>
    <div class="width-3-12 width-12-12-m">
      <a href="https://spring.io/projects/spring-boot" target="_blank">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-springboot.png">
      </a>
    </div>
    <div class="width-3-12 width-12-12-m">
      <a href="https://micronaut.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-micronaut.png">
      </a>
    </div>
  </div>
</div>