<div class="component homepage-features-band full-width-bg dark-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2>Features</h2>
    </div>
  </div>
  <div class="grid-container">
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/polyglot-access.png">
      <h4>Interoperability</h4>
      <p>Access data across multiple protocols and programming languages.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/resilient-data.png">
      <h4>Resilient and Fault Tolerant Data</h4>
      <p>Ensure data is always available to meet demanding workloads.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/acid-transactions.png">
      <h4>ACID Transactions</h4>
      <p>Guarantee that data is always valid and consistent.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/clustered-processing.png">
      <h4>Clustered Processing</h4>
      <p>Process data in real-time without burdening resources.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/search.png">
      <h4>Queries</h4>
      <p>Perform simple, accurate, and fast searches across distributed data sets.</p>
    </div>
  </div>
</div>
