<div class="component homepage-usedby-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2 class="text-orange text-centered">Ecosystem & Integrations</h2>
    </div>
    <div class="width-12-12 text-centered" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 2.5em; padding: 1.5em 0;">
      <a href="https://quarkus.io/" target="_blank" title="Quarkus">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-quarkus.png" style="height: 40px;">
      </a>
      <a href="https://spring.io/projects/spring-boot" target="_blank" title="Spring Boot">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-spring-boot.png" style="height: 40px;">
      </a>
      <a href="https://docs.spring.io/spring-ai/reference/api/vectordbs/infinispan.html" target="_blank" title="Spring AI">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-spring-boot.png" style="height: 40px; opacity: 0.85;">
      </a>
      <a href="https://www.keycloak.org/" target="_blank" title="Keycloak">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-keycloak.png" style="height: 40px;">
      </a>
      <a href="https://python.langchain.com/docs/integrations/vectorstores/infinispanvs" target="_blank" title="LangChain">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-langchain.png" style="height: 40px;">
      </a>
      <a href="https://docs.langchain4j.dev/integrations/embedding-stores/infinispan" target="_blank" title="LangChain4j">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-langchain4j.png" style="height: 35px;">
      </a>
      <a href="http://hibernate.org/" target="_blank" title="Hibernate">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-hibernate.png" style="height: 40px;">
      </a>
      <a href="https://camel.apache.org/" target="_blank" title="Apache Camel">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-camel.png" style="height: 40px;">
      </a>
      <a href="https://micronaut.io/" target="_blank" title="Micronaut">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-micronaut.png" style="height: 40px;">
      </a>
      <a href="https://www.wildfly.org/" target="_blank" title="WildFly">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-wildfly.png" style="height: 40px;">
      </a>
      <a href="https://vertx.io/" target="_blank" title="Vert.x">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-vertx.png" style="height: 35px;">
      </a>
      <a href="https://kogito.kie.org/" target="_blank" title="Kogito">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-kogito.png" style="height: 40px;">
      </a>
      <a href="https://infinispan.org/docs/stable/titles/resp/resp-endpoint" target="_blank" title="Redis compatible">
        <span style="font-size: 1.1em; font-weight: 600; color: #666;">Redis</span>
      </a>
    </div>
  </div>
</div>
