<div class="component homepage-hero-band full-width-bg dark-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h1>In-Memory Distributed Data Store</h1>
      <div class="ctas margin-tb-lg">
        <a href="{{site.baseurl}}/get-started" class="button-cta primary">Get Started Now</a>
      </div>
      <h2>What is Infinispan?</h2>
      <p>Infinispan is an open-source <b>in-memory data grid</b> that offers flexible deployment options and robust capabilities for storing, managing, and processing data. Infinispan provides a key/value data store that can hold all types of data, from Java objects to plain text. Infinispan distributes your data across elastically scalable clusters to guarantee high availability and fault tolerance, whether you use Infinispan as a volatile cache or a persistent data store.</p>
    </div>
  </div>
</div>