<div class="component homepage-usedby-band full-width-bg" style="padding-top: 1rem; background-color: #F4F8FB;">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2 class="text-centered">Ecosystem & Integrations</h2>
    </div>
    <div class="width-12-12 text-centered" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 3em; padding: 1em 0 0.5em 0;">
      <a href="https://quarkus.io/" target="_blank" title="Quarkus">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-quarkus.png" style="height: 55px;">
      </a>
      <a href="https://spring.io/projects/spring-boot" target="_blank" title="Spring Boot">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-spring-boot.png" style="height: 55px;">
      </a>
      <a href="https://www.keycloak.org/" target="_blank" title="Keycloak">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-keycloak.png" style="height: 55px;">
      </a>
      <a href="https://python.langchain.com/docs/integrations/vectorstores/infinispanvs" target="_blank" title="LangChain">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-langchain.png" style="height: 55px;">
      </a>
      <a href="https://docs.langchain4j.dev/integrations/embedding-stores/infinispan" target="_blank" title="LangChain4j">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-langchain4j.png" style="height: 55px;">
      </a>
      <a href="https://debezium.io/" target="_blank" title="Debezium">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-debezium.png" style="height: 55px;">
      </a>
    </div>
    <div class="width-12-12 text-centered" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 3em; padding: 0.5em 0;">
      <a href="http://hibernate.org/" target="_blank" title="Hibernate">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-hibernate.png" style="height: 70px;">
      </a>
      <a href="https://camel.apache.org/" target="_blank" title="Apache Camel">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-camel.png" style="height: 55px;">
      </a>
      <a href="https://micronaut.io/" target="_blank" title="Micronaut">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-micronaut.png" style="height: 55px;">
      </a>
      <a href="https://www.wildfly.org/" target="_blank" title="WildFly">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-wildfly.png" style="height: 55px;">
      </a>
    </div>
    <div class="width-12-12 text-centered" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 3em; padding: 0.5em 0 1em 0;">
      <a href="https://vertx.io/" target="_blank" title="Vert.x">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-vertx.png" style="height: 55px;">
      </a>
      <a href="https://kogito.kie.org/" target="_blank" title="Kogito">
        <img src="{{site.baseurl}}/assets/images/homepage/logo-kogito.png" style="height: 55px;">
      </a>
      <a href="https://infinispan.org/docs/stable/titles/resp/resp-endpoint" target="_blank" title="Redis Protocol (RESP)">
        <span style="font-size: 1.1em; font-weight: 700; color: #555; letter-spacing: 0.05em;">Redis Protocol (RESP)</span>
      </a>
    </div>
    <div class="width-12-12 text-centered" style="padding: 0.5em 0 1.5em 0;">
      <a href="{{site.baseurl}}/references/" style="font-weight: 600; font-size: 0.95rem;">See all references <i class="fas fa-arrow-right" style="margin-left: 0.3em;"></i></a>
    </div>
  </div>
</div>
