<div class="component">
  <div class="grid-wrapper" style="align-items: center;">
    <div class="width-5-12 width-12-12-m" style="text-align: center;">
      <a href="https://www.commonhaus.org/">
        <img src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_stack_default.svg" alt="Infinispan is part of the Commonhaus Foundation." style="max-width: 350px; margin-top: 2rem;">
      </a>
      <p style="font-size: 0.9rem; color: #555; margin-top: 0.5rem;">Infinispan is a Commonhaus Foundation project</p>
    </div>
    <div class="width-7-12 width-12-12-m">
      <h2 style="text-transform: uppercase; font-weight: 600;">Infinispan is part of the Commonhaus Foundation</h2>
      <p>In order to fulfill our goal of being more inclusive and fostering a more collaborative environment, Infinispan has joined the Commonhaus Foundation. This move further solidifies our commitment to open-source development and enterprise adoption, providing a neutral ground where organizations and contributors can feel equally valued and involved. Infinispan continues to thrive, supported by a broad base of contributors from multiple organizations.</p>
      <p><i class="fa fa-chevron-right" style="margin-right: 0.3em;"></i><a href="https://www.commonhaus.org/">Learn more about Commonhaus Foundation.</a></p>
    </div>
  </div>
</div>
