<div class="content project-footer">
  <div class="footer-section">
    <div class="logo-wrapper">
      <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/infinispan-logo-white.png" class="project-logo" title="Infinispan Logo" alt="Infinispan"></a>
    </div>
  </div>
  <div class="grid-wrapper">
    <div class="grid__item width-4-12 width-12-12-m footer-about">
      <p>{{ site.data.projectfooter.footer_text }}</p>
      <div class="footer-thanks">
        <b>Thanks to</b>
        <div class="thanks-logos">
          <a href="https://zulip.com" target="_blank"><img src="{{site.baseurl}}/assets/images/footer/zulip.png" title="Zulip" alt="Zulip"></a>
          <a href="https://weblate.org" target="_blank"><img src="{{site.baseurl}}/assets/images/footer/weblate.png" title="Weblate" alt="Weblate"></a>
        </div>
      </div>
    </div>

    {% for item in site.data.projectfooter.links %}
      <div class="width-2-12 width-6-12-m project-links">
        <b>{{ item.title }}</b>
        <ul class="footer-links">
          {% for entry in item.subfolderitems %}
            {% assign urlFirstSymbol = entry.url | slice: 0 %}
            <li><a href="{{ entry.url }}" {% if urlFirstSymbol != "/" %}target="_blank"{% endif %}>{{ entry.page }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
