<div class="component recent-posts-band full-width-bg dark-bg">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2 class="text-centered">Recent Blog Posts</h2>
    </div>
    {% for post in site.posts %}
      {% if forloop.index <= 3 %}
        <div class="block-item width-4-12 width-12-12-m">
          <h6 class="margin-tb-0"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h6>
          <p class="blog-card-meta">
            {{ post.date | date: '%B %d, %Y' }}
          </p>
          <p class="blog-card-tags">
            Tags: {% for tag in post.tags %}<a href="{{site.baseurl}}/blog/tag/{{tag | slugify}}">{{ tag }}</a> {% endfor %}
          </p>
          {% if site.data.authors[post.author].image %}
            <img src="{{site.baseurl}}{{ site.data.authors[post.author].image }}" class="blog-card-avatar" alt="{{ site.data.authors[post.author].name }}">
          {% endif %}
          <p class="blog-card-author">{{ site.data.authors[post.author].name }}</p>
          <p class="blog-card-synopsis">
            {% if post.synopsis %}
              {{ post.synopsis | strip_html | truncate: 200 }}
            {% else %}
              {{ post.content | strip_html | truncate: 200 }}
            {% endif %}
          </p>
          <div class="text-centered" style="margin-top: auto; padding-top: 1rem;">
            <a href="{{site.baseurl}}{{ post.url }}" class="button-cta tertiary">Read More</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
