<div class="component references-content-band">
  <div class="grid-wrapper">
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/quarkus.png">
      <h5 class="margin-tb-sm"><a href="https://quarkus.io/" target="_blank">Quarkus</a></h5>
      <p class="text-left">Quarkus is a Kubernetes Native Java framework tailored for GraalVM and HotSpot, crafted from best-of-breed Java libraries and standards. The goal of Quarkus is to make Java a leading platform in Kubernetes and serverless environments while offering developers a unified reactive and imperative programming model to optimally address a wider range of distributed application architectures. Quarkus comes with an extension that enables connecting to an Infinispan server.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/wildfly.png">
      <h5 class="margin-tb-sm"><a href="http://www.wildfly.org/" target="_blank">WildFly</a></h5>
      <p class="text-left">WildFly is a JavaEE application server which uses Infinispan as the base for its clustering needs: web sessions, stateful session beans, etc</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/hibernate.png">
      <h5 class="margin-tb-sm"><a href="http://www.hibernate.org/orm/" target="_blank">Hibernate ORM</a></h5>
      <p class="text-left">Hibernate ORM has a second-level cache provider built on top of Infinispan.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/hibernate.png">
      <h5 class="margin-tb-sm"><a href="http://www.hibernate.org/ogm/" target="_blank">Hibernate OGM</a></h5>
      <p class="text-left">Hibernate OGM can perform CRUD operations on Infinispan, allowing you to replace the traditional RDBMS with Infinispan.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/hibernate.png">
      <h5 class="margin-tb-sm"><a href="http://www.hibernate.org/search/" target="_blank">Hibernate Search</a></h5>
      <p class="text-left">THibernate Search can store its Lucene index in Infinispan to provide real time replication of the index.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/vertx.png">
      <h5 class="margin-tb-sm"><a href="http://vertx.io/" target="_blank">Vert.x</a></h5>
      <p class="text-left">Vert.x has an Infinispan Cluster Manager, able to delegate its clustering requirements to Infinispan.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/teiid.png">
      <h5 class="margin-tb-sm"><a href="http://teiid.org/" target="_blank">Teiid</a></h5>
      <p class="text-left">Teiid is a data virtualization system that allows applications to use data from multiple, heterogenous data stores. In particular, it supports using Infinispan as a data-source.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/modeshape.png">
      <h5 class="margin-tb-sm"><a href="http://modeshape.jboss.org/" target="_blank">ModeShape</a></h5>
      <p class="text-left">ModeShape is a distributed, hierarchical, transactional, and consistent data store which adheres to the JCR standard. It comes with an Infinispan connector which allows Infinispan to be used as a repository.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/apache-camel.png">
      <h5 class="margin-tb-sm"><a href="http://camel.apache.org/" target="_blank">Apache Camel</a></h5>
      <p class="text-left">Camel is a data integration framework which allows you to define routing and mediation rules in a variety of domain-specific languages. It comes with an Infinispan component, so that you can store/retrieve/query data from both embedded and remote caches.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/apache-marmotta.png">
      <h5 class="margin-tb-sm"><a href="http://marmotta.apache.org/" target="_blank">Apache Marmotta</a></h5>
      <p class="text-left">Marmotta is an open implementation of a Linked Data Platform. It uses Infinispan to provide caching for Linked Data resources.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/apiman.png">
      <h5 class="margin-tb-sm"><a href="http://apiman.io/" target="_blank">apiman</a></h5>
      <p class="text-left">Apiman is an API management platform which uses Infinispan as a caching layer to increase performance.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/capedwarf.png">
      <h5 class="margin-tb-sm"><a href="http://capedwarf.org/" target="_blank">CapeDwarf</a></h5>
      <p class="text-left">CapeDwarf is an open-source alternative to Google App Engine, allowing you to run applications written for the Google App Engine on the WildFly Application Server without modification. CapeDwarf uses Infinispan to implement the GAE Datastore API.</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/immutant.png">
      <h5 class="margin-tb-sm"><a href="http://immutant.org/" target="_blank">Immutant</a></h5>
      <p class="text-left">Immutant is an integrated suite of Clojure libraries. It exposes a caching service built using Infinispan.</p>
    </div>
  </div>
</div>
