<div class="component roadmap-content-band">
    <div class="grid-wrapper">
        <div class="width-12-12">
            <img src="{{site.baseurl}}/assets/images/roadmap/roadmap.png" alt="roadmap">
            <h2>Feature releases</h2>
            <p>Infinispan follows a time-boxed schedule for feature releases, according to the following rules:</p>
            <ul>
                <li>First Wednesday of Feb, Jun, Oct</li>
                <li>Feature releases increment the minor version number</li>
                <li>Major version increments may only happen when one of the following is true
                    <ul>
                        <li>Deprecation removals</li>
                        <li>JDK baseline upgrade</li>
                        <li>In-place rolling upgrade incompatibilities introduced by new features</li>
                    </ul>
                </li>
            </ul>
            <h2>Release schedule <a href="webcal://infinispan.org/assets/roadmap.ics">(ical)</a></h2>
            <table>
                <tr>
                    <th>Version</th>
                    <th>Slush freeze</th>
                    <th>Hard freeze</th>
                    <th>Release date</th>
                </tr>
                <tr>
                    <td>16.1</td>
                    <td>2026-01-21</td>
                    <td>2026-01-30</td>
                    <td>2026-02-04</td>
                </tr>
                <tr>
                    <td>16.2</td>
                    <td>2026-05-20</td>
                    <td>2026-05-29</td>
                    <td>2026-06-03</td>
                </tr>
                <tr>
                    <td>16.3</td>
                    <td>2026-09-23</td>
                    <td>2026-10-02</td>
                    <td>2026-10-07</td>
                </tr>
            </table>
            <h2>Upcoming features</h2>
            <p class="alt-type-b">Warning: The list below is subject to change without notice at any time.</p>
            <ul>
                <li><a href="https://github.com/infinispan/infinispan/issues/15935">Java Platform Module System</a>: ensure that Infinispan jars can be used in a modular path</li>
                <li><a href="https://github.com/infinispan/infinispan/issues/13522">Change Data Capture</a>: integration with <a href="https://debezium.io/">Debezium</a> to keep data in the cache synchronized with an external source</li>
                <li><a href="https://github.com/infinispan/infinispan/issues/14991">OpenAPI support</a>: evolve our REST API to provide an OpenAPI/Swagger descriptor</li>
                <li><a href="https://github.com/infinispan/infinispan/issues/15061">Model Context Protocol (MCP) endpoint</a>: integrate Infinispan into AI workflows</li>
                <li><a href="https://github.com/infinispan/infinispan/issues/15936">Safe Mode</a>: start a cluster in a read-only mode for post-mortem analysis and repair</li>
                <li><a href="https://github.com/infinispan/infinispan/pull/16252">Container eviction</a>: set eviction limits per container</li>
                <li><b>More</b>: see our <a href="https://github.com/infinispan/infinispan/issues?q=is%3Aissue%20state%3Aopen%20label%3Akind%2Fenhancement">issue tracker</a> for more planned features</li>
            </ul>
        </div>
    </div>
</div>
