<div class="component roadmap-content-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <p>Infinispan is on a time-boxed release schedule, with a new release every three months. The list below shows features targeted for the next few releases. Bear in mind that features might be postponed to a future release in case they are not of satisfactory quality at the end of a cycle.</p>
      <img src="{{site.baseurl}}/assets/images/roadmap/roadmap.png">
      <p class="alt-type-b"> Warning: The list below is subject to change without notice at any time.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> API</span>
      <p class="margin-tb-0">
        <ul>
          <li>New Modular API</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> Core</span>
      <p class="margin-tb-0">
        <ul>
          <li>Active-active async cross-site with conflict resolution</li>
          <li>Continued performance and resource improvements</li>
          <li>In-place rolling upgrades</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> Query</span>
      <p class="margin-tb-0">
        <ul>
          <li>ProtoBuf 3 support for remote queries</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> Security</span>
      <p class="margin-tb-0">
        <ul>
          <li>Encrypted password storage</li>
          <li>SCRAM authentication mechanism</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> Server / Remote</span>
      <p class="margin-tb-0">
        <ul>
          <li>Lightweight Server</li>
          <li>New RESTful API</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> Management / Monitoring</span>
      <p class="margin-tb-0">
        <ul>
          <li>Console improvements</li>
          <li>CLI improvements</li>
          <li>Supportability improvements</li>
          <li>Tracing</li>
        </ul>
      </p>
    </div>
  </div>
</div>
