<div class="component roadmap-content-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <p>Infinispan major releases happen about once a year.. The list below shows features targeted for the next few releases. Bear in mind that features might be postponed to a future release in case they are not of satisfactory quality at the end of a cycle.</p>
      <img src="{{site.baseurl}}/assets/images/roadmap/roadmap.png">
      <p class="alt-type-b"> Warning: The list below is subject to change without notice at any time.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> API</span>
      <p class="margin-tb-0">
        <ul>
          <li>Zero-downtime upgrades</li>
          <li>Modular API</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> Core</span>
      <p class="margin-tb-0">
        <ul>
          <li>Java 24 support</li>
          <li>Change Data Capture</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> Server</span>
      <p class="margin-tb-0">
        <ul>
          <li>Redis JSON commands</li>
          <li>Redis Lua scripting</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> Management / Monitoring</span>
      <p class="margin-tb-0">
        <ul>
          <li>Configuration attribute editing</li>
        </ul>
      </p>
    </div>
  </div>
</div>
