<div class="component use-cases-band" style="padding-top: 2rem; padding-bottom: 2rem;">
  <div class="grid-wrapper">
    <div class="width-12-12 highlights-alternating-inline-block" style="padding: 1rem 0">
      <div class="grid-wrapper">
        <div class="width-3-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_boost.png">
        </div>
        <div class="width-9-12 width-12-12-m block-content">
          <h3>Boost Application Performance</h3>
          <p>Store data in-memory for sub-millisecond access. Use as an embedded library or a standalone server.</p>
          <a href="{{site.baseurl}}/use-cases/boost-application-performance.html" style="font-weight: 600; font-size: 0.95rem;"><i class="fa fa-chevron-right" style="margin-right: 0.3em;"></i>Learn More</a>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block" style="padding: 1rem 0">
      <div class="grid-wrapper">
        <div class="width-9-12 width-12-12-m block-content">
          <h3>High Availability & Elasticity</h3>
          <p>Distribute data across clusters so no single point of failure causes data loss. Scale elastically by adding or removing nodes.</p>
          <a href="{{site.baseurl}}/use-cases/high-availability-and-elasticity.html" style="font-weight: 600; font-size: 0.95rem;"><i class="fa fa-chevron-right" style="margin-right: 0.3em;"></i>Learn More</a>
        </div>
        <div class="width-3-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_highavailability.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block" style="padding: 1rem 0">
      <div class="grid-wrapper">
        <div class="width-3-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_backup.png">
        </div>
        <div class="width-9-12 width-12-12-m block-content">
          <h3>Backup Across Data Centers</h3>
          <p>Replicate data across geographically distributed clusters with automatic failover and conflict resolution.</p>
          <a href="{{site.baseurl}}/use-cases/backup-across-data-centers.html" style="font-weight: 600; font-size: 0.95rem;"><i class="fa fa-chevron-right" style="margin-right: 0.3em;"></i>Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
