<div class="share-icons">
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ include.url }}&title={{ include.title | url_encode }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="https://x.com/intent/tweet?text={{ include.title | url_encode }}&url={{ site.url }}{{ include.url }}&via={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on X">
    <i class="fa-brands fa-x-twitter"></i>
  </a>
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ include.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <i class="fa-brands fa-facebook"></i>
  </a>
  <a href="https://www.reddit.com/submit?url={{ site.url }}{{ include.url }}&title={{ include.title | url_encode }}" rel="nofollow" target="_blank" title="Share on Reddit">
    <i class="fa-brands fa-reddit"></i>
  </a>
  <a href="mailto:?subject={{ include.title | url_encode }}&body={{ include.title | url_encode }}%20{{ site.url }}{{ include.url }}" title="Share via Email">
    <i class="fa-solid fa-envelope"></i>
  </a>
</div>
