<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>Infinispan Code Tutorials</h3>
      <p class="margin-tb-0">Very simple, straight-to-the-point, code examples of specific Infinispan features and integrations.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.data.ispn.simple_tutorials.main.docs}}">Infinispan Code Tutorials</a>
    </div>
  </div>
</div>
