<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>Demos</h3>
      <p>Over time developers and contributors have developed demo applications that use Infinispan. This set of demos showcase type of applications that be built with Infinispan and they’re more complex than the tutorials above. Support for these demos is best effort. An index of these demos, along with a brief summary and information on key Infinispan features, can be found in the <a href="https://github.com/infinispan-demos" target="_blank">Infinispan Github Repo</a>.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="https://github.com/infinispan-demos/harry-potter-quarkus" target="_blank">Quarkus demo</a>
      <p class="margin-tb-0">Infinispan and Quarkus integration example.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="https://github.com/infinispan-demos/vertx-api" target="_blank">Eclipse Vert.x demo</a>
      <p class="margin-tb-0">Infinispan and Vert.x integration example.</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="https://github.com/infinispan-demos/infinispan-near-cache" target="_blank">Spring-Boot demo</a>
      <p class="margin-tb-0">Infinispan and Spring-Boot integration example.</p>
    </div>
  </div>
</div>
