<div class="component use-cases-band">
  <div class="grid-wrapper">
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_boost.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Boost Application Performance</h3>
          <p>Infinispan turbocharges applications by storing data closer to processing logic, which reduces latency and increases throughput.</p>
          <p>Available as a Java library, you simply add Infinispan to your application dependencies and then you’re ready to store data in the same memory space as the executing code.</p>
          <p>If you want to provision a data layer that is independent of your applications, you can use Infinispan Server for remote access to data with in-memory performance. Clients are a single network hop away from data through consistent hashing techniques and can make requests over HTTP or with a custom binary TCP protocol called Hot Rod.</p>
          <a href="{{site.baseurl}}/use-cases/boost-application-performance" class="button-cta secondary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Achieve High Availability and Elasticity</h3>
          <p>Infinispan provides trusted open-source technology to deliver scalability to meet workload demands and reduce resource utilization. At the same time, Infinispan distributes your data across clusters so no single point of failure causes data loss.</p>
          <p>One popular use for Infinispan is as a shared store for stateful data, such as user HTTP sessions. Applications can stay lightweight and avoid heap usage by externalizing sessions to Infinispan clusters, which act as an independent data layer.</p>
          <a href="{{site.baseurl}}/use-cases/high-availability-and-elasticity" class="button-cta secondary">Learn More</a>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_highavailability.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_backup.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Backup Across Data Centers</h3>
          <p>Infinispan clusters running in different geographical locations can form global clusters to back up your data across sites. If sites go offline clients can immediately switch to an available cluster, making sure data center faults do not cause service interruptions.</p>
          <p>When using the Infinispan Operator with Kubernetes environments such as Red Hat OpenShift,  cross-site replication capabilities make your data ready for hybrid and multi cloud deployments.</p>
          <p>Infinispan also guarantees data consistency when using cross-site replication, even in cases where clients make concurrent writes at different locations that use asynchronous replication. So your data is always there and always accurate, no matter where you’re running.</p>
          <a href="{{site.baseurl}}/use-cases/backup-across-data-centers" class="button-cta secondary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>