<div class="grid-wrapper">
  <div class="width-4-12 width-6-12-m">
    <a href="/use-cases/side-caching.html" style="text-decoration: none">
      <div class="callout orange hover-box">
        <h5>Caching</h5>
        <p>Side-caching is a technique that can significantly improve the performance, efficiency, and user experience of your application. Caching boosts speed, reduces backend load, cuts costs, improves reliability during spikes or outages, and keeps data fresh with flexible expiration. </p>
        <div class="text-right"><b>Learn more</b> <i class="fas fa-external-link-square text-orange"></i></div>
      </div>
    </a>
  </div>
  <div class="width-4-12 width-6-12-m">
      <a href="/use-cases/replace-redis-with-infinispan.html" style="text-decoration: none">
        <div class="callout orange hover-box">
          <h5>Redis drop-in replacement</h5>
          <p>Use Infinispan as a drop-in replacement for Redis with all the benefits provided by Infinispan. Infinispan understands the RESP3 protocol and supports a large number of Redis commands, so you can connect any compatible Redis client without changing any configuration.</p>
          <div class="text-right"><b>Learn more</b> <i class="fas fa-external-link-square text-orange"></i></div>
        </div>
      </a>
  </div>
  <div class="width-4-12 width-6-12-m">
      <a href="/use-cases/replace-memcached-with-infinispan.html" style="text-decoration: none">
        <div class="callout orange hover-box">
          <h5>Memcached drop-in replacement</h5>
          <p>Use Infinispan as a drop-in replacement for Memcached. Infinispan understands both the text and binary protocols, so you can connect any compatible Memcached client without changing any configuration.</p>
          <div class="text-right"><b>Learn more</b> <i class="fas fa-external-link-square text-orange"></i></div>
        </div>
      </a>
  </div>
</div>
