<div class="component video-content-band">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/m_j3dz4k4xA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan 8.1.0 Admin Console</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut eros turpis. Nam nec maximus dui. Vestibulum scelerisque gravida pellentesque. Suspendisse porta condimentum lectus eu feugiat.<br/><br/>Duis leo nulla, ultricies sit amet tellus vel, molestie mattis nibh. Mauris varius sed ex eget elementum. Donec nunc diam, vehicula sed ipsum nec, pellentesque aliquet velit. Nulla facilisi. Mauris pretium dignissim diam.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://player.vimeo.com/video/24825312" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Geographic Failover for JBoss Clusters</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut eros turpis. Nam nec maximus dui. Vestibulum scelerisque gravida pellentesque. Suspendisse porta condimentum lectus eu feugiat.<br/><br/>Duis leo nulla, ultricies sit amet tellus vel, molestie mattis nibh. Mauris varius sed ex eget elementum. Donec nunc diam, vehicula sed ipsum nec, pellentesque aliquet velit. Nulla facilisi. Mauris pretium dignissim diam.</p>
    </div>
  </div>
</div>