<div class="component video-content-band">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/y1yE7Rd3lGE?si=JjZGkR6NwuGKQfrg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Devoxx France: Highly available IAM with multi-site Keycloak deployments in the cloud</h3>
      <p>Ryan Emerson and Alexander Schwartz explain how Keycloak's Highly Available architecture and highlight the essential role Infinispan plays in it.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/watch?v=Xi9gTA0jfD0" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan: a better server for your Redis clients</h3>
      <p>Tristan walks you through how Infinispan can be used by your Redis clients and uses Redis Insight to show how to seamlessly scale up and down by adding nodes to the cluster on the fly.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/qcjrGlRimYU" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Quarkus Insights #115: What's new in Infinispan</h3>
      <p>Fabio and Katia showcase the Quarkus Infinispan Client Extension. The demo covers Dev Services, caching annotations, marshalling, search, health and OpenTelemetry integration.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/KvRrgK-_wQo" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Spring Caches with Protocol Buffers</h3>
      <p>Katia gives a talk on how Infinispan uses Protobuf encoding to marshall and store data in caches for Spring applications.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/2gRwhv11Qkw" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Real-time data on the open hybrid cloud with Quarkus and Infinispan</h3>
      <p>Katia gives a talk on how we implemented a global players ranking in an on-line Battleship game deployed on different clouds spanning several continents in real time using Quarkus and Infinispan.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/Kb46QFigx84" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Redis vs Infinispan</h3>
      <p>Tristan gives an informative talk that explores difference between Infinispan and Redis and, more importantly, demonstrates capabilities that could have a major impact on architectural design for your Java applications.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/pXkM9tlxwHY" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan, Debezium and Quarkus</h3>
      <p>After an overview of the key use cases and capabilities of the two projects, we'll explore in a demo how you can combine Debezium and Infinispan, using Cross-Site Replication, for even greater awesomeness: All this driven by Quarkus and connected via Apache Kafka.</p>
    </div>
  </div>
</div>
