<div class="component video-content-band">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/y1yE7Rd3lGE?si=JjZGkR6NwuGKQfrg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Devoxx France: Highly available IAM with multi-site Keycloak deployments in the cloud</h3>
      <p>Ryan Emerson and Alexander Schwartz explain how Keycloak's Highly Available architecture and highlight the essential role Infinispan plays in it.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/qcjrGlRimYU" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Quarkus Insights #115: What's new in Infinispan</h3>
      <p>Fabio and Katia showcase the Quarkus Infinispan Client Extension. The demo covers Dev Services, caching annotations, marshalling, search, health and OpenTelemetry integration.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/KvRrgK-_wQo" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Spring Caches with Protocol Buffers</h3>
      <p>Katia gives a talk on how Infinispan uses Protobuf encoding to marshall and store data in caches for Spring applications.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/2gRwhv11Qkw" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Real-time data on the open hybrid cloud with Quarkus and Infinispan</h3>
      <p>Katia gives a talk on how we implemented a global players ranking in an on-line Battleship game deployed on different clouds spanning several continents in real time using Quarkus and Infinispan.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/Kb46QFigx84" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Redis vs Infinispan</h3>
      <p>Tristan gives an informative talk that explores difference between Infinispan and Redis and, more importantly, demonstrates capabilities that could have a major impact on architectural design for your Java applications.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/pXkM9tlxwHY" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan, Debezium and Quarkus</h3>
      <p>After an overview of the key use cases and capabilities of the two projects, we'll explore in a demo how you can combine Debezium and Infinispan, using Cross-Site Replication, for even greater awesomeness: All this driven by Quarkus and connected via Apache Kafka.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/cZtV5i-o8YA" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan 10</h3>
      <p>Katia presents an overview of Infinispan, highlighting use cases for both embedded and server mode with Vert.x and Quarkus. This presentation is suitable for any level of Java developer, from beginner to experienced.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/m_j3dz4k4xA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan 8.1.0 Admin Console</h3>
      <p>Tour the Server Management Console for Infinispan 8.1.0. In this video, you learn how to monitor and manage Infinispan clusters and cache instances.</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://player.vimeo.com/video/24825312" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Geographic Failover for JBoss Clusters</h3>
      <p>Watch Bela Ban present how Infinispan clusters use the JGroups RELAY protocol to backup cache state across geographic regions.</p>
    </div>
  </div>
</div>
