- tag = page["tag"]
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "docker" + page["modal_id"], :style => "text-align: left;"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title#myModalLabel Container Image tag
      .modal-body
        You can obtain a container image for Infinispan Server that can be used with your favorite container platform (OCI, Docker, etc) using the
        %code #{tag}
        tag. Use the following command-line:
        %pre
          :preserve        
            docker pull #{tag}

        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
