-# Renders a link displaying Docker coordinates
- page["modal_id"] = page["tag"] if not page["modal_id"]
- page["modal_id"] = page["modal_id"].gsub(/\./, '')
%a{"data-toggle" => "modal", :href => "#docker" + page["modal_id"], :role => "button"}
  %i.icon-cloud-download
  Docker

= partial( 'docker-coords.html.haml', {"tag" => page["tag"], "modal_id" => page["modal_id"] } )
