-# Renders a button to open documentation
%a.btn.btn-primary{:href => page["docspage"], :role => "button", :target => "_NEW", :style => "height: 50px; width: 100px;"}
  %i.icon-book.pull-left
  %br
  Documentation

