-# variables expected: release_version (a String) and release_info (structure).
- release_version = page["release_version"]
- release_info = page["release_info"]
-# release info should contain a codename, all, bin and server URLs, and a maven_latest version.
%tr
  %td
    = release_version 
    %i "#{release_info.codename}"
  %td.text-center
    = release_info.release_date
  %td.text-center
    %a{:href => release_info.release_notes, :target => "_NEW"}
      %i.fa.fa-bug
      Fixed issues
  %td.text-center
    %a{:href => release_info.all}
      %i.icon-download-alt
      Embedded
    %a{:href => release_info.all.to_s + ".sha1" }
      (SHA-1)
    %br
    %a{:href => release_info.bin}
      %i.icon-download-alt
      Minimal
    %a{:href => release_info.bin.to_s + ".sha1" }
      (SHA-1)
    %br
    %a{:href => release_info.server}
      %i.icon-download-alt
      Server
    %a{:href => release_info.server.to_s + ".sha1" }
      (SHA-1)
    %br
    - if release_info.wfmodules?
      %a{:href => release_info.wfmodules}
        %i.icon-download-alt
        WildFly modules
      %a{:href => release_info.wfmodules.to_s + ".sha1" }
        (SHA-1)
    - if release_info.wfserver?
      %br
      %a{:href => release_info.wfserver}
        %i.icon-download-alt
        Legacy WildFly-based Server
      %a{:href => release_info.wfserver.to_s + ".sha1" }
        (SHA-1)
  %td.text-center
    = partial("maven-coords-link.html.haml", {"artifactId" => "infinispan-core", "version_stable" => release_info.maven_latest, "modal_id" => release_version})
