.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", :id => "dld" + page["modal_id"], :style => "text-align: left;"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body{:style => "max-height: 100%;"}
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th #{page["title"]}
              %th Documentation
          %tbody
            - page["downloads"].each do |key, value|
              %tr
                %td
                  %a{:href => value.download}
                    %i.icon-cloud-download
                    #{value.title}
                    - if value.has_key?("docs_version")
                      %td
                        %a{:href => page["docs_root"]+"/"+value.docs_version}
                          %i.icon-book
                          Documentation
        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

