-# variables expected: ver, codename, all, bin, server
%tr
  %td 
    = page["ver"] 
    %i "#{page['codename']}"
  %td
    %a{:href => page["all"]}
      %i.icon-download-alt
      Download
  %td
    %a{:href => page["bin"]}
      %i.icon-download-alt
      Download
  %td
    %a{:href => page["server"]}
      %i.icon-download-alt
      Download
