-# Renders a link displaying the download dialog
- page["modal_id"] = page["modal_id"].gsub(/\./, '')
%a.btn.btn-info.btn-block{"data-toggle" => "modal", :href => "#dld" + page["modal_id"], :role => "button"}
  %i.icon-cloud-download
  Downloads/Docs

= partial( 'downloads.html.haml', {"title" => page["title"], "docs_root" => page["docs_root"], "downloads" => page["downloads"], "modal_id" => page["modal_id"]} )
