.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", :id => "dld" + page["modal_id"], :style => "text-align: left;"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title#myModalLabel Maven Coordinates
      .modal-body{:style => "max-height: 500px;"}
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th #{page["title"]}
          %tbody
            - page["downloads"].each do |key, value|
              %tr
                %td
                  %a{:href => value.download}
                    %i.icon-cloud-download
                    #{value.title}
        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

