-# variables expected: release_version (a String) and release_info (structure).
- release_version = page["release_version"]
- release_info = page["release_info"]
-# release info should contain a codename, all, bin and server URLs, and a maven_latest version.
%tr
  %td
    = release_version 
    %i "#{release_info.codename}"
  %td.text-center
    = release_info.release_date
  %td.text-center
    %a{:href => release_info.release_notes, :target => "_NEW"}
      %i.fa.fa-bug
      Fixed issues
  %td.text-center
    %a{:href => release_info.all}
      %i.icon-download-alt
      All
    %a{:href => release_info.bin}
      %i.icon-download-alt
      Minimal
    %a{:href => release_info.server}
      %i.icon-download-alt
      Server
    %br
    - if release_info.as7modules?
      %a{:href => release_info.as7modules}
        %i.icon-download-alt
        WildFly/EAP modules
  %td.text-center
    = partial("maven-coords-link.html.haml", {"artifactId" => "infinispan-core", "version_stable" => release_info.maven_latest, "modal_id" => release_version})
