-# Renders a link displaying the download dialog
- page["modal_id"] = page["modal_id"].gsub(/\./, '')
%a{"data-toggle" => "modal", :href => "#dld" + page["modal_id"], :role => "button"}
  %i.icon-cloud-download
  Downloads

= partial( 'downloads.html.haml', {"title" => page["title"], "downloads" => page["downloads"], "modal_id" => page["modal_id"]} )