.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", :id => "dld" + page["modal_id"], :style => "text-align: left;"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body{:style => "max-height: 100%;"}
        %table.table.table-bordered
          %thead
            %tr
              %th #{page["title"]}
              %th Documentation
          %tbody
            - page["downloads"].each do |key, value|
              - if key.start_with?("class_")
                %tr{:class=> [ ("label-success" if key.end_with?("_stable")), ("label-warning" if key.end_with?("_unstable")) ], :style => "color: #000000"}
                  %td{:colspan => 2} #{value}
              - else
                %tr
                  %td
                    %a{:href => value.download}
                      %i.icon-cloud-download
                      #{value.title}
                      - if value.has_key?("docs_version")
                        %td
                          %a{:href => page["docs_root"]+"/"+value.docs_version}
                            %i.icon-book
                            Documentation
        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

