- repo = page["repo"]
- path = page["path"]
- url = "https://github.com/" + repo + "/blob/master/" + path
- id = "code-" + path.split("/").last
%div{"id" => id, "data-ghuserrepo" => repo, "data-ghpath" => path, "data-ghlinenos" => "false"}
.col-md-2.col-md-offset-10
  = partial( 'view-on-github-button.html.haml', {"repo" => url} )
%script
  ghembedder.load(document.getElementById("#{id}"), function() { hljs.highlightBlock(document.getElementById("#{id}").getElementsByTagName("code")[0]); });

