-# Renders a button displaying external artifact coordinates
- page["modal_id"] = page["type"] if not page["modal_id"]
- page["modal_id"] = page["modal_id"].gsub(/\./, '')
%a.btn.btn-info.btn-block{"data-toggle" => "modal", :href => "#" + page["type"] + page["modal_id"], :role => "button", :style => "margin-top: 5px"}
  %i.icon-chevron-right
  #{page["type"]}

= partial( 'external-artifact-coords.html.haml', {"type" => page["type"], "build_file" => page["build_file"], "instructions" => page["instructions"], "modal_id" => page["modal_id"] } )

