.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => page["type"] + page["modal_id"], :style => "text-align: left;"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title#myModalLabel #{page["type"]} dependency
      .modal-body{:style => "max-height: 500px;"}
        %p
          Add the following to your
          %code #{page["build_file"]}
        %pre
          :preserve
            #{page["instructions"]}

        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
