-# Latest news - reads an RSS feed from blog.infinispan.org
#feed
  .text-center
  %i.icon-refresh.icon-spin.icon-4x
%script{ :type => 'text/javascript', :src => 'https://www.google.com/jsapi'}
-# Uses Google Feed API to load blog.infinispan.org feed and replace the DOM elements
:javascript
  google.load("feeds", "1");

  function initialize() {
    var feed = new google.feeds.Feed("http://blog.infinispan.org/feeds/posts/default");
    feed.setNumEntries(10);
    feed.load(function(result) {
      if (!result.error) {
        var feedDiv = $('#feed');
        feedDiv.empty();
        for (var i = 0, shown = 0; (i < result.feed.entries.length) && (shown < 4); i++) {
          var entry = result.feed.entries[i];
          if (entry.categories.indexOf('release') < 0) {
            feedDiv.append('<h4><a href="' + entry.link + '">' + entry.title + '</a></h4>');
            ++shown;
          }
        }
      }
    });
  }
  google.setOnLoadCallback(initialize);
