-# Latest news - reads an RSS feed from blog.infinispan.org
#feed
  .text-center
  %i.icon-refresh.icon-spin.icon-4x
:javascript
  function hasFeedEntryCategory(entry, category) {
    if (entry.category) {
      for (var i = 0; i < entry.category.length; i++) {
        if (entry.category[i].term === category)
          return true;
      }
    }
    return false;
  }
  
  function findFeedEntryLink(entry, linkType) {
    if (entry.link) {
      for (var i = 0; i < entry.link.length; i++) {
        if (entry.link[i].rel === linkType)
          return entry.link[i].href;
      }
    }
    return "";
  }

  function showAtomFeed(result) {
    var feedDiv = $('#feed');
    feedDiv.empty();
    for (var i = 0, shown = 0; (i < result.feed.entry.length) && (shown < 4); i++) {
      var entry = result.feed.entry[i];
      
      if (!hasFeedEntryCategory(entry, 'release')) {
        feedDiv.append('<h4><a href="' + findFeedEntryLink(entry, 'alternate') + '">' + entry.title.$t + '</a></h4>');
        ++shown;
      }
    }
  }
  $(function() {
    $.ajax({
      url: 'http://blog.infinispan.org/feeds/posts/default',
      type: 'get',
      dataType: 'jsonp',
      data: {
        alt : 'json-in-script' 
      },
      success: showAtomFeed
    })
  });

