-# Latest news - reads an RSS feed from blog.infinispan.org
#feed
  .text-center
  %i.icon-refresh.icon-spin.icon-4x
%script{ :type => 'text/javascript', :src => 'https://www.google.com/jsapi'}
-# Uses Google Feed API to load blog.infinispan.org feed and replace the DOM elements
:javascript
  google.load("feeds", "1");

  function initialize() {
    var feed = new google.feeds.Feed("http://feeds.feedburner.com/Infinispan?format=xml");
    feed.setNumEntries(1);
    feed.load(function(result) {
      if (!result.error) {
        var feedDiv = $('#feed');
        feedDiv.empty();
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          feedDiv.append($('<h4/>').text(entry.title)
                 .append('<small> <a href="' + entry.link + '">more</a></small>'));
        }
      }
    });
  }
  google.setOnLoadCallback(initialize);
