-# Renders a link displaying Maven coordinates
- page["modal_id"] = page["artifactId"] if not page["modal_id"]
- page["modal_id"] = page["modal_id"].gsub(/\./, '')
%a{"data-toggle" => "modal", :href => "#mvn" + page["modal_id"], :role => "button"}
  %i.icon-cloud-download
  Maven coordinates

= partial( 'maven-coords.html.haml', {"artifactId" => page["artifactId"], "version_stable" => page["version_stable"], "version_unstable" => page["version_unstable"], "modal_id" => page["modal_id"] } )