-# Renders a button displaying Maven coordinates
%a.btn.btn-primary{"data-toggle" => "modal", :href => "#mvn" + page["artifactId"], :role => "button"} Maven coordinates
= partial( 'maven-coords.html.haml', {"artifactId" => page["artifactId"] } )
