-# Renders a button displaying Maven coordinates
- page["modal_id"] = page["artifactId"] if not page["modal_id"]
- page["modal_id"] = page["modal_id"].gsub(/\./, '')
%a.btn.btn-info.btn-block{"data-toggle" => "modal", :href => "#mvn" + page["modal_id"], :role => "button"}
  %i.icon-cloud-download
  Maven

= partial( 'maven-coords.html.haml', {"groupId" => page["groupId"], "artifactId" => page["artifactId"], "version_stable" => page["version_stable"], "version_unstable" => page["version_unstable"], "modal_id" => page["modal_id"] } )

