-# Renders a link displaying Maven coordinates

%a{"data-toggle" => "modal", :href => "#mvn" + page["artifactId"], :role => "button"}
  %i.icon-cloud-download
  Maven coordinates
  
= partial( 'maven-coords.html.haml', {"artifactId" => page["artifactId"] } )
