%footer.container
  %hr
  .row
    .col-md-2.col-md-offset-1
      %h4 Navigate
      %ul
        %li
          %a{:href => "/about", :title => "About"} About
        %li
          %a{:href => "/documentation", :title => "Learn"} Learn
        %li
          %a{:href => "/community", :title => "Community"} Community
        %li
          %a{:href => "/getinvolved", :title => "Get Involved"} Get Involved
        %li
          %a{:href => "/download", :title => "Download"} Download
    .col-md-2
      %h4 Contribute
      %ul
        %li
          %a{:href => "https://issues.jboss.org/browse/ISPN", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "https://github.com/infinispan", :title => "Write code"} Write Code
      %h4 Follow Us
      %ul
        %li
          %a{:href => "https://blog.infinispan.org", :title => "Blog"} Blog
        %li
          %a{:href => "https://twitter.com/infinispan", :title => "Twitter"} Twitter

    .col-md-2
      %h4 Open Source
      %p 
        Infinispan is released under the 
        %b Apache 2.0 open source license.
        Learn more about the Apache 2.0 license 
        %a{:href => "https://www.apache.org/licenses/LICENSE-2.0"}here.

    .col-md-2
      %h4 A member of
      %a{:href=>"http://www.cloudtm.eu/", :alt=>"CloudTM", :target=>"_NEW"}
        %img(src="/images/cloudtm.png")
      %a{:href=>"http://leads-project.eu/", :alt=>"LEADS", :target=>"_NEW"}
        %img(src="/images/leads.png")

    .col-md-2
      %h4 Thanks to
      %p JetBrains Intellij IDEA
      %a{:href=>"https://www.jetbrains.com/idea/", :alt=>"JetBrains Intellij IDEA", :target=>"_NEW"}
        %img(src="/images/icon_IntelliJIDEA.png")
  .col-md-10
    %p{:style => "margin-top: 5px; font-size: 80%;"}
      © Copyright 2009-2019 Red Hat, Inc.
      %br
      %i.icon-fire
      Made with
      %a{:href => "https://github.com/jbossorg/bootstrap-community", :style=>"text-decoration: underline;", :target=> "_NEW"}JBoss Community Bootstrap
      and
      %a{:href => "http://awestruct.org/", :style=>"text-decoration: underline;", :target=> "_NEW"}Awestruct
      %br
      %i.icon-globe
      This website is open source! If you want to improve it, 
      %a{:href => "https://github.com/infinispan/infinispan.github.io", :style=>"text-decoration: underline;", :target=> "_NEW"}fork the project,
      and hack on it, then send a pull request. You can also view the
      %a{:href => "https://www.seethestats.com/site/infinispan.org", :style=>"text-decoration: underline;", :target=> "_NEW"}visitor stats.
      %br
      %i.icon-share
      Website and documentation released under
      %a{:href => "https://creativecommons.org/licenses/by/3.0/", :style=>"text-decoration: underline;", :target=> "_NEW"}CC BY 3.0.
    

