%h3 Documentation indexes

%hr

- if site.ispn.has_key?("unstable")
  .text-warning
    %i.icon-wrench
    Development (Infinispan #{site.ispn.unstable.minor_version})
    %span.caret

  %ul.nav.nav-pills.nav-stacked
    %li
      %a{:href =>site.ispn.unstable.docs.home} Index
    %li
      %a{:href=>site.ispn.unstable.docs.javadocs} Javadocs
    %li
      %a{:href=>site.ispn.unstable.docs.configdocs} Configuration Schema
    %li
      %a{:href=>site.ispn.unstable.docs.jmxdocs} JMX Reference

%hr

- if site.ispn.has_key?("stable")
  .text-success
    %i.icon-ok-circle
    Stable (Infinispan #{site.ispn.stable.minor_version})
    %span.caret

  %ul.nav.nav-pills.nav-stacked
    %li
      %a{:href=>site.ispn.stable.docs.home} Index
    %li
      %a{:href=>site.ispn.stable.docs.javadocs} Javadocs
    %li
      %a{:href=>site.ispn.stable.docs.configdocs} Configuration Schema
    %li
      %a{:href=>site.ispn.stable.docs.jmxdocs} JMX Reference

%hr

%i.icon-book
%a(href="/books") Indexes for other Infinispan versions.
