%i.icon-cloud-download.icon-2x.pull-left
%h3 Maven
%p 
  Prefer to use
  %a{:href=>"http://maven.apache.org", :target=>"_NEW"} Maven
  in your project? We sure do!
%p
  %a.btn.btn-primary{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Maven Instructions
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#myModalLabel Maven Instructions
        .modal-body
          %p
            Infinispan artifacts are available on 
            %a{:href => "http://search.maven.org", :target=>"_NEW"}Maven Central.
          %p
            If you wish to search for historical releases of Infinispan on Maven Central, you can search for the artifact you are looking for (e.g., 
            %code infinispan-core
            ) on Maven Central's  
            %a{:href => "http://search.maven.org", :target=>"_NEW"}search interface.
          %p
            If you are looking for a comprehensive list of all Infinispan artifacts and their respective versions, use the
            %a{:href => "http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.infinispan%22", :target=>"_NEW"}advanced search interface
            and look for group id
            %code org.infinispan
          .modal-footer
            %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

%hr

%h3 Hot Rod
%p
  There are several Hot Rod clients you can use to access Infinispan remotely.
  %a.btn.btn-primary{:href => "/hotrod-clients/"}
    Hot Rod Clients
%p
  %i.icon-tag
  %a{:href => "/docs/stable/user_guide/user_guide.html#_using_hot_rod_server", :target=>"_NEW"} Learn more about Hot Rod »

%hr

%h3 Cache Stores
%p
  Infinispan can optionally use a cache store to persist data to disk or other forms of durable storage.  There are several cache store implementations available that you can use.
  %a.btn.btn-primary{:href => "/cache-store-implementations/"}
    Cache Store Implementations
%p
  %i.icon-tag
  %a{:href=>"/docs/stable/user_guide/user_guide.html#persistence", :target => "_NEW"}What is a Cache Store? »

%hr

%h3 Integrations
%p
  Infinispan can be integrated with many external batch and stream oriented data processing engines suche as Apache Spark, Apache Flink and Hadoop. Check the connectors available.
  %a.btn.btn-primary{:href => "/integrations/"}
    Integrations

%hr

= partial("rightcol-docs.html.haml")
