%i.icon-cloud-download.icon-2x.pull-left
%h3 Hot Rod
%p
  There are several Hot Rod clients you can use to access Infinispan remotely.
  %a.btn.btn-primary{:href => "/hotrod-clients/"}
    Hot Rod Clients
%p
  %i.icon-tag
  %a{:href => "/docs/stable/user_guide/user_guide.html#_using_hot_rod_server", :target=>"_NEW"} Learn more about Hot Rod »

%hr

%h3 Cache Stores
%p
  Infinispan can optionally use a cache store to persist data to disk or other forms of durable storage.  There are several cache store implementations available that you can use.
  %a.btn.btn-primary{:href => "/cache-store-implementations/"}
    Cache Store Implementations
%p
  %i.icon-tag
  %a{:href=>"/docs/stable/user_guide/user_guide.html#persistence", :target => "_NEW"}What is a Cache Store? »

%hr

%h3 Integrations
%p
  Infinispan can be integrated with many external batch and stream oriented data processing engines suche as Apache Spark, Apache Flink and Hadoop. Check the connectors available.
  %a.btn.btn-primary{:href => "/integrations/"}
    Integrations

%hr

= partial("rightcol-docs.html.haml")
