-# Renders a button displaying sbt coordinates
- page["modal_id"] = page["sbtArtifact"] if not page["modal_id"]
- page["modal_id"] = page["modal_id"].gsub(/\./, '')
%a.btn.btn-info.btn-block{"data-toggle" => "modal", :href => "#sbt" + page["modal_id"], :role => "button", :style => "margin-top: 5px"}
  %i.icon-chevron-right
  sbt

= partial( 'sbt-coords.html.haml', {"artifactId" => page["sbtArtifact"], "version_stable" => page["version_stable"], "modal_id" => page["modal_id"] } )

