- groupId = page["groupId"] || "org.infinispan"
- artifactId = page["artifactId"]
- stable = page["version_stable"]
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "sbt" + page["modal_id"], :style => "text-align: left;"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title#myModalLabel sbt Dependency
      .modal-body{:style => "max-height: 500px;"}
        %p
          Add the following to your
          %code build.sbt
        %pre
          :preserve
            libraryDependencies += "#{groupId}" %% "#{artifactId}" % "#{stable}"

        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
