- tutorial_step = page["tutorial_step"]
- @tutorial_steps = page["tutorial_steps"]
- if tutorial_step < 0
  - step_prefix = ""
- else
  - step_prefix = "../"
%h3 Steps
%a{:href => step_prefix + "index.html"} Introduction
%ol{:start => "0" }
  - @tutorial_steps.each_with_index do |step, index|
    %li
      %a{:href => step_prefix + "step-" + (index).to_s } #{step}
