- tutorial_step = page["tutorial_step"]
- @tutorial_steps = page["tutorial_steps"]
- header = page["header"]
- if tutorial_step > 0
  - prevlink = "../step-" + (tutorial_step - 1).to_s
- if tutorial_step < (@tutorial_steps.length - 1 )
  - nextlink = "../step-" + (tutorial_step + 1).to_s
- if tutorial_step < 0
  - nextlink = "step-0"
- if tutorial_step > 0
  - difflink = page["tutorial_github_url"] + "/compare/step-" + (tutorial_step - 1).to_s + "...step-" + tutorial_step.to_s
%div.btn-toolbar
  - if prevlink
    %a.btn.btn-default{:href => prevlink}
      %i.icon-chevron-sign-left &nbsp;#{@tutorial_steps[tutorial_step - 1]}
  - if difflink
    %a.btn.btn-default{:href => difflink, :target => "_blank"} 
      %i.icon-code
        Code Diff
  - if nextlink
    %a.btn.btn-default{:href => nextlink}
      #{@tutorial_steps[tutorial_step + 1]}
      %i.icon-chevron-sign-right
- if header
  %h3 Step #{tutorial_step}: #{@tutorial_steps[tutorial_step]}

