-# Renders a button displaying a link to GitHub
%a.btn.btn-primary{:href=>page["repo"], :target => "_NEW", :alt => "Link to " + page["repo"], :style => "height: 50px; width: 100px;"}
  %i.icon-github.pull-left
  %br
  View on GitHub