// PROJECT styles to overwrite global.scss
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Maitree:wght@400;700&family=Montserrat:wght@200;400;600;800&display=swap');

html,
body {
  font-family: 'Maitree', Arial, serif;
}

* {
  font-family: 'Maitree', Arial, serif;
  line-height: 1.3rem;
  color: $text-base-color;
}

.grid-wrapper,
.component-wrapper {
  grid-gap: 2em;
  grid-row-gap: 1em;
  @media screen and (max-width: 768px) {
    grid-gap: 0;
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 3.75rem;
  font-weight: 800;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 1.5rem;    
  }
}

h2 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1rem;    
  }
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 3.2rem;
  font-weight: 800;
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    line-height: 1.2rem;    
  }
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 1.125rem;
    line-height: 1.5rem;    
  }
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35rem;
  line-height: 1.5rem;
  font-weight: 600;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.35rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.styled-logo {
  font-size: 4rem;
  line-height: 4rem;
  color: $blue;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 10px;
  margin: 0;
  @media screen and (max-width: 1024px) {
    font-size: 2rem;
    line-height: 2rem;    
  }
}

a {
  line-height: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
  color: $link;
  &:hover, &:active, &:focus {
    color: $link-hover;
  }
}

a.button-cta,
a.button-cta.primary,
button,
input[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  color: $white;
  background-color: $orange;
  border: 2px solid $white;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2;
  transition: background .2s ease-in 0s;
  text-decoration: none;
  padding: 0 3rem;
  display: inline-block;
  white-space: normal;
  &:hover, &:active, &:focus {
    background-color: #B34600;
    border-color: $white;
    color: $white !important;
  }
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1rem;
    padding: .75rem 1rem;
  }

  &.btn-sm {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
    padding: .5rem 1.2rem;
  }
}

a.button-cta.secondary {
  color: $white;
  background-color: $blue;
  border: 2px solid $blue;
  &:hover, &:active, &:focus {
    background-color: #355F76;
    border-color: $blue;
    color: $white !important;
  }
}

a.button-cta.tertiary {
  color: #355F76 !important;
  background-color: #CDE2EE;
  border: 2px solid $blue;
  &:visited {
    // color: $link !important;
  }
  &:hover, &:active, &:focus {
    background-color: #CDE2EE;
    color: #355F76 !important;
  }
}

form input[type="submit"] {
  border: 2px solid $blue;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;

  thead th,
  tbody th {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $white;
    font-weight: 400;
    text-align: left;
    padding: 1rem;
    background-color: $dark-blue;
    border: 1px solid $dark-blue;
    > div,
    > div > span {
      color: $dark-blue;
    }
  }
  
  tbody td {
    padding: .5rem 1rem;
    border: 1px solid #E5E5E5;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: #F5F5F5;
    }
    td p {
       margin: 0;
    }
  }
}

mark {
  background-color: $blue;
  color: $dark-blue;
}

dl dt {
  font-weight: 700;
}

code, pre {
  background-color: #E5E5E5;
  a {
    text-decoration: none;
    color: $white;
  }
}

pre {
  padding: .5rem 1rem;
  border: 1px solid #707070;
}

pre > code,
table code {
  border: none;
  background-color: transparent;
}

hr {
  border-width: 1px;
  border-color: $blue;
}

.admonitionblock.note, .note, .admonitionblock.tip, .tip {
  tbody .icon {
    background-color: $green;
  }
  tbody .content {
    background-color: $gray-0;
  }
}

.full-width-bg {
  margin: 0 -13rem;
  padding: 0 13rem;
  @media screen and (max-width: 1170px) {
    margin: 0 -6rem;
    padding: 0 6rem;
  }
  @media screen and (max-width: 480px) {
    margin: 0 -2rem;
    padding: 0 2rem;
  }
}

.component {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.component-slim {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Changes type to readable color on a dark background
.dark-bg {
  background-color: #454545;

  &.light-blue {
    background-color: $blue;
  }
}

.dark-bg {
  *, p, h2 {
    color: $white;
  }

  a, a i {
    color: $white !important;
    &:hover, &:active, &:focus {
      color: $link-hover-dark-bg !important;
    }
    &:visited {
      // color: $link-visited-dark-bg !important;
    }
  }
}

.alt-type {
  font-family: 'Montserrat', sans-serif;
}

.alt-type-b {
  @extend .alt-type;
  font-weight: 600;
}

.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-caps {
  text-transform: uppercase;
}

.hide-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.text-orange {
  color: $orange;
}

ul.dashed {
  list-style-type: none;
  > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.1em; 
    margin-top: 2px;
    color: $blue;
  }
}

ul.chevron {
  list-style-type: none;
  > li:before {    
    content: '\203A';
    margin:0 5px 0 -15px;
    font-size: 1.5rem;
  }

  &.orange {
    > li:before {
      color: $orange;
    }
  }
}

.margin-tb-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-tb-xs {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.margin-tb-sm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-tb-md {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-tb-lg {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.margin-tb-xl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.padding-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-tb-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-tb-md {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-tb-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-tb-xl {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.justify-self {
  &-start {
    justify-self: start !important;
  }
  &-center {
    justify-self: center !important;
  }
  &-end {
    justify-self: end !important;
  }
}

.align-self {
  &-start {
    align-self: start !important;
  }
  &-center {
    align-self: center !important;
  }
  &-end {
    align-self: end !important;
  }
}

.callout {
  padding: 2rem;

  &-slim {
    padding: .5rem;
  }
}

.callout,
.callout-slim {
  &.orange {
    border: 1px solid $orange;
  }
  &.blue {
    border: 1px solid $blue;
  }
}
