// PROJECT color palette

$blue: #589FC5;
$dark-blue: #005D8F;
$orange: #FF6400;
$green: #E3EFD0;

$text-base-color: #454545;

// Overwrites link colors in /core/colors.scss
$link : #005D8F;
$link-hover : #005D8F;
$link-visited : #005D8F;

$link-dark-bg : #98D5E7;
$link-visited-dark-bg : #98D5E7;
$link-hover-dark-bg : #E49EFF;
