.highlights-alternating-inline-block {
  padding: 2rem 0 4rem 0;

  .block-content,
  .block-image{
    align-self: center;
    justify-self: center;
  }

  @media screen and (max-width: 768px) {
    .block-image{
      order: 0;
    } 
    .block-content{
      order: 1;
    } 
  }
}