---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

$baseurl: "{{ site.baseurl }}";

@import "core/global";
@import "core/grid";
@import "core/colors";
@import "core/asciidoc";
@import "core/includes/header-navigation";
@import "core/includes/product-download-band";
@import "core/includes/quick-pitch-band";
@import "core/includes/secondary-page-title-band";
@import "core/includes/download-announcement-band";
@import "core/includes/two-column-content-band";
@import "core/includes/mid-page-cta-band";
@import "core/includes/docs-archive-subnav";
@import "core/includes/contributions-band";
@import "core/includes/big-three-subnav-band";
@import "core/includes/video-content-band";
@import "core/includes/highlights-inline-images-band";
@import "core/includes/highlights-alternating-images-band";
@import "core/includes/highlights-three-columns-band";
@import "core/includes/download-release-band";
@import "core/includes/contact-form-band";

@import "project-colors";
@import "components";
@import "infinispan";
@import "layouts/blog";
@import "layouts/community";
@import "layouts/features";
@import "layouts/documentation";
@import "layouts/get-started";
@import "layouts/tutorial";
@import "layouts/downloads";
@import "layouts/use-case";
@import "layouts/introduction";
@import "includes/project-footer";
@import "includes/redhat-footer";
@import "includes/share-page";
@import "includes/header-navigation";
@import "includes/homepage-features-band";
@import "includes/homepage-hero-band";
@import "includes/recent-posts-band";
@import "includes/accordion";
@import "includes/truncate-list";
