/* modification for button copy */

.clipboard {
  float: right;
  font-family: FontAwesome;
  padding: 0rem;
  line-height: .5rem;
  color: $grey-4 !important;
  background-color: transparent !important;
  border: transparent !important;
  cursor: pointer;
}
.clipboard:hover {
  color: $copy-hover !important;
}
