.homepage-hero-band {
  background-image: url($baseurl + '/assets/images/homepage/infinispanbg_1200.png');
  background-repeat: repeat;
  background-size: auto;
  background-position: top right;

  h1 {
    font-weight: 200;
  }
}
