.recent-posts-band {
  background-color: $dark-blue !important;

  .block-item {
    background-color: $blue;
    padding: 2rem;
    margin: .5rem 0;

    h6 > a {
      color: $white !important;
      font-family: inherit;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
