.cf-footer {
  background-color: $black;
  font-size: .75rem;
  font-weight: 200;

  .cf-flexcontainer {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    align-items: center;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: start;
      padding: 1.5rem 0;
    }

    .cf-logo-footer {
      display: flex;
      align-items: center;
      img {
        min-width: 350px;
        @media screen and (max-width: 1024px) {
          min-width: 300px;
        }
      }
    }

    .cf-license {
      color: $grey-1;

      a {
        color: $grey-1;
        font-size: .75rem;
      }

      @media screen and (max-width: 1024px) {
        justify-self: left;
        padding: 1rem 0;
      }
    }
  }
}
