.downloads {
  .alert {
    margin-bottom: 0;
  }
}


.download > .content,
.download-archive > .content,
.cache-store-implementations > .content,
.hotrod-clients > .content,
.integrations > .content,
.release-notes > .content {
  padding-top: 0;
}

.download-archive .archive-item-wrapper,
.integrations .item-wrapper {
  grid-column: span 2;

  @media screen and (max-width: 1024px) {
    grid-column: span 4;
  }

  @media screen and (max-width: 768px) {
    grid-column: span 12;
  }

  .archive-item {
    margin: 1rem 0;
  }

}

.cache-store-implementations .item-wrapper,
.hotrod-clients .item-wrapper {
  grid-column: span 3;

  @media screen and (max-width: 1024px) {
    grid-column: span 6;
  }

  @media screen and (max-width: 768px) {
    grid-column: span 12;
  }

  .item {
    margin: 1rem 0;

    h6 {
      display: inline-block;
    }
  }

}

.release-notes {
  .item-wrapper {
      margin: 1rem 0;

      grid-column: span 3;

      @media screen and (max-width: 1024px) {
        grid-column: span 6;
      }

      @media screen and (max-width: 768px) {
        grid-column: span 12;
      }

      h6 {
        display: inline;
      }

      ul {
        padding-left: 20px;
      }
      .button-cta {
        margin-top: 1rem;
        margin-left: 0;
      }
  }
}
