---
layout: base
---

{% include breadcrumbs-band.html page_type="Downloads" page_type_slug="download" %}
{% include ispn-versions.html %}

<div class="grid-wrapper">
    <div class="width-10-12 width-12-12-m">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="width-12-12">
        <p>Use the Infinispan Server image on your favorite container platform (Docker, OCI, etc.) with the following
            command:</p>
        <pre>docker pull quay.io/infinispan/server:{{ stable_minor }}</pre>
    </div>
</div>
