---
layout: base
---

<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>

<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 margin-tb-xs">
      <div class="alert alert-success margin-tb-0">
        <div class="grid-wrapper">
          <div class="width-1-12 justify-self-center align-self-center">
            <i class="fas fa-info-circle text-orange fa-3x"></i>
          </div>
          <div class="width-11-12 align-self-center">
            <b>Starting with Infinispan 10, we no longer offer a downloadable distribution of the embedded artifacts. Use your favourite dependency management tool (Maven / Gradle / Ivy) using the provided instructions.</b>
          </div>
        </div>
      </div>
    </div>
    <div class="width-12-12 callout orange margin-tb-xs">
      <h3 class="margin-tb-0">Current Stable Release: Infinispan {{ site.data.ispn.stable.version}}</h3>
      <br/>
      <div class="grid-wrapper">
        <div class="width-3-12 width-12-12-m">
          <b>"{{ site.data.ispn.stable.codename}}"</b><br/>
          <b>Release date: {{ site.data.ispn.stable.release_date}}</b>
        </div>
        <div class="width-3-12 width-12-12-m">
          <i class="fas fa-download text-orange"></i> <a href="{{ site.data.ispn.stable.download.server}}">Server</a> <a href="{{ site.data.ispn.stable.download.server}}.sha1">(SHA-1)</a><br/>
          <i class="fas fa-download text-orange"></i> <a href="{{ site.data.ispn.stable.download.wfmodules}}">WildFly Modules</a> <a href="{{ site.data.ispn.stable.download.wfmodules}}.sha1">(SHA-1)</a>
        </div>
        <div class="width-3-12 width-12-12-m">
          <i class="fas fa-pencil-alt text-orange"></i> <a href="{{site.baseurl}}/release-notes#{{ site.data.ispn.stable.minor_version}}">Release Notes</a><br/>
          <i class="fas fa-bug text-orange"></i> <a href="{{ site.data.ispn.stable.fixed_issues}}">Fixed issues</a>
        </div>
        <div class="width-3-12 width-12-12-m">
          <i class="fas fa-cloud-download-alt text-orange"></i> <a href="{{site.baseurl}}/download/#mvn1101Final">Dependency Coordinates</a><br/>
          <i class="fas fa-cloud-download-alt text-orange"></i> <a href="{{site.baseurl}}/download/#docker1101Final">Container Images</a>
        </div>
      </div>
    </div>
    <div class="width-7-12 width-12-12-m callout-slim blue text-centered margin-tb-xs">
      <b>Looking for a fully supported version of Infinispan?  <a href="LINK_NEEDED">Download Red Hat Data Grid</a></b>
    </div>
    <div class="width-5-12 width-12-12-m align-self-center justify-self-center margin-tb-xs">
      <b>Looking for an older version?</b> <i class="fas fa-download text-orange"></i> <a href="{{site.baseurl}}/download-archive">Infinispan Download Archive</a>
    </div>
  </div>
  <div class="grid-wrapper text-centered margin-tb-lg">
    <div class="width-4-12 width-12-12-m">
      <h4><a href="{{site.baseurl}}/cache-store-implementations">Persistent Cache Stores</a></h4>
      <p>Cache stores are part of the core Infinispan distribution and therefore are developed and released in-sync with Infinispan itself. Most of these cache stores are included in the infinispan-embedded JAR. Those which require additional dependencies are available in separate artifacts.</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4><a href="{{site.baseurl}}/hotrod-clients">Hot Rod Clients</a></h4>
      <p>Hot Rod is a wire protocol that Infinispan clients use to talk to a remote grid. It is a binary, platform-independent protocol that was developed in the open as a part of Infinispan.</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4><a href="{{site.baseurl}}/integrations">Integrations</a></h4>
      <p>This Is a short description of the feature to give the user an idea of how Infinispan helps them with their data management.</p>
    </div>
  </div>
</div>
