---
layout: base
---

{% include breadcrumbs-band.html page_type="Downloads" page_type_slug="download" %}

{{ content }}

<div class="grid-wrapper">
  {% for versions_hash in site.data.ispn.old %}
    <div class="archive-item-wrapper">
      <div class="archive-item">
        {% if versions_hash[1].version %}
          <b>Version {{ versions_hash[1].version | split:".Final" }}</b><br/>
        {% elsif versions_hash[1].minor_version %}
          <b>Version {{ versions_hash[1].minor_version }}</b><br/>
        {% endif %}

        {% if versions_hash[1].codename %}
          "{{ versions_hash[1].codename }}"<br/>
        {% endif %}

        {% if versions_hash[1].release_date %}
          {{ versions_hash[1].release_date }}<br/>
        {% endif %}

        <br/>

        {% if versions_hash[1].download.all %}
          <i class="fas fa-download text-orange"></i>
          <a href="{{ versions_hash[1].download.all }}">Embedded</a> <a href="{{ versions_hash[1].download.all }}.sha1">(SHA-1)</a><br/>
        {% endif %}


        {% if versions_hash[1].download.bin %}
          <i class="fas fa-download text-orange"></i>
          <a href="{{ versions_hash[1].download.bin }}">Minimal</a> <a href="{{ versions_hash[1].download.bin }}.sha1">(SHA-1)</a><br/>
        {% endif %}

        {% if versions_hash[1].download.server %}
          <i class="fas fa-download text-orange"></i>
          <a href="{{ versions_hash[1].download.server }}">Server</a> <a href="{{ versions_hash[1].download.server }}.sha1">(SHA-1)</a><br/>
        {% endif %}

        {% if versions_hash[1].download.wfmodules %}
          <i class="fas fa-download text-orange"></i>
          <a href="{{ versions_hash[1].download.wfmodules }}">WildFly modules</a> <a href="{{ versions_hash[1].download.wfmodules }}.sha1">(SHA-1)</a><br/>
        {% endif %}

        {% if versions_hash[1].download.wfserver %}
          <i class="fas fa-download text-orange"></i>
          <a href="{{ versions_hash[1].download.wfserver }}">Legacy WildFly-based Server</a> <a href="{{ versions_hash[1].download.wfserver }}.sha1">(SHA-1)</a><br/>
        {% endif %}

        {% if versions_hash[1].download.docker %}
          <i class="fas fa-download text-orange"></i>
          <a href="{{ versions_hash[1].download.docker }}">Docker</a><br/>
        {% endif %}

        <i class="fas fa-pencil-alt text-orange"></i>
        <a href="{{site.baseurl}}/release-notes/#{{versions_hash[1].minor_version}}">Release Notes</a><br/>

        <i class="fas fa-bug text-orange"></i>
        <a href="{{versions_hash[1].fixed_issues}}">Fixed issues</a><br/>
      </div>
    </div>
  {% endfor %}
</div>