---
layout: base
---

{% include breadcrumbs-band.html page_type="Downloads" page_type_slug="download" %}

<div class="grid-wrapper">
  <div class="width-10-12 width-12-12-m">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="width-12-12">
    <h6>Maven</h6>
    <p>Add the following to the dependencies declared in your <code>pom.xml</code> file</p>
    <pre>
      :preserve        
        ...
        &lt;dependency&gt;
          &lt;groupId&gt;#{groupId}&lt;/groupId&gt;
          &lt;artifactId&gt;#{artifactId}&lt;/artifactId&gt;
          &lt;version&gt;#{version}&lt;/version&gt;
        &lt;/dependency&gt;
        ...
    </pre>
    
    <h6>Gradle</h6>
    <p>Add the following to the dependencies declared in your <code>build.gradle</code></p>
    <pre>
      :preserve        
        ...
        dependencies {
          ...
          implementation '#{groupId}:#{artifactId}:#{version}'
          ...
        }
        ...
    </pre>
    <h6>Ivy</h6>
    <p>Add the following to the dependencies declared in your <code>ivy.xml</code> file</p>
    <pre>
      :preserve        
        ...
        &lt;dependencies&gt;
          ...
          &lt;dependency org="#{groupId}" name="#{artifactId}" version="#{version}"/&gt;
          ...
        &lt;/dependencies&gt;
        ...
    </pre>
  </div>
</div>
