---
layout: base
---

{% include breadcrumbs-band.html page_type="Downloads" page_type_slug="download" %}

{{ content }}

{% assign infinispan = site.data.projects.projects.infinispan %}
<div class="grid-wrapper">
  {% for entry in infinispan %}
    {% unless entry[0] == "github" or entry[1].alias == "stable" or entry[1].alias == "dev" %}
      {% assign ver = entry[1] %}
      <div class="archive-item-wrapper">
        <div class="archive-item">
          {% if ver.version %}
            <b>Version {{ ver.version | split:".Final" }}</b><br/>
          {% else %}
            <b>Version {{ entry[0] }}</b><br/>
          {% endif %}

          {% if ver.codename %}
            "{{ ver.codename }}"<br/>
          {% endif %}

          {% if ver.release_date %}
            {{ ver.release_date }}<br/>
          {% endif %}

          <br/>

          {% if ver.assets.all %}
            <i class="fas fa-download text-orange"></i>
            <a href="{{ ver.assets.all }}">Embedded</a> <a href="{{ ver.assets.all }}.sha1">(SHA-1)</a><br/>
          {% endif %}

          {% if ver.assets.bin %}
            <i class="fas fa-download text-orange"></i>
            <a href="{{ ver.assets.bin }}">Minimal</a> <a href="{{ ver.assets.bin }}.sha1">(SHA-1)</a><br/>
          {% endif %}

          {% if ver.assets.server %}
            <i class="fas fa-download text-orange"></i>
            <a href="{{ ver.assets.server }}">Server</a> <a href="{{ ver.assets.server }}.sha1">(SHA-1)</a><br/>
          {% endif %}

          {% if ver.assets.wfmodules %}
            <i class="fas fa-download text-orange"></i>
            <a href="{{ ver.assets.wfmodules }}">WildFly modules</a> <a href="{{ ver.assets.wfmodules }}.sha1">(SHA-1)</a><br/>
          {% endif %}

          {% if ver.assets.wfserver %}
            <i class="fas fa-download text-orange"></i>
            <a href="{{ ver.assets.wfserver }}">Legacy WildFly-based Server</a> <a href="{{ ver.assets.wfserver }}.sha1">(SHA-1)</a><br/>
          {% endif %}

          {% if ver.assets.docker %}
            <i class="fas fa-download text-orange"></i>
            <a href="{{ ver.assets.docker }}">Docker</a><br/>
          {% endif %}

          <i class="fas fa-pencil-alt text-orange"></i>
          <a href="{{site.baseurl}}/release-notes#{{ entry[0] }}">Release Notes</a><br/>

          <i class="fas fa-bug text-orange"></i>
          <a href="{{ ver.release_notes }}">Fixed issues</a><br/>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>
