---
layout: base
---

<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>

<div class="component-slim homepage-usedby-band">
  <div class="grid-wrapper">
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">1</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Get Infinispan</h3>
      <p>Add a username and password then run the following command:
        <pre><code>
podman run -it -e USER=“username” -e PASS=“password”
quay.io/infinispan/server:11.0
        </code></pre></p>
    </div>

    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">2</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Open the Console</h3>
      <p>Open <code>localhost:11222</code> in any browser and then log in.</p>
    </div>

    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">3</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Create a cache</h3>
      <p>Provide a name for your cache and choose a template that configures it.</p>
    </div>

    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">4</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Add Data</h3>
      <ol>
        <li>Select the cache you created from the data container.</li>
        <li>Specify “hello” as the key and “world” as the value.</li>
        <li>Optionally attach a lifespan or maximum idle time to your entry.</li>
        <li>Add the entry to your cache.</li>
      </ol>
    </div>
  </div>
</div>
<hr>
<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>That’s it! You’re now using Infinispan.</h3>
      <p>Visit <a href="LINK_NEEDED">Getting Started with Infinispan Server</a> if you want to run on bare-metal. If you want to run in your application, go to <a href="LINK_NEEDED">Embedding Infinispan</a>.</p>
    </div>
  </div>
</div>
