---
layout: base
---

<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>

<div class="component-slim homepage-usedby-band">
  <div class="grid-wrapper">
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">1</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Get Infinispan</h3>
      <p>Add a username and password, then run the one of the following commands:
        <pre><code>
podman run -it -p 11222:11222 -e USER="username" -e PASS="password" --net=host quay.io/infinispan/server:{{site.data.ispn.stable.minor_version}}
        </code></pre></p>
        <pre><code>
docker run -it -p 11222:11222 -e USER="username" -e PASS="password" quay.io/infinispan/server:{{site.data.ispn.stable.minor_version}}
        </code></pre></p>
    </div>

    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">2</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Open the Console</h3>
      <p>Open <code>localhost:11222</code> in any browser and then log in.</p>
      <p><img src="{{site.baseurl}}/assets/images/getting-started/welcome.png" title="Welcome to the Console"></p>
    </div>

    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">3</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Create a cache</h3>
      <p>Provide a name for your cache and create it from a template.</p>
      <p><img src="{{site.baseurl}}/assets/images/getting-started/create-cache.png" title="Create cache"></p>
    </div>

    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">4</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Add data</h3>
      <ol>
        <li>Select your cache and then *Add entry*.</li>
        <li>Specify "hello" as the key and "world" as the value.</li>
        <li>Optionally specify the time to live or maximum idle time.</li>
        <li>Select *Add* to the entry to your cache.</li>
      </ol>
      <p>After you add data, you can enter the key to retrieve and view the entry.</p>
      <p><img src="{{site.baseurl}}/assets/images/getting-started/get-entry.png" title="Get entry"></p>
    </div>
  </div>
</div>
<hr>
<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>That’s it! You’re now using Infinispan.</h3>
      <p>Visit <a href="{{site.data.ispn.stable.docs.quickstart}}">Getting Started with Infinispan Server</a> if you want to run on bare-metal. If you want to run in your application, go to <a href="{{site.data.ispn.stable.docs.embedded}}">Embedding Infinispan</a>.</p>
    </div>
  </div>
</div>
