---
layout: base
---

<div class="guide-page">
   <div class="guide-breadcrumb">
      <a href="/tutorials/">&lsaquo; All Tutorials</a>
   </div>

   <div class="guide-layout">
      <div class="guide-content">
         {{ content }}
      </div>

      {% if page.source_dir %}
      <aside class="guide-sidebar">
         <div class="guide-sidebar-card">
            <h4>Get the Code</h4>
            <a href="https://github.com/infinispan/infinispan-simple-tutorials/tree/main/{{ page.source_dir }}"
               target="_blank" rel="noopener">
               <i class="fab fa-github"></i> Go to Repo
            </a>
         </div>
      </aside>
      {% endif %}
   </div>
</div>
