---
layout: base
---

<div class="component-slim guide-page">
   <div class="guide-breadcrumb">
      <a href="/tutorials/">Tutorials</a> &rsaquo; {{ page.title }}
   </div>

   <div class="guide-content">
      {{ content }}
   </div>

   {% if page.source_dir %}
   <div class="guide-source-link">
      <a href="https://github.com/infinispan/infinispan-simple-tutorials/tree/main/{{ page.source_dir }}"
         target="_blank" rel="noopener">
         View source code on GitHub &rarr;
      </a>
   </div>
   {% endif %}
</div>
