---
layout: base
---

<div class="guide-page">
   <div class="guide-breadcrumb">
      <a href="/tutorials/">&lsaquo; All Tutorials</a>
   </div>

   <div class="guide-layout">
      <div class="guide-content">
         <h1>{{ page.title }}</h1>
         {{ content }}
      </div>

      {% assign guide_slug = page.name | replace: '.adoc', '' %}
      {% assign guide_data = nil %}
      {% for g in site.data.guides.guides %}
         {% if g.id == guide_slug %}
            {% assign guide_data = g %}
            {% break %}
         {% endif %}
      {% endfor %}
      {% if guide_data.source-dir %}
      <aside class="guide-sidebar">
         <div class="guide-sidebar-card">
            <h4>Source Code</h4>
            <a href="{{ site.github_tutorials_url }}/{{ guide_data.source-dir }}"
               target="_blank" rel="noopener">
               <i class="fab fa-github"></i> View on GitHub
            </a>
         </div>
      </aside>
      {% endif %}
   </div>
</div>
