---
layout: base
---


{% include breadcrumbs-band.html page_type="Downloads" page_type_slug="download" %}

<div class="component-slim grid-wrapper">
  <div class="width-12-12">
    {{ content }}
  </div>
</div>


{% for entry in site.data.ispn.integrations %}
<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h4>{{entry[1].title}}</h4>
      {% assign text = entry[1].text %}
      <p class="margin-tb-sm">{% include {{ text }} %}&nbsp; &nbsp;<i class="fab fa-github text-orange"></i><a href="{{entry[1].github}}"> View project on Github</a></p>
    </div>
    {% for release in entry[1].releases %}
      <div class="item-wrapper">
        <div class="item">
          <b>Version: {{ release[0] }}</b><br/>
          {{ release[1].release_date }}<br/>

          {% if release[1].maven_artifact_id %}
            <i class="fas fa-cloud-download-alt text-orange"></i> <a href="{{ release[1].maven_artifact_id }}"> Maven/Gradle/Ivy</a>
            <br/>
          {% endif %}

          {% if entry[1].external_artifact_type %}
           &nbsp;<i class="fas fa-chevron-right text-orange"></i>&nbsp;&nbsp;<a href="LINK_NEEDED">{{ entry[1].external_artifact_type }}</a>
            <br/>
          {% endif %}

          <i class="fas fa-cloud-download-alt text-orange"></i> <a href="LINK_NEEDED"> Release Notes</a>
          <br/>

        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
