---
layout: project
---

.row
  #equalHeightsLayout
    #leftcol.col-md-3.well
      = partial( page.leftcol_partial.nil? ? 'leftcol.html.haml' : page.leftcol_partial )

    #maincol.col-md-9
      ~ content
