---
layout: base
---

<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>

<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>Tutorials</h3>
      <p>Tutorials are a way to get into Infinispan using a step-by-step approach.</p>
      <div class="grid-wrapper">
        <div class="width-1-12 width-12-12-m align-self-center">
          <img src="{{site.baseurl}}/assets/images/tutorials/icon-tutorial.png">
        </div>
        <div class="width-5-12 width-12-12-m">
          <a class="alt-type" href="{{site.baseurl}}/tutorials/embedded/">The Weather APP tutorial</a>
          <p class="margin-tb-xs">A complete tutorial on how to embed Infinispan in your application, progressing from a simple local-only cache to a fully-distributed compute grid</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include tutorials-examples-band.html %}
{% include tutorials-quickstarts-band.html %}

<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>Demos</h3>
      <p>Over time developers and contributors have developed demo applications that use Infinispan. This set of demos showcase type of applications that be built with Infinispan and they’re more complex than the tutorials above. Support for these demos is best effort. An index of these demos, along with a brief summary and information on key Infinispan features, can be found in the <a href="https://github.com/infinispan-demos" target="_blank">Infinispan Github Repo</a>.</p>
    </div>
  </div>
</div>