---
layout: tutorial
title: Embedded Step-by-Step Tutorial
---
- tutorial_github_url = "https://github.com/infinispan/infinispan-embedded-tutorial"
- tutorial_step = -1
- @tutorial_steps = [ "The Weather Application", "Initializing the CacheManager", "Putting stuff in the cache", "Making entries expire", "Configuring the default cache", "Clustering the application", "Listen to changes in the cluster", "Listen to changes in the cache", "Grouping entries together", "A custom externalizer", "Temperature averages with map/reduce", "Declarative configuration" ]
.row
  %ul.breadcrumb
    %li
      %a{:href => "/tutorials"} Tutorials
      %span.divider /
    %li.active The Weather App
  #columns
    #leftcol.col-md-3.well
      = partial( 'tutorialmenu.html.haml', { "tutorial_steps" => @tutorial_steps, "tutorial_step" => tutorial_step } )

    #maincol.col-md-9
      %h2 The Weather App
      %p
        If you want to learn how to use Infinispan embedded into your Java application, you've come to the right place. This tutorial will guide you 
        through all of the steps required to get a simple Infinispan-based application running, starting with a local-only instance and ending with a 
        fully clustered application. The application will retrieve the current weather conditions for some cities and store them in a cache, for quicker 
        retrieval. It will also show how to configure the cache for expiration, so that entries get removed as they age. It will then demonstrate how to 
        cluster multiple nodes together and reacting to events in the cluster. Finally, a computation of average temperatures per country will show the 
        power of the map/reduce functionality.
      %p
        For this tutorial you will need the following:
      %ul
        %li
          %a{:href => "http://www.oracle.com/technetwork/java/javase/downloads/index.html"}
            JDK 1.7
          or higher
        %li
          %a{:href => "http://maven.apache.org/"} Maven 3.2
          or higher
        %li A text-editor (or an IDE)
        %li
          %a{:href => "http://git-scm.com/"}
            Git
      %p
        This tutorial assumes you will be using the command-line to launch the various commands.
        The tutorial code itself is hosted as a project on
        %a{:href => "https://github.com/infinispan/infinispan-embedded-tutorial"} GitHub
        where each step has been enclosed and tagged in a separate commit. In this way you can easily see the changes being made to the code from each step to
        the next.
      %p
        So, to get things started, move on to the first step
      = partial( 'tutorialnav.html.haml', { "tutorial_steps" => @tutorial_steps, "tutorial_step" => tutorial_step, "tutorial_github_url" => tutorial_github_url } )
